openapi: 3.1.0
info:
  title: Fordefi Address Book Webhooks API
  version: 0.2.0
  description: These endpoints allow you to list the contacts in your address book.<br><br>To add/remove contacts, visit the Fordefi web console. See the <a href='https://docs.fordefi.com/user-guide/address-book'>user guide</a> for more info.
servers:
- url: https://api.fordefi.com/
  description: Production
security:
- bearerAuth: []
tags:
- name: Webhooks
  description: These endpoints allow you to manually trigger your pre-configured webhooks.<br><br><a href='https://docs.fordefi.com/reference/webhooks'>Use Webhooks</a> describes how to configure webhooks, validate them, and resend them. <br><br>Webhooks deliver the full set of details about the transaction as retrieved by a call to the <a href='https://docs.fordefi.com/api/latest/openapi/transactions/get_transaction_api_v1_transactions__id__get'>Get Transaction</a> endpoint.
paths:
  /api/v1/webhooks/test:
    post:
      tags:
      - Webhooks
      summary: Test Webhook
      description: Test a webhook.
      operationId: test_webhook_api_v1_webhooks_test_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TestWebhookRequest'
        required: true
      responses:
        '204':
          description: Successful Response
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefinedPreconditionError_TestWebhookErrorType_'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
        '500':
          description: Unexpected Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseError'
        '401':
          description: Unauthorized User
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseError'
        '403':
          description: Forbidden User
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseError'
        '408':
          description: Request Timeout
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseError'
        '429':
          description: Rate Limit Exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RateLimitError'
      callbacks:
        webhook_event:
          '{$request.body.url}':
            post:
              tags:
              - Webhooks
              summary: Webhook Event
              operationId: webhook_event__request_body_url__post
              requestBody:
                content:
                  application/json:
                    schema:
                      $ref: '#/components/schemas/WebhookEvent'
                required: true
              responses:
                '200':
                  description: Successful Response
                  content:
                    application/json:
                      schema: {}
                '422':
                  description: Validation Error
  /api/v1/webhooks/trigger/transaction/{id}:
    post:
      tags:
      - Webhooks
      summary: Trigger Transaction Webhook
      description: Trigger transaction create and latest state via webhooks.
      operationId: trigger_transaction_webhook_api_v1_webhooks_trigger_transaction__id__post
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
          description: ID of the transaction to send events for.
          title: Id
        description: ID of the transaction to send events for.
      responses:
        '204':
          description: Successful Response
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PreconditionFailedError'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
        '500':
          description: Unexpected Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseError'
        '401':
          description: Unauthorized User
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseError'
        '403':
          description: Forbidden User
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseError'
        '408':
          description: Request Timeout
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseError'
        '429':
          description: Rate Limit Exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RateLimitError'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceError'
  /api/v1/webhooks/trigger/audit-log/{id}:
    post:
      tags:
      - Webhooks
      summary: Trigger Audit Log Webhook
      description: Trigger audit log record delivery via webhooks.
      operationId: trigger_audit_log_webhook_api_v1_webhooks_trigger_audit_log__id__post
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
          description: ID of the audit log record to send events for.
          title: Id
        description: ID of the audit log record to send events for.
      responses:
        '204':
          description: Successful Response
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PreconditionFailedError'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
        '500':
          description: Unexpected Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseError'
        '401':
          description: Unauthorized User
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseError'
        '403':
          description: Forbidden User
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseError'
        '408':
          description: Request Timeout
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseError'
        '429':
          description: Rate Limit Exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RateLimitError'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceError'
components:
  schemas:
    TonTransactionMessage:
      properties:
        address:
          $ref: '#/components/schemas/TonAccountRepr'
          description: The sender of the message in a user friendly format.
        amount:
          type: string
          pattern: ^\d+$
          title: Amount
          description: The amount of nano tons to send.
          example: '1000000000000000000'
        payload:
          title: Payload
          description: The payload of the message.
          type: string
        state_init:
          title: State Init
          description: The state_init structure contains all the necessary information required to create the initial state of a smart contract.
          type: string
        comment:
          title: Comment
          description: A comment that is attached to the message.
          type: string
      type: object
      required:
      - address
      - amount
      title: TonTransactionMessage
    SuiCommandGasCoinArgument:
      properties:
        type:
          type: string
          const: gas_coin
          title: Type
          description: The type of the command argument.
      type: object
      required:
      - type
      title: SuiCommandGasCoinArgument
      description: The object for the SUI coin used to pay for gas.
    StarknetTransactionResult:
      properties:
        reversion:
          $ref: '#/components/schemas/StarknetReversion'
          description: Details whether the transaction was reverted or not.
        fees:
          $ref: '#/components/schemas/StarknetFees'
          description: The total fee of the first transaction on the trace.
        effects:
          $ref: '#/components/schemas/StarknetEffects'
          description: The effects of the transaction.
      type: object
      required:
      - reversion
      - fees
      - effects
      title: StarknetTransactionResult
    SuiObjectRef:
      properties:
        digest:
          type: string
          maxLength: 44
          minLength: 32
          pattern: ^[a-km-zA-HJ-NP-Z1-9]+$
          title: Digest
          description: The digest of the object.
          example: 9K8mnqJdxf3B7vgFmRhj9JqKqsN5AxvSgWk5faGshEta
        object_id:
          type: string
          maxLength: 66
          minLength: 66
          pattern: ^0[xX][a-fA-F0-9]+$
          title: Object Id
          description: The id of the object.
          example: '0x3300c18e7b931bdfc73dccf3e2d043ad1c9d120c777fff5aeeb9956224e5247a'
        version:
          type: string
          pattern: ^0*[1-9]\d*$
          title: Version
          description: The version of the object.
          example: '1000000000000000000'
      type: object
      required:
      - digest
      - object_id
      - version
      title: SuiObjectRef
    StacksAddressBookContactAddressRef:
      properties:
        chain_type:
          type: string
          const: stacks
          title: Chain Type
          description: The type of the chain.
        address:
          type: string
          maxLength: 171
          pattern: ^S[0-9A-Za-z._-]+$
          title: Address
          description: The address on the Stacks chain.
          example: SP3J4NWQXC312DK0GXVRZKSRFBZG8S5FG1D2160E9
        chains:
          items:
            $ref: '#/components/schemas/StacksChain'
          type: array
          title: Chains
          description: The chains the contact belongs to.
        memo:
          title: Memo
          description: Memo is an additional address feature used for identifying a recipient.
          type: string
      type: object
      required:
      - chain_type
      - address
      - chains
      title: StacksAddressBookContactAddressRef
    SuiFundsWithdrawalSource:
      type: string
      enum:
      - sender
      - sponsor
      title: SuiFundsWithdrawalSource
    SuiPureStringInput:
      properties:
        type:
          type: string
          const: string_pure_input
          title: Type
          description: The type of the pure input.
        value:
          type: string
          title: Value
          description: The string value of the pure input argument.
      type: object
      required:
      - type
      - value
      title: SuiPureStringInput
    ApprovalRequestState:
      type: string
      enum:
      - created
      - approved
      - insufficient_approvers
      - auto_approved
      - failed
      title: ApprovalRequestState
      description: Represents the whole approval request state
    SuiBalanceChangeEffect:
      properties:
        priced_asset:
          $ref: '#/components/schemas/PricedAsset'
          description: The asset information.
        diff:
          type: string
          pattern: ^-?\d+$
          title: Diff
          description: The amount of that was added to or deducted from the owner's balance. If the amount was deducted, the value is negative; if the amount was added, the value is positive.
          example: '1000000000000000000'
        address:
          $ref: '#/components/schemas/EnrichedSuiAddress'
          description: The address affected by the balance change.
      type: object
      required:
      - priced_asset
      - diff
      - address
      title: SuiBalanceChangeEffect
    ArchAddressBookContactAddressRef:
      properties:
        chain_type:
          type: string
          const: arch
          title: Chain Type
          description: The type of the chain.
        address:
          type: string
          maxLength: 44
          minLength: 32
          pattern: ^[a-km-zA-HJ-NP-Z1-9]+$
          title: Address
          description: The address on the Arch chain.
          example: 4fYNw3dojWmQ4dXtSGE9epjRGy9pFSx62YypT7avPYvA
        chains:
          items:
            $ref: '#/components/schemas/ArchChain'
          type: array
          title: Chains
          description: The chains the contact belongs to.
      type: object
      required:
      - chain_type
      - address
      - chains
      title: ArchAddressBookContactAddressRef
    StellarReversionState:
      type: string
      enum:
      - not_reverted
      - unknown_revert
      - insufficient_funds_gas_and_value
      title: StellarReversionState
    WebhookAuditLogEvent:
      properties:
        webhook_id:
          type: string
          format: uuid
          title: Webhook Id
        created_at:
          type: string
          format: date-time
          title: Created At
          description: The time of the webhook event creation in UTC.
        event_id:
          type: string
          format: uuid
          title: Event Id
          description: The unique ID of this event.
        attempt:
          type: integer
          minimum: 1.0
          title: Attempt
          description: The attempt number of this event.
        sent_at:
          type: string
          format: date-time
          title: Sent At
          description: The time the current event was sent in UTC.
        event:
          $ref: '#/components/schemas/AuditLogRecord'
          description: The audit log record.
        event_type:
          type: string
          const: audit_log
          title: Event Type
          description: The type of the event.
      type: object
      required:
      - webhook_id
      - created_at
      - event_id
      - attempt
      - sent_at
      - event
      - event_type
      title: WebhookAuditLogEvent
    SuiPublishCommand:
      properties:
        type:
          type: string
          const: publish
          title: Type
          description: The type of the command.
        modules:
          items:
            type: string
            example: SGVsbG8=
          type: array
          title: Modules
          description: The modules to publish.
        dependencies:
          items:
            type: string
          type: array
          title: Dependencies
          description: The dependencies of the modules.
      type: object
      required:
      - type
      - modules
      - dependencies
      title: SuiPublishCommand
      description: Publish a Move module.
    UtxoEffects:
      properties:
        inputs:
          items:
            $ref: '#/components/schemas/UtxoInput'
          type: array
          title: Inputs
          description: The inputs of the transaction.
        outputs:
          items:
            $ref: '#/components/schemas/UtxoOutput'
          type: array
          title: Outputs
          description: The outputs of the transaction.
        balance_changes:
          items:
            $ref: '#/components/schemas/UtxoBalanceChangeEffect'
          type: array
          title: Balance Changes
          description: The aggregated balance changes of vaults.
        total_value:
          type: string
          pattern: ^\d+$
          title: Total Value
          description: The total value of the transaction.
          example: '1000000000000000000'
        priced_asset:
          $ref: '#/components/schemas/PricedAsset'
          description: The asset information.
      type: object
      required:
      - inputs
      - outputs
      - balance_changes
      - total_value
      - priced_asset
      title: UtxoEffects
    AptosEffects:
      properties:
        balance_changes:
          items:
            $ref: '#/components/schemas/AptosBalanceChangeEffect'
          type: array
          title: Balance Changes
        transfers:
          items:
            $ref: '#/components/schemas/AptosTransferEffect'
          type: array
          title: Transfers
      type: object
      required:
      - balance_changes
      - transfers
      title: AptosEffects
    TransactionPolicyMatchActionType:
      type: string
      enum:
      - allow
      - block
      - require_approval
      title: TransactionPolicyMatchActionType
    ExchangeInternalTransferDetails:
      properties:
        is_internal:
          type: boolean
          title: Is Internal
          description: Is this transfer an internal transfer between two vaults.
        sender:
          $ref: '#/components/schemas/EnrichedExchangeAddress'
          description: The sender of the transaction.
        type:
          type: string
          const: internal_transfer
          title: Type
          description: A transaction from one exchange vault to another.
        recipient:
          $ref: '#/components/schemas/EnrichedExchangeAddress'
          description: The recipient of the transfer.
      type: object
      required:
      - is_internal
      - sender
      - type
      - recipient
      title: ExchangeInternalTransferDetails
    DirectMessagesList:
      properties:
        format:
          type: string
          const: direct
          title: Format
        messages:
          items:
            $ref: '#/components/schemas/DirectMessage'
          type: array
          title: Messages
          description: List of messages in direct format.
      type: object
      required:
      - format
      - messages
      title: DirectMessagesList
    SolanaMessage:
      properties:
        id:
          type: string
          format: uuid
          title: Id
          description: The unique identifier of the object in the Fordefi platform.
        created_at:
          type: string
          format: date-time
          title: Created At
          description: The date and time when the object was created.
        modified_at:
          type: string
          format: date-time
          title: Modified At
          description: The date and time when the object was last modified. Any change to any field of the resource is considered a modification.
        managed_transaction_data:
          description: 'Managed transaction data. Presented if the transaction was initiated from the Fordefi system itself, in contrast to unmanaged transactions (which are, for example, transfers of funds into a vault visible to Fordefi). '
          $ref: '#/components/schemas/ManagedTransactionData'
        signatures:
          items:
            $ref: '#/components/schemas/Signature'
          type: array
          title: Signatures
          description: The transaction signatures.
        note:
          title: Note
          description: An optional transaction note.
          type: string
        spam_state:
          $ref: '#/components/schemas/TransactionSpamState'
          description: '`automatically_set` if the transaction was automatically set as spam by Fordefi, `manually_set` if the transaction was manually set as spam by a user, and `unset` if the transaction was not set as spam.'
          default: unset
        direction:
          $ref: '#/components/schemas/TransactionDirection'
          description: The direction of the transaction.
        signed_externally:
          type: boolean
          title: Signed Externally
          description: Whether the transaction was signed by an external user (for example in case of imported vault).
          default: false
        interacted_vaults:
          items:
            $ref: '#/components/schemas/VaultRef'
          type: array
          title: Interacted Vaults
          description: The vaults that interacted with the transaction.
        related_transactions:
          title: Related Transactions
          description: The related transactions.
          items:
            $ref: '#/components/schemas/RelatedTransaction'
          type: array
        organization_id:
          type: string
          format: uuid
          title: Organization Id
          description: The organization that the transaction belongs to.
        state:
          $ref: '#/components/schemas/NonPushableTransactionState'
          description: The state of the message.
        state_changes:
          items:
            $ref: '#/components/schemas/NonPushableTransactionStateChange'
          type: array
          title: State Changes
          description: The state changes of the message.
        type:
          type: string
          const: solana_message
          title: Type
          description: Solana message type.
        solana_message_type:
          $ref: '#/components/schemas/SolanaMessageType'
          description: The type of the Solana message.
        solana_message_type_details:
          oneOf:
          - $ref: '#/components/schemas/PersonalMessageDetails'
          - $ref: '#/components/schemas/CreateSessionDetails'
          description: The details of the Solana message.
          discriminator:
            propertyName: type
            mapping:
              create_session_message_type: '#/components/schemas/CreateSessionDetails'
              personal_message_type: '#/components/schemas/PersonalMessageDetails'
        expected_result:
          description: Predicted result of the message execution. Only available for intents that Fordefi knows how to simulate, like ERC20 allowances and swaps created in the Fordefi app.
          $ref: '#/components/schemas/SolanaMessageResult'
        string_data:
          type: string
          title: String Data
          description: The message as a string.
        raw_data:
          type: string
          title: Raw Data
          description: The raw data of the message, encoded in base64
          example: SGVsbG8=
        chain:
          $ref: '#/components/schemas/EnrichedSolanaChain'
          description: The details of the chain that this message is on.
        sender:
          $ref: '#/components/schemas/EnrichedSolanaAddress'
          description: The sender of the message.
      type: object
      required:
      - id
      - created_at
      - modified_at
      - signatures
      - direction
      - interacted_vaults
      - organization_id
      - state
      - state_changes
      - type
      - solana_message_type
      - solana_message_type_details
      - string_data
      - raw_data
      - chain
      - sender
      title: SolanaMessage
    PersonRef:
      properties:
        id:
          type: string
          format: uuid
          title: Id
          description: The unique identifier of the user in the Fordefi platform.
        user_type:
          type: string
          const: person
          title: User Type
          description: The type of user. Can be a person, or (in programmatic scenarios) an API user or API Signer.
        name:
          title: Name
          description: The name of the user.
          example: John Doe
          type: string
        email:
          type: string
          title: Email
          description: The email of the user.
        state:
          $ref: '#/components/schemas/UserState'
          description: The state of the user in the organization.
        role:
          $ref: '#/components/schemas/UserRole'
          description: The role of the user.
      type: object
      required:
      - id
      - user_type
      - email
      - state
      - role
      title: PersonRef
    EvmChain:
      properties:
        chain_type:
          type: string
          const: evm
          title: Chain Type
          description: The type of the chain.
        named_chain_id:
          title: EvmChainName
          description: The EVM chain name can be either one of those supported by the default chains below or a custom chain name if one was added to your organization. <ul><li>`arbitrum_mainnet`</li><li>`arbitrum_sepolia`</li><li>`aster_mainnet`</li><li>`avalanche_chain`</li><li>`avalanche_fuji`</li><li>`base_mainnet`</li><li>`berachain_mainnet`</li><li>`blast_mainnet`</li><li>`bsc_mainnet`</li><li>`canto_mainnet`</li><li>`clink_mainnet`</li><li>`clink_testnet`</li><li>`conflux_mainnet`</li><li>`dymension_mainnet`</li><li>`ethereum_goerli`</li><li>`ethereum_holesky`</li><li>`ethereum_mainnet`</li><li>`ethereum_sepolia`</li><li>`fantom_mainnet`</li><li>`flare_mainnet`</li><li>`flare_testnet`</li><li>`gnosis_mainnet`</li><li>`hypercore_mainnet`</li><li>`hyperevm_mainnet`</li><li>`ink_mainnet`</li><li>`kava_mainnet`</li><li>`katana_mainnet`</li><li>`linea_mainnet`</li><li>`optimism_mainnet`</li><li>`pharos_mainnet`</li><li>`plasma_mainnet`</li><li>`manta_pacific_mainnet`</li><li>`mantle_mainnet`</li><li>`merlin_mainnet`</li><li>`monad_mainnet`</li><li>`polygon_mainnet`</li><li>`polygon_mumbai`</li><li>`polygon_zkevm_mainnet`</li><li>`reya_mainnet`</li><li>`robinhood_mainnet`</li><li>`rootstock_mainnet`</li><li>`scroll_mainnet`</li><li>`sei_mainnet`</li><li>`sonic_mainnet`</li><li>`tempo_mainnet`</li><li>`unichain_mainnet`</li><li>`xai_mainnet`</li><li>`x_layer_mainnet`</li><li>`zero_gravity_mainnet`</li><li>`zeta_mainnet`</li><li>`zklink_nova_mainnet`</li><li>`zksync_era_mainnet`</li></ul>
          type: string
          minLength: 1
        chain_id:
          type: integer
          minimum: 1.0
          title: EvmChainId
          description: The EVM chain ID can be either one of those supported by the default chains below or a custom chain ID if one was added to your organization. <ul><li>1=`ethereum_mainnet`</li><li>5=`ethereum_goerli`</li><li>10=`optimism_mainnet`</li><li>14=`flare_mainnet`</li><li>16=`flare_testnet`</li><li>30=`rootstock_mainnet`</li><li>56=`bsc_mainnet`</li><li>100=`gnosis_mainnet`</li><li>130=`unichain_mainnet`</li><li>137=`polygon_mainnet`</li><li>143=`monad_mainnet`</li><li>146=`sonic_mainnet`</li><li>169=`manta_pacific_mainnet`</li><li>196=`x_layer_mainnet`</li><li>250=`fantom_mainnet`</li><li>324=`zksync_era_mainnet`</li><li>999=`hyperevm_mainnet`</li><li>1030=`conflux_mainnet`</li><li>1100=`dymension_mainnet`</li><li>1101=`polygon_zkevm_mainnet`</li><li>1329=`sei_mainnet`</li><li>1337=`hypercore_mainnet`</li><li>1666=`aster_mainnet`</li><li>1672=`pharos_mainnet`</li><li>1729=`reya_mainnet`</li><li>2222=`kava_mainnet`</li><li>4200=`merlin_mainnet`</li><li>4217=`tempo_mainnet`</li><li>4663=`robinhood_mainnet`</li><li>5000=`mantle_mainnet`</li><li>7000=`zeta_mainnet`</li><li>7700=`canto_mainnet`</li><li>8453=`base_mainnet`</li><li>8818=`clink_mainnet`</li><li>8819=`clink_testnet`</li><li>9745=`plasma_mainnet`</li><li>16661=`zero_gravity_mainnet`</li><li>17000=`ethereum_holesky`</li><li>80001=`polygon_mumbai`</li><li>80094=`berachain_mainnet`</li><li>42161=`arbitrum_mainnet`</li><li>43113=`avalanche_fuji`</li><li>43114=`avalanche_chain`</li><li>57073=`ink_mainnet`</li><li>59144=`linea_mainnet`</li><li>81457=`blast_mainnet`</li><li>421614=`arbitrum_sepolia`</li><li>534352=`scroll_mainnet`</li><li>660279=`xai_mainnet`</li><li>747474=`katana_mainnet`</li><li>810180=`zklink_nova_mainnet`</li><li>11155111=`ethereum_sepolia`</li></ul>
        unique_id:
          type: string
          minLength: 1
          title: EvmChainUniqueId
          description: The unique EVM chain ID. </br>Can be either one of those supported by the default chains below or a custom numeric chain ID `evm_<numeric_chain_id>` if one was added to your organization. <ul><li>`"evm_1"`</li><li>`"evm_5"`</li><li>`"evm_10"`</li><li>`"evm_14"`</li><li>`"evm_16"`</li><li>`"evm_30"`</li><li>`"evm_56"`</li><li>`"evm_100"`</li><li>`"evm_130"`</li><li>`"evm_137"`</li><li>`"evm_143"`</li><li>`"evm_146"`</li><li>`"evm_169"`</li><li>`"evm_196"`</li><li>`"evm_250"`</li><li>`"evm_324"`</li><li>`"evm_999"`</li><li>`"evm_1030"`</li><li>`"evm_1100"`</li><li>`"evm_1101"`</li><li>`"evm_1329"`</li><li>`"evm_1337"`</li><li>`"evm_1666"`</li><li>`"evm_1672"`</li><li>`"evm_1729"`</li><li>`"evm_2222"`</li><li>`"evm_4200"`</li><li>`"evm_4217"`</li><li>`"evm_4663"`</li><li>`"evm_5000"`</li><li>`"evm_7000"`</li><li>`"evm_7700"`</li><li>`"evm_8453"`</li><li>`"evm_8818"`</li><li>`"evm_8819"`</li><li>`"evm_9745"`</li><li>`"evm_16661"`</li><li>`"evm_17000"`</li><li>`"evm_80001"`</li><li>`"evm_80094"`</li><li>`"evm_42161"`</li><li>`"evm_43113"`</li><li>`"evm_43114"`</li><li>`"evm_57073"`</li><li>`"evm_59144"`</li><li>`"evm_81457"`</li><li>`"evm_421614"`</li><li>`"evm_534352"`</li><li>`"evm_660279"`</li><li>`"evm_747474"`</li><li>`"evm_810180"`</li><li>`"evm_11155111"`</li><li>`"evm_ethereum_mainnet"`</li><li>`"evm_ethereum_goerli"`</li><li>`"evm_optimism_mainnet"`</li><li>`"evm_flare_mainnet"`</li><li>`"evm_flare_testnet"`</li><li>`"evm_rootstock_mainnet"`</li><li>`"evm_bsc_mainnet"`</li><li>`"evm_gnosis_mainnet"`</li><li>`"evm_unichain_mainnet"`</li><li>`"evm_polygon_mainnet"`</li><li>`"evm_monad_mainnet"`</li><li>`"evm_sonic_mainnet"`</li><li>`"evm_manta_pacific_mainnet"`</li><li>`"evm_x_layer_mainnet"`</li><li>`"evm_fantom_mainnet"`</li><li>`"evm_zksync_era_mainnet"`</li><li>`"evm_hyperevm_mainnet"`</li><li>`"evm_conflux_mainnet"`</li><li>`"evm_dymension_mainnet"`</li><li>`"evm_polygon_zkevm_mainnet"`</li><li>`"evm_sei_mainnet"`</li><li>`"evm_hypercore_mainnet"`</li><li>`"evm_aster_mainnet"`</li><li>`"evm_pharos_mainnet"`</li><li>`"evm_reya_mainnet"`</li><li>`"evm_kava_mainnet"`</li><li>`"evm_merlin_mainnet"`</li><li>`"evm_tempo_mainnet"`</li><li>`"evm_robinhood_mainnet"`</li><li>`"evm_mantle_mainnet"`</li><li>`"evm_zeta_mainnet"`</li><li>`"evm_canto_mainnet"`</li><li>`"evm_base_mainnet"`</li><li>`"evm_clink_mainnet"`</li><li>`"evm_clink_testnet"`</li><li>`"evm_plasma_mainnet"`</li><li>`"evm_zero_gravity_mainnet"`</li><li>`"evm_ethereum_holesky"`</li><li>`"evm_polygon_mumbai"`</li><li>`"evm_berachain_mainnet"`</li><li>`"evm_arbitrum_mainnet"`</li><li>`"evm_avalanche_fuji"`</li><li>`"evm_avalanche_chain"`</li><li>`"evm_ink_mainnet"`</li><li>`"evm_linea_mainnet"`</li><li>`"evm_blast_mainnet"`</li><li>`"evm_arbitrum_sepolia"`</li><li>`"evm_scroll_mainnet"`</li><li>`"evm_xai_mainnet"`</li><li>`"evm_katana_mainnet"`</li><li>`"evm_zklink_nova_mainnet"`</li><li>`"evm_ethereum_sepolia"`</li></ul>
      type: object
      required:
      - chain_type
      - chain_id
      - unique_id
      title: EvmChain
    Erc721:
      properties:
        address:
          $ref: '#/components/schemas/EvmAddress'
          description: The token address
        name:
          type: string
          title: Name
          description: The token name
        symbol:
          type: string
          title: Symbol
          description: The token symbol or ticker
        type:
          type: string
          const: erc721
          title: Type
          description: The type of the token
      type: object
      required:
      - address
      - name
      - symbol
      - type
      title: Erc721
    SuiChainUniqueId:
      type: string
      enum:
      - sui_mainnet
      - sui_testnet
      title: SuiChainUniqueId
    TonRawTransactionDetails:
      properties:
        type:
          type: string
          const: raw_transaction
          title: Type
          description: A transaction with a contract call.
        recipients:
          items:
            $ref: '#/components/schemas/EnrichedTonAddress'
          type: array
          title: Recipients
          description: The called contract.
      type: object
      required:
      - type
      - recipients
      title: TonRawTransactionDetails
    HyperliquidUsdClassTransferAction:
      properties:
        action_type:
          type: string
          const: usd_class_transfer
          title: Action Type
          description: The Hyperliquid action type.
        amount:
          type: string
          pattern: ^\d+(\.\d+)?$
          title: Amount
          description: Transfer amount as a decimal string.
          example: '1000000000000000000'
        to_perp:
          type: boolean
          title: To Perp
          description: Whether to move funds to perp (`true`) or to spot (`false`).
        nonce:
          type: integer
          title: Nonce
          description: Replay-protection nonce.
      type: object
      required:
      - action_type
      - amount
      - to_perp
      - nonce
      title: HyperliquidUsdClassTransferAction
      description: Move funds between spot and perp margin.
    SetCodeDetails:
      properties:
        type:
          type: string
          const: set_code
          title: Type
          description: A transaction that makes an EOA smart contract or disables it.
      type: object
      required:
      - type
      title: SetCodeDetails
    EndUserRef:
      properties:
        id:
          type: string
          format: uuid
          title: Id
          description: The unique identifier of the user in the Fordefi platform.
        user_type:
          type: string
          const: end_user
          title: User Type
          description: The type of the user.
        external_id:
          type: string
          title: External Id
          description: External id of the user.
          example: user|1234
        state:
          type: string
          enum:
          - active
          - deleted
          title: State
          description: The state of the user.
      type: object
      required:
      - id
      - user_type
      - external_id
      - state
      title: EndUserRef
    CosmosGasDebit:
      properties:
        gas_used:
          type: string
          pattern: ^\d+$
          title: Gas Used
          description: Gas used while processing the transaction.
          example: '1000000000000000000'
        total_fee:
          items:
            $ref: '#/components/schemas/CosmosCoinWithAmount'
          type: array
          title: Total Fee
          description: The total fee paid.
        fiat_prices:
          items:
            $ref: '#/components/schemas/Price'
          type: array
          title: Fiat Prices
          description: The prices of the coins used to pay the fee.
      type: object
      required:
      - gas_used
      - total_fee
      - fiat_prices
      title: CosmosGasDebit
    Signature:
      properties:
        data:
          type: string
          title: Data
          description: Signature on the transaction, encoded in base64 format.
          example: SGVsbG8=
        signed_by:
          description: The user who created this signature, `null` if the signature wasn't created by a Fordefi user.
          oneOf:
          - $ref: '#/components/schemas/PersonRef'
          - $ref: '#/components/schemas/ApiSignerRef'
          - $ref: '#/components/schemas/EndUserRef'
          - $ref: '#/components/schemas/ApiUserRef'
          discriminator:
            propertyName: user_type
            mapping:
              api_signer: '#/components/schemas/ApiSignerRef'
              api_user: '#/components/schemas/ApiUserRef'
              end_user: '#/components/schemas/EndUserRef'
              person: '#/components/schemas/PersonRef'
      type: object
      required:
      - data
      title: Signature
    CantonApproveTransferDetails:
      properties:
        type:
          type: string
          const: approve_transfer
          title: Type
          description: A transaction that approves pending incoming transfers.
      type: object
      required:
      - type
      title: CantonApproveTransferDetails
    EnrichedSolanaChain:
      properties:
        chain_type:
          type: string
          const: solana
          title: Chain Type
          description: The type of the chain.
        unique_id:
          $ref: '#/components/schemas/SolanaChainUniqueId'
          description: The type of the Solana-based chain.
        name:
          type: string
          minLength: 1
          title: Name
          description: The full blockchain name.
        native_currency_symbol:
          type: string
          minLength: 1
          title: Native Currency Symbol
          description: The native currency symbol.
          example: ETH
        native_currency_name:
          type: string
          minLength: 1
          title: Native Currency Name
          description: The native currency name.
          example: Ether
        blockchain_explorer:
          $ref: '#/components/schemas/BlockchainExplorer'
        logo_url:
          type: string
          maxLength: 2083
          minLength: 1
          format: uri
          title: Logo Url
          description: The logo URL of the chain.
        is_testnet:
          type: boolean
          title: Is Testnet
          description: Whether the chain is on a testnet.
        is_enabled:
          type: boolean
          title: Is Enabled
          description: Whether the chain is enabled.
      type: object
      required:
      - chain_type
      - unique_id
      - name
      - native_currency_symbol
      - native_currency_name
      - logo_url
      - is_testnet
      - is_enabled
      title: EnrichedSolanaChain
    CantonNativeTransferDetails:
      properties:
        type:
          type: string
          const: native_transfer
          title: Type
          description: A transaction involving the transfer of native Canton currency from one address to another.
        is_internal:
          title: Is Internal
          description: Is this transfer an internal transfer between two vaults. None if the recipient is unknown.
          type: boolean
      type: object
      required:
      - type
      title: CantonNativeTransferDetails
    CosmosAssetIdentifier:
      properties:
        type:
          type: string
          const: cosmos
          title: Type
          description: Cosmos asset identifier type.
        details:
          oneOf:
          - $ref: '#/components/schemas/CosmosNativeAssetIdentifierRequest'
          - $ref: '#/components/schemas/CosmosTokenAssetIdentifierRequest'
          discriminator:
            propertyName: type
            mapping:
              native: '#/components/schemas/CosmosNativeAssetIdentifierRequest'
              token: '#/components/schemas/CosmosTokenAssetIdentifierRequest'
        chain:
          $ref: '#/components/schemas/EnrichedCosmosChain'
      type: object
      required:
      - type
      - details
      - chain
      title: CosmosAssetIdentifier
    EnrichedEvmChain:
      properties:
        chain_type:
          type: string
          const: evm
          title: Chain Type
          description: The type of the chain.
        named_chain_id:
          title: EvmChainName
          description: The EVM chain name can be either one of those supported by the default chains below or a custom chain name if one was added to your organization. <ul><li>`arbitrum_mainnet`</li><li>`arbitrum_sepolia`</li><li>`aster_mainnet`</li><li>`avalanche_chain`</li><li>`avalanche_fuji`</li><li>`base_mainnet`</li><li>`berachain_mainnet`</li><li>`blast_mainnet`</li><li>`bsc_mainnet`</li><li>`canto_mainnet`</li><li>`clink_mainnet`</li><li>`clink_testnet`</li><li>`conflux_mainnet`</li><li>`dymension_mainnet`</li><li>`ethereum_goerli`</li><li>`ethereum_holesky`</li><li>`ethereum_mainnet`</li><li>`ethereum_sepolia`</li><li>`fantom_mainnet`</li><li>`flare_mainnet`</li><li>`flare_testnet`</li><li>`gnosis_mainnet`</li><li>`hypercore_mainnet`</li><li>`hyperevm_mainnet`</li><li>`ink_mainnet`</li><li>`kava_mainnet`</li><li>`katana_mainnet`</li><li>`linea_mainnet`</li><li>`optimism_mainnet`</li><li>`pharos_mainnet`</li><li>`plasma_mainnet`</li><li>`manta_pacific_mainnet`</li><li>`mantle_mainnet`</li><li>`merlin_mainnet`</li><li>`monad_mainnet`</li><li>`polygon_mainnet`</li><li>`polygon_mumbai`</li><li>`polygon_zkevm_mainnet`</li><li>`reya_mainnet`</li><li>`robinhood_mainnet`</li><li>`rootstock_mainnet`</li><li>`scroll_mainnet`</li><li>`sei_mainnet`</li><li>`sonic_mainnet`</li><li>`tempo_mainnet`</li><li>`unichain_mainnet`</li><li>`xai_mainnet`</li><li>`x_layer_mainnet`</li><li>`zero_gravity_mainnet`</li><li>`zeta_mainnet`</li><li>`zklink_nova_mainnet`</li><li>`zksync_era_mainnet`</li></ul>
          type: string
          minLength: 1
        chain_id:
          type: integer
          minimum: 1.0
          title: EvmChainId
          description: The EVM chain ID can be either one of those supported by the default chains below or a custom chain ID if one was added to your organization. <ul><li>1=`ethereum_mainnet`</li><li>5=`ethereum_goerli`</li><li>10=`optimism_mainnet`</li><li>14=`flare_mainnet`</li><li>16=`flare_testnet`</li><li>30=`rootstock_mainnet`</li><li>56=`bsc_mainnet`</li><li>100=`gnosis_mainnet`</li><li>130=`unichain_mainnet`</li><li>137=`polygon_mainnet`</li><li>143=`monad_mainnet`</li><li>146=`sonic_mainnet`</li><li>169=`manta_pacific_mainnet`</li><li>196=`x_layer_mainnet`</li><li>250=`fantom_mainnet`</li><li>324=`zksync_era_mainnet`</li><li>999=`hyperevm_mainnet`</li><li>1030=`conflux_mainnet`</li><li>1100=`dymension_mainnet`</li><li>1101=`polygon_zkevm_mainnet`</li><li>1329=`sei_mainnet`</li><li>1337=`hypercore_mainnet`</li><li>1666=`aster_mainnet`</li><li>1672=`pharos_mainnet`</li><li>1729=`reya_mainnet`</li><li>2222=`kava_mainnet`</li><li>4200=`merlin_mainnet`</li><li>4217=`tempo_mainnet`</li><li>4663=`robinhood_mainnet`</li><li>5000=`mantle_mainnet`</li><li>7000=`zeta_mainnet`</li><li>7700=`canto_mainnet`</li><li>8453=`base_mainnet`</li><li>8818=`clink_mainnet`</li><li>8819=`clink_testnet`</li><li>9745=`plasma_mainnet`</li><li>16661=`zero_gravity_mainnet`</li><li>17000=`ethereum_holesky`</li><li>80001=`polygon_mumbai`</li><li>80094=`berachain_mainnet`</li><li>42161=`arbitrum_mainnet`</li><li>43113=`avalanche_fuji`</li><li>43114=`avalanche_chain`</li><li>57073=`ink_mainnet`</li><li>59144=`linea_mainnet`</li><li>81457=`blast_mainnet`</li><li>421614=`arbitrum_sepolia`</li><li>534352=`scroll_mainnet`</li><li>660279=`xai_mainnet`</li><li>747474=`katana_mainnet`</li><li>810180=`zklink_nova_mainnet`</li><li>11155111=`ethereum_sepolia`</li></ul>
        unique_id:
          type: string
          minLength: 1
          title: EvmChainUniqueId
          description: The unique EVM chain ID. </br>Can be either one of those supported by the default chains below or a custom numeric chain ID `evm_<numeric_chain_id>` if one was added to your organization. <ul><li>`"evm_1"`</li><li>`"evm_5"`</li><li>`"evm_10"`</li><li>`"evm_14"`</li><li>`"evm_16"`</li><li>`"evm_30"`</li><li>`"evm_56"`</li><li>`"evm_100"`</li><li>`"evm_130"`</li><li>`"evm_137"`</li><li>`"evm_143"`</li><li>`"evm_146"`</li><li>`"evm_169"`</li><li>`"evm_196"`</li><li>`"evm_250"`</li><li>`"evm_324"`</li><li>`"evm_999"`</li><li>`"evm_1030"`</li><li>`"evm_1100"`</li><li>`"evm_1101"`</li><li>`"evm_1329"`</li><li>`"evm_1337"`</li><li>`"evm_1666"`</li><li>`"evm_1672"`</li><li>`"evm_1729"`</li><li>`"evm_2222"`</li><li>`"evm_4200"`</li><li>`"evm_4217"`</li><li>`"evm_4663"`</li><li>`"evm_5000"`</li><li>`"evm_7000"`</li><li>`"evm_7700"`</li><li>`"evm_8453"`</li><li>`"evm_8818"`</li><li>`"evm_8819"`</li><li>`"evm_9745"`</li><li>`"evm_16661"`</li><li>`"evm_17000"`</li><li>`"evm_80001"`</li><li>`"evm_80094"`</li><li>`"evm_42161"`</li><li>`"evm_43113"`</li><li>`"evm_43114"`</li><li>`"evm_57073"`</li><li>`"evm_59144"`</li><li>`"evm_81457"`</li><li>`"evm_421614"`</li><li>`"evm_534352"`</li><li>`"evm_660279"`</li><li>`"evm_747474"`</li><li>`"evm_810180"`</li><li>`"evm_11155111"`</li><li>`"evm_ethereum_mainnet"`</li><li>`"evm_ethereum_goerli"`</li><li>`"evm_optimism_mainnet"`</li><li>`"evm_flare_mainnet"`</li><li>`"evm_flare_testnet"`</li><li>`"evm_rootstock_mainnet"`</li><li>`"evm_bsc_mainnet"`</li><li>`"evm_gnosis_mainnet"`</li><li>`"evm_unichain_mainnet"`</li><li>`"evm_polygon_mainnet"`</li><li>`"evm_monad_mainnet"`</li><li>`"evm_sonic_mainnet"`</li><li>`"evm_manta_pacific_mainnet"`</li><li>`"evm_x_layer_mainnet"`</li><li>`"evm_fantom_mainnet"`</li><li>`"evm_zksync_era_mainnet"`</li><li>`"evm_hyperevm_mainnet"`</li><li>`"evm_conflux_mainnet"`</li><li>`"evm_dymension_mainnet"`</li><li>`"evm_polygon_zkevm_mainnet"`</li><li>`"evm_sei_mainnet"`</li><li>`"evm_hypercore_mainnet"`</li><li>`"evm_aster_mainnet"`</li><li>`"evm_pharos_mainnet"`</li><li>`"evm_reya_mainnet"`</li><li>`"evm_kava_mainnet"`</li><li>`"evm_merlin_mainnet"`</li><li>`"evm_tempo_mainnet"`</li><li>`"evm_robinhood_mainnet"`</li><li>`"evm_mantle_mainnet"`</li><li>`"evm_zeta_mainnet"`</li><li>`"evm_canto_mainnet"`</li><li>`"evm_base_mainnet"`</li><li>`"evm_clink_mainnet"`</li><li>`"evm_clink_testnet"`</li><li>`"evm_plasma_mainnet"`</li><li>`"evm_zero_gravity_mainnet"`</li><li>`"evm_ethereum_holesky"`</li><li>`"evm_polygon_mumbai"`</li><li>`"evm_berachain_mainnet"`</li><li>`"evm_arbitrum_mainnet"`</li><li>`"evm_avalanche_fuji"`</li><li>`"evm_avalanche_chain"`</li><li>`"evm_ink_mainnet"`</li><li>`"evm_linea_mainnet"`</li><li>`"evm_blast_mainnet"`</li><li>`"evm_arbitrum_sepolia"`</li><li>`"evm_scroll_mainnet"`</li><li>`"evm_xai_mainnet"`</li><li>`"evm_katana_mainnet"`</li><li>`"evm_zklink_nova_mainnet"`</li><li>`"evm_ethereum_sepolia"`</li></ul>
        name:
          type: string
          minLength: 1
          title: Name
          description: The full blockchain name.
        native_currency_symbol:
          type: string
          minLength: 1
          title: Native Currency Symbol
          description: The native currency symbol.
          example: ETH
        native_currency_name:
          type: string
          minLength: 1
          title: Native Currency Name
          description: The native currency name.
          example: Ether
        blockchain_explorer:
          $ref: '#/components/schemas/BlockchainExplorer'
        logo_url:
          type: string
          maxLength: 2083
          minLength: 1
          format: uri
          title: Logo Url
          description: The logo URL of the chain.
        is_testnet:
          type: boolean
          title: Is Testnet
          description: Whether the chain is on a testnet.
        is_enabled:
          type: boolean
          title: Is Enabled
          description: Whether the chain is enabled.
        gas_type:
          $ref: '#/components/schemas/GasType'
          description: The type of gas used by the chain.
        supports_secure_node:
          title: Supports Secure Node
          description: '`True` if the chain supports secure nodes, `False` otherwise.'
          deprecated: true
          type: boolean
        supports_mev_protected_node:
          type: boolean
          title: Supports Mev Protected Node
          description: '`True` if the chain supports MEV protected nodes, `False` otherwise.'
          default: false
        rpc_url:
          title: Rpc Url
          description: The URL of the chain's RPC. Exists only for custom chains.
          type: string
        source:
          $ref: '#/components/schemas/ChainSource'
          description: 'The source of the chain. Can be:<ul><li>`default`: Chains with built-in support on Fordefi''s platform.<li>`custom`: User-added chains with support on Fordefi''s platform.</ul>'
        supports_7702:
          type: boolean
          title: Supports 7702
          description: '`True` if the chain supports 7702, `False` otherwise.'
          default: false
      type: object
      required:
      - chain_type
      - chain_id
      - unique_id
      - name
      - native_currency_symbol
      - native_currency_name
      - logo_url
      - is_testnet
      - is_enabled
      - gas_type
      - source
      title: EnrichedEvmChain
    SuiPartialObjectRefInputArgument:
      properties:
        type:
          type: string
          const: partial
          title: Type
          description: The type of the object.
        object_id:
          type: string
          maxLength: 66
          minLength: 66
          pattern: ^0[xX][a-fA-F0-9]+$
          title: Object Id
          description: The id of the object.
          example: '0x3300c18e7b931bdfc73dccf3e2d043ad1c9d120c777fff5aeeb9956224e5247a'
      type: object
      required:
      - type
      - object_id
      title: SuiPartialObjectRefInputArgument
    UtxoAddress:
      properties:
        type:
          type: string
          const: utxo
          title: Type
        address:
          type: string
          maxLength: 74
          minLength: 14
          title: Address
          description: The UTXO string address.
          example: bc1qar0srrr7xfkvy5l643lydnw9re59gtzzwf5mdq
        address_type:
          $ref: '#/components/schemas/UtxoAddressType'
          description: The type of the address.
        chain:
          $ref: '#/components/schemas/UtxoChain'
          description: The UTXO chain unique ID.
      type: object
      required:
      - type
      - address
      - address_type
      - chain
      title: UtxoAddress
    SolanaBalanceChangeEffect:
      properties:
        priced_asset:
          $ref: '#/components/schemas/PricedAsset'
          description: The asset information.
        diff:
          type: string
          pattern: ^-?\d+$
          title: Diff
          description: The amount of that was added to or deducted from the owner's balance. If the amount was deducted, the value is negative; if the amount was added, the value is positive.
          example: '1000000000000000000'
        address:
          $ref: '#/components/schemas/EnrichedSolanaAddress'
          description: The address affected by the balance change.
      type: object
      required:
      - priced_asset
      - diff
      - address
      title: SolanaBalanceChangeEffect
    ArchAplTokenAssetIdentifierRequest:
      properties:
        type:
          type: string
          const: apl_token
          title: Type
          description: APL token asset identifier type.
        token:
          $ref: '#/components/schemas/ArchAddressRequest'
          description: The APL token details.
      type: object
      required:
      - type
      - token
      title: ArchAplTokenAssetIdentifierRequest
    TonAddressBookContactAddressRef:
      properties:
        chain_type:
          type: string
          const: ton
          title: Chain Type
          description: The type of the chain.
        address:
          type: string
          title: Address
          description: The address on the TON chain.
        chains:
          items:
            $ref: '#/components/schemas/TonChain'
          type: array
          title: Chains
          description: The chains the contact belongs to.
        comment:
          title: Comment
          description: Comment is an additional address feature used for identifying a recipient.
          type: string
      type: object
      required:
      - chain_type
      - address
      - chains
      title: TonAddressBookContactAddressRef
    CosmosAddressBookContactAddressRef:
      properties:
        chain_type:
          type: string
          const: cosmos
          title: Chain Type
          description: The type of the chain.
        address:
          type: string
          title: Address
          description: The address on the cosmos chain.
          example: cosmos1tdk0g5d4ry9lq0erejttyufqcvwpqdj6tdql38
        chain:
          $ref: '#/components/schemas/CosmosChain'
          description: The chain the contact belongs to.
        memo:
          title: Memo
          description: Memo is an additional address feature used for identifying a recipient.
          type: string
      type: object
      required:
      - chain_type
      - address
      - chain
      title: CosmosAddressBookContactAddressRef
    Category:
      properties:
        id:
          type: integer
          title: Id
          description: The category ID.
        name:
          type: string
          title: Name
          description: The category name.
      type: object
      required:
      - id
      - name
      title: Category
    Price:
      properties:
        price:
          title: Price
          description: The price in the given fiat currency.
          deprecated: true
          type: string
          pattern: ^\d+$
          example: '1000000000000000000'
        price_float:
          type: string
          pattern: ^\d+(\.\d+)?$
          title: Price Float
          description: The absolute price in the given fiat currency. When is_negative is true the asset's value is the negative of this (e.g. a debt token).
          example: '1000000000000000000'
        is_negative:
          type: boolean
          title: Is Negative
          description: Whether the asset's value is negative (e.g. a debt token). price_float holds the absolute value.
          default: false
        fiat_currency:
          $ref: '#/components/schemas/FiatCurrency'
      type: object
      required:
      - price
      - price_float
      - fiat_currency
      title: Price
      description: Price represents a price in a given FiatCurrency.
    SuiTransaction:
      properties:
        id:
          type: string
          format: uuid
          title: Id
          description: The unique identifier of the object in the Fordefi platform.
        created_at:
          type: string
          format: date-time
          title: Created At
          description: The date and time when the object was created.
        modified_at:
          type: string
          format: date-time
          title: Modified At
          description: The date and time when the object was last modified. Any change to any field of the resource is considered a modification.
        managed_transaction_data:
          description: 'Managed transaction data. Presented if the transaction was initiated from the Fordefi system itself, in contrast to unmanaged transactions (which are, for example, transfers of funds into a vault visible to Fordefi). '
          $ref: '#/components/schemas/ManagedTransactionData'
        signatures:
          items:
            $ref: '#/components/schemas/Signature'
          type: array
          title: Signatures
          description: The transaction signatures.
        note:
          title: Note
          description: An optional transaction note.
          type: string
        spam_state:
          $ref: '#/components/schemas/TransactionSpamState'
          description: '`automatically_set` if the transaction was automatically set as spam by Fordefi, `manually_set` if the transaction was manually set as spam by a user, and `unset` if the transaction was not set as spam.'
          default: unset
        direction:
          $ref: '#/components/schemas/TransactionDirection'
          description: The direction of the transaction.
        signed_externally:
          type: boolean
          title: Signed Externally
          description: Whether the transaction was signed by an external user (for example in case of imported vault).
          default: false
        interacted_vaults:
          items:
            $ref: '#/components/schemas/VaultRef'
          type: array
          title: Interacted Vaults
          description: The vaults that interacted with the transaction.
        related_transactions:
          title: Related Transactions
          description: The related transactions.
          items:
            $ref: '#/components/schemas/RelatedTransaction'
          type: array
        organization_id:
          type: string
          format: uuid
          title: Organization Id
          description: The organization that the transaction belongs to.
        block:
          description: The block of the transaction.
          $ref: '#/components/schemas/Block'
        state:
          $ref: '#/components/schemas/PushableTransactionState'
          description: The state of the transaction.
        state_changes:
          items:
            $ref: '#/components/schemas/PushableTransactionStateChange'
          type: array
          title: State Changes
          description: The state changes of the transaction.
        aml_check:
          description: The AML check.
          $ref: '#/components/schemas/AmlCheck'
        mined_result_status:
          description: The mined result status of the transaction.
          $ref: '#/components/schemas/MinedResultStatus'
        simulation_status_result:
          description: Whether simulation succeeded, reverted or failed.
          $ref: '#/components/schemas/SimulationStatusResult'
        type:
          type: string
          const: sui_transaction
          title: Type
          description: Sui transaction type.
        sui_transaction_type_details:
          oneOf:
          - $ref: '#/components/schemas/SuiNativeTransferDetails'
          - $ref: '#/components/schemas/SuiCoinTransferDetails'
          - $ref: '#/components/schemas/SuiProgrammableTransactionBlockDetails'
          description: Details of the Sui transaction based on its type.
          discriminator:
            propertyName: type
            mapping:
              coin_transfer: '#/components/schemas/SuiCoinTransferDetails'
              native_transfer: '#/components/schemas/SuiNativeTransferDetails'
              programmable_transaction_block: '#/components/schemas/SuiProgrammableTransactionBlockDetails'
        chain:
          $ref: '#/components/schemas/EnrichedSuiChain'
          description: The details of the chain this transaction is on.
        version:
          $ref: '#/components/schemas/SuiMessageVersion'
          description: The version of the transaction message.
        inputs:
          items:
            $ref: '#/components/schemas/SuiInput'
          type: array
          title: Inputs
          description: The inputs of the transaction.
        commands:
          items:
            $ref: '#/components/schemas/SuiCommand'
          type: array
          title: Commands
          description: The commands of the transactions.
        sender:
          $ref: '#/components/schemas/EnrichedSuiAddress'
          description: The sender of the transaction.
        recipient:
          description: The recipient of the transaction.
          $ref: '#/components/schemas/EnrichedSuiAddress'
        digest:
          title: Digest
          description: The digest of the transaction.
          type: string
          maxLength: 44
          minLength: 32
          pattern: ^[a-km-zA-HJ-NP-Z1-9]+$
          example: 9K8mnqJdxf3B7vgFmRhj9JqKqsN5AxvSgWk5faGshEta
        tx_bytes:
          title: Tx Bytes
          description: The tx_bytes param encoded as a base64 string.
          type: string
          example: SGVsbG8=
        decoded_tx_bytes:
          title: Decoded Tx Bytes
          description: The json representation of the transaction's data
          type: string
        epoch:
          title: Epoch
          description: The epoch of the transaction.
          type: integer
        gas_submitted:
          $ref: '#/components/schemas/SuiGasConfig'
          description: The gas details submitted for the transaction.
        expected_result:
          description: The expected result of the transaction in case it is mined.
          $ref: '#/components/schemas/SuiTransactionResult'
        mined_result:
          description: The result of the transaction after it was mined.
          $ref: '#/components/schemas/SuiTransactionResult'
        transaction_block_data:
          title: Transaction Block Data
          description: The json representation of the transaction's data which contains the inputs and commands.
          type: string
        explorer_url:
          title: Explorer Url
          description: The URL of this transaction in a blockchain explorer. For example, Suiscan.
          example: https://suiscan.xyz/mainnet/tx/9K8mnqJdxf3B7v...xvSgWk5faGshEta
          type: string
          maxLength: 2083
          minLength: 1
          format: uri
        fee_payer:
          description: The address that pays the fee for this transaction (gas owner).
          $ref: '#/components/schemas/EnrichedSuiAddress'
      type: object
      required:
      - id
      - created_at
      - modified_at
      - signatures
      - direction
      - interacted_vaults
      - organization_id
      - state
      - state_changes
      - type
      - sui_transaction_type_details
      - chain
      - version
      - inputs
      - commands
      - sender
      - gas_submitted
      title: SuiTransaction
    ExchangeTransaction:
      properties:
        id:
          type: string
          format: uuid
          title: Id
          description: The unique identifier of the object in the Fordefi platform.
        created_at:
          type: string
          format: date-time
          title: Created At
          description: The date and time when the object was created.
        modified_at:
          type: string
          format: date-time
          title: Modified At
          description: The date and time when the object was last modified. Any change to any field of the resource is considered a modification.
        managed_transaction_data:
          description: 'Managed transaction data. Presented if the transaction was initiated from the Fordefi system itself, in contrast to unmanaged transactions (which are, for example, transfers of funds into a vault visible to Fordefi). '
          $ref: '#/components/schemas/ManagedTransactionData'
        signatures:
          items:
            $ref: '#/components/schemas/Signature'
          type: array
          title: Signatures
          description: The transaction signatures.
        note:
          title: Note
          description: An optional transaction note.
          type: string
        spam_state:
          $ref: '#/components/schemas/TransactionSpamState'
          description: '`automatically_set` if the transaction was automatically set as spam by Fordefi, `manually_set` if the transaction was manually set as spam by a user, and `unset` if the transaction was not set as spam.'
          default: unset
        direction:
          $ref: '#/components/schemas/TransactionDirection'
          description: The direction of the transaction.
        signed_externally:
          type: boolean
          title: Signed Externally
          description: Whether the transaction was signed by an external user (for example in case of imported vault).
          default: false
        interacted_vaults:
          items:
            $ref: '#/components/schemas/VaultRef'
          type: array
          title: Interacted Vaults
          description: The vaults that interacted with the transaction.
        related_transactions:
          title: Related Transactions
          description: The related transactions.
          items:
            $ref: '#/components/schemas/RelatedTransaction'
          type: array
        organization_id:
          type: string
          format: uuid
          title: Organization Id
          description: The organization that the transaction belongs to.
        state:
          $ref: '#/components/schemas/ExchangeTransactionState'
          description: The state of the exchange transaction.
        state_changes:
          items:
            $ref: '#/components/schemas/ExchangeTransactionStateChange'
          type: array
          title: State Changes
          description: The state changes of the exchange transaction.
        simulation_status_result:
          description: Whether simulation succeeded, reverted or failed.
          $ref: '#/components/schemas/SimulationStatusResult'
        type:
          type: string
          const: exchange_transaction
          title: Type
          description: The type of the transaction.
        exchange_transaction_type_details:
          oneOf:
          - $ref: '#/components/schemas/ExchangeExternalWithdrawDetails'
          - $ref: '#/components/schemas/ExchangeInternalTransferDetails'
          description: Details of the Exchange transaction based on its type.
          discriminator:
            propertyName: type
            mapping:
              external_withdraw: '#/components/schemas/ExchangeExternalWithdrawDetails'
              internal_transfer: '#/components/schemas/ExchangeInternalTransferDetails'
        exchange_nonce:
          title: Exchange Nonce
          description: The nonce of the transaction. `None` if not required by the exchange
          type: string
        exchange_transaction_id:
          title: Exchange Transaction Id
          description: The ID of the transaction as returned by the exchange
          type: string
        expected_result:
          description: The expected result of the transaction in case it's executed.
          $ref: '#/components/schemas/ExchangeTransactionResult'
        mined_result:
          description: The result of the transaction after it was mined.
          $ref: '#/components/schemas/ExchangeTransactionResult'
      type: object
      required:
      - id
      - created_at
      - modified_at
      - signatures
      - direction
      - interacted_vaults
      - organization_id
      - state
      - state_changes
      - type
      - exchange_transaction_type_details
      title: ExchangeTransaction
    AssetInfo:
      properties:
        id:
          type: string
          format: uuid
          title: Id
          description: The asset ID.
        asset_identifier:
          $ref: '#/components/schemas/AssetIdentifier'
          description: The asset identifier.
        name:
          type: string
          title: Name
          description: The name of the asset.
        symbol:
          type: string
          title: Symbol
          description: The symbol (ticker) of the asset.
        decimals:
          type: integer
          minimum: 0.0
          title: Decimals
        verified:
          type: boolean
          title: Verified
          description: '`True` if this asset is verified by Fordefi, `False` otherwise.'
        metadata_uri:
          title: Metadata Uri
          description: The URI of the asset metadata.
          type: string
        is_spam:
          type: boolean
          title: Is Spam
          description: '`True` if this asset is spam, `False` otherwise.'
        logo_url:
          title: Logo Url
          description: The URL of the asset logo.
          type: string
          minLength: 1
          format: uri
        explorer_url:
          title: Explorer Url
          description: The URL of a blockchain explorer that provides real-time information about the asset.
          type: string
          maxLength: 2083
          minLength: 1
          format: uri
      type: object
      required:
      - id
      - asset_identifier
      - name
      - symbol
      - decimals
      - verified
      - is_spam
      title: AssetInfo
    VaultState:
      type: string
      enum:
      - active
      - archived
      - deleted
      - pending
      - aborted
      title: VaultState
    CantonCip56TokenAssetIdentifierRequest:
      properties:
        type:
          type: string
          const: cip56_token
          title: Type
          description: CIP56 token asset identifier type.
        token:
          $ref: '#/components/schemas/CantonInstrumentIdRequest'
          description: The CIP56 token details.
      type: object
      required:
      - type
      - token
      title: CantonCip56TokenAssetIdentifierRequest
    Resource:
      type: string
      enum:
      - user
      - user_change_proposals
      - user_group
      - user_group_change_proposal
      - vault
      - vault_address
      - vault_group
      - address_group
      - transaction
      - batch_transaction
      - path
      - keyset
      - auth_token
      - access_token
      - asset
      - asset_info
      - vault_derivation_path
      - blockchain
      - export
      - quote
      - import_keys_request
      - vault_address_account
      - exchange_asset_mapping
      - dapp_group
      - safe_address
      - audit_log
      title: Resource
    EvmErc1155AssetIdentifierRequest:
      properties:
        type:
          type: string
          const: erc1155
          title: Type
          description: EVM asset identifier type.
        token:
          $ref: '#/components/schemas/EvmAddressRequest'
          description: The ERC-1155 token contract.
        token_id:
          type: string
          pattern: ^\d+$
          title: Token Id
          description: The token id of the ERC-1155 token.
          example: '1000000000000000000'
      type: object
      required:
      - type
      - token
      - token_id
      title: EvmErc1155AssetIdentifierRequest
    EnrichedCosmosChain:
      properties:
        chain_type:
          type: string
          const: cosmos
          title: Chain Type
          description: The type of the chain.
        unique_id:
          $ref: '#/components/schemas/CosmosChainUniqueId'
          description: The Cosmos chain unique id.
        name:
          type: string
          minLength: 1
          title: Name
          description: The full blockchain name.
        native_currency_symbol:
          type: string
          minLength: 1
          title: Native Currency Symbol
          description: The native currency symbol.
          example: ETH
        native_currency_name:
          type: string
          minLength: 1
          title: Native Currency Name
          description: The native currency name.
          example: Ether
        blockchain_explorer:
          $ref: '#/components/schemas/BlockchainExplorer'
        logo_url:
          type: string
          maxLength: 2083
          minLength: 1
          format: uri
          title: Logo Url
          description: The logo URL of the chain.
        is_testnet:
          type: boolean
          title: Is Testnet
          description: Whether the chain is on a testnet.
        is_enabled:
          type: boolean
          title: Is Enabled
          description: Whether the chain is enabled.
        base_denom:
          type: string
          title: Base Denom
          description: The base denom of the chain.
        bech32_prefix:
          $ref: '#/components/schemas/CosmosBech32Prefix'
          description: The bech32 prefix for addresses on the chain.
      type: object
      required:
      - chain_type
      - unique_id
      - name
      - native_currency_symbol
      - native_currency_name
      - logo_url
      - is_testnet
      - is_enabled
      - base_denom
      - bech32_prefix
      title: EnrichedCosmosChain
    CantonInstrumentIdRequest:
      properties:
        address:
          $ref: '#/components/schemas/CantonAddressRequest'
          description: The address of the instrument provider.
        id:
          type: string
          title: Id
          description: The instrument ID within the provider's namespace.
      type: object
      required:
      - address
      - id
      title: CantonInstrumentIdRequest
      description: Instrument ID represents a Canton instrument identifier (address + id).
    SafeOperation:
      type: string
      enum:
      - call
      - delegate_call
      title: SafeOperation
    AptosCoinTransferDetails:
      properties:
        type:
          type: string
          const: coin_transfer
          title: Type
          description: 'A transaction involving the transfer of non-APT coin from one address to another. '
        sender:
          $ref: '#/components/schemas/EnrichedAptosAddress'
          description: The sender of the coins.
        recipient:
          $ref: '#/components/schemas/EnrichedAptosAddress'
          description: The recipient of the coins.
        is_internal:
          title: Is Internal
          description: Is this transfer an internal transfer between two vaults. None if the transaction is incoming.
          type: boolean
      type: object
      required:
      - type
      - sender
      - recipient
      title: AptosCoinTransferDetails
    EnrichedTonChain:
      properties:
        chain_type:
          type: string
          const: ton
          title: Chain Type
          description: The type of the chain.
        unique_id:
          $ref: '#/components/schemas/TonChainUniqueId'
          description: The type of the TON-based chain.
        name:
          type: string
          minLength: 1
          title: Name
          description: The full blockchain name.
        native_currency_symbol:
          type: string
          minLength: 1
          title: Native Currency Symbol
          description: The native currency symbol.
          example: ETH
        native_currency_name:
          type: string
          minLength: 1
          title: Native Currency Name
          description: The native currency name.
          example: Ether
        blockchain_explorer:
          $ref: '#/components/schemas/BlockchainExplorer'
        logo_url:
          type: string
          maxLength: 2083
          minLength: 1
          format: uri
          title: Logo Url
          description: The logo URL of the chain.
        is_testnet:
          type: boolean
          title: Is Testnet
          description: Whether the chain is on a testnet.
        is_enabled:
          type: boolean
          title: Is Enabled
          description: Whether the chain is enabled.
      type: object
      required:
      - chain_type
      - unique_id
      - name
      - native_currency_symbol
      - native_currency_name
      - logo_url
      - is_testnet
      - is_enabled
      title: EnrichedTonChain
    StarknetContractCreationDetails:
      properties:
        type:
          type: string
          const: contract_deployment
          title: Type
          description: A transaction that created a contract.
      type: object
      required:
      - type
      title: StarknetContractCreationDetails
    CosmosMessage:
      properties:
        id:
          type: string
          format: uuid
          title: Id
          description: The unique identifier of the object in the Fordefi platform.
        created_at:
          type: string
          format: date-time
          title: Created At
          description: The date and time when the object was created.
        modified_at:
          type: string
          format: date-time
          title: Modified At
          description: The date and time when the object was last modified. Any change to any field of the resource is considered a modification.
        managed_transaction_data:
          description: 'Managed transaction data. Presented if the transaction was initiated from the Fordefi system itself, in contrast to unmanaged transactions (which are, for example, transfers of funds into a vault visible to Fordefi). '
          $ref: '#/components/schemas/ManagedTransactionData'
        signatures:
          items:
            $ref: '#/components/schemas/Signature'
          type: array
          title: Signatures
          description: The transaction signatures.
        note:
          title: Note
          description: An optional transaction note.
          type: string
        spam_state:
          $ref: '#/components/schemas/TransactionSpamState'
          description: '`automatically_set` if the transaction was automatically set as spam by Fordefi, `manually_set` if the transaction was manually set as spam by a user, and `unset` if the transaction was not set as spam.'
          default: unset
        direction:
          $ref: '#/components/schemas/TransactionDirection'
          description: The direction of the transaction.
        signed_externally:
          type: boolean
          title: Signed Externally
          description: Whether the transaction was signed by an external user (for example in case of imported vault).
          default: false
        interacted_vaults:
          items:
            $ref: '#/components/schemas/VaultRef'
          type: array
          title: Interacted Vaults
          description: The vaults that interacted with the transaction.
        related_transactions:
          title: Related Transactions
          description: The related transactions.
          items:
            $ref: '#/components/schemas/RelatedTransaction'
          type: array
        organization_id:
          type: string
          format: uuid
          title: Organization Id
          description: The organization that the transaction belongs to.
        state:
          $ref: '#/components/schemas/NonPushableTransactionState'
          description: The state of the message.
        state_changes:
          items:
            $ref: '#/components/schemas/NonPushableTransactionStateChange'
          type: array
          title: State Changes
          description: The state changes of the message.
        type:
          type: string
          const: cosmos_message
          title: Type
          description: Cosmos message type.
        cosmos_message_type:
          $ref: '#/components/schemas/CosmosMessageType'
          description: The type of the Cosmos message.
        data:
          $ref: '#/components/schemas/CosmosMessageData'
          description: The raw data of the message, encoded in base64 if bytes, else plain string.
        chain:
          $ref: '#/components/schemas/EnrichedCosmosChain'
          description: The details of the chain that this message is on.
        sender:
          $ref: '#/components/schemas/EnrichedCosmosBechAddress'
          description: The sender of the message.
      type: object
      required:
      - id
      - created_at
      - modified_at
      - signatures
      - direction
      - interacted_vaults
      - organization_id
      - state
      - state_changes
      - type
      - cosmos_message_type
      - data
      - chain
      - sender
      title: CosmosMessage
    StacksChain:
      properties:
        chain_type:
          type: string
          const: stacks
          title: Chain Type
          description: The type of the chain.
        unique_id:
          $ref: '#/components/schemas/StacksChainUniqueId'
          description: The type of the Stacks-based chain.
      type: object
      required:
      - chain_type
      - unique_id
      title: StacksChain
    ExchangeReversionState:
      type: string
      enum:
      - not_reverted
      - insufficient_exchange_withdraw_funds
      title: ExchangeReversionState
    CosmosTokenWithAmount:
      properties:
        amount:
          type: string
          pattern: ^\d+$
          title: Amount
          description: The amount of the coin in base unit (for example uatom).
          example: '1000000000000000000'
        type:
          type: string
          const: token
          title: Type
        coin:
          $ref: '#/components/schemas/CosmosToken'
          description: The coin.
      type: object
      required:
      - amount
      - type
      - coin
      title: CosmosTokenWithAmount
    AptosNewCoinTypeRequest:
      properties:
        chain:
          $ref: '#/components/schemas/AptosChainUniqueId'
          description: The chain details this address is of.
        metadata_address:
          type: string
          title: Metadata Address
          description: New coin's metadata address.
      type: object
      required:
      - chain
      - metadata_address
      title: AptosNewCoinTypeRequest
      description: New coin type represents a blockchain new coin type.
    SuiCommand:
      oneOf:
      - $ref: '#/components/schemas/SuiTransferObjectsCommand'
      - $ref: '#/components/schemas/SuiSplitCoinsCommand'
      - $ref: '#/components/schemas/SuiMergeCoinsCommand'
      - $ref: '#/components/schemas/SuiMakeMoveVecCommand'
      - $ref: '#/components/schemas/SuiMoveCallCommand'
      - $ref: '#/components/schemas/SuiPublishCommand'
      - $ref: '#/components/schemas/SuiUpgradeCommand'
      discriminator:
        propertyName: type
        mapping:
          make_move_vec: '#/components/schemas/SuiMakeMoveVecCommand'
          merge_coins: '#/components/schemas/SuiMergeCoinsCommand'
          move_call: '#/components/schemas/SuiMoveCallCommand'
          publish: '#/components/schemas/SuiPublishCommand'
          split_coins: '#/components/schemas/SuiSplitCoinsCommand'
          transfer_objects: '#/components/schemas/SuiTransferObjectsCommand'
          upgrade: '#/components/schemas/SuiUpgradeCommand'
    StarknetErc20TransferDetails:
      properties:
        type:
          type: string
          const: erc20_transfer
          title: Type
          description: 'A transaction involving the transfer of an erc20 from one address to another. '
        sender:
          $ref: '#/components/schemas/EnrichedStarknetAddress'
          description: The sender of the assets.
        recipient:
          $ref: '#/components/schemas/EnrichedStarknetAddress'
          description: The recipient of the assets.
        is_internal:
          title: Is Internal
          description: Is this transfer an internal transfer between two vaults. None if the transaction is incoming.
          type: boolean
      type: object
      required:
      - type
      - sender
      - recipient
      title: StarknetErc20TransferDetails
    MinedResultStatus:
      type: string
      enum:
      - success
      - missing
      - potentially_partial
      title: MinedResultStatus
    NonPushableTransactionState:
      type: string
      enum:
      - waiting_for_approval
      - waiting_for_signing_trigger
      - approved
      - finalized_for_signing
      - signed
      - sent_to_provider
      - completed
      - error_signing
      - aborted
      - error_submitting_to_provider
      - dropped
      title: NonPushableTransactionState
    VaultAddressRef:
      properties:
        id:
          type: string
          format: uuid
          title: Id
          description: The unique identifier of the vault address in the Fordefi platform.
        vault_id:
          type: string
          format: uuid
          title: Vault Id
          description: The unique identifier of the vault this address belongs to.
        name:
          type: string
          title: Name
          description: The name of the vault address.
        address:
          type: string
          title: Address
          description: The address of the vault address.
      type: object
      required:
      - id
      - vault_id
      - name
      - address
      title: VaultAddressRef
      description: Represents a reference to a vault address in the Fordefi platform
    SuiReversion:
      properties:
        state:
          $ref: '#/components/schemas/SuiReversionState'
          description: 'The state of the reversion. Is one of the following:<ul><li>`not_reverted`: No reversion, meaning, completed successfully.<li>`unknown_revert`: Fordefi does not know the reason for the reversion.<li>`contract_asserted`: Insufficient coin balance.<li>`insufficient_funds_gas_and_value`: A transaction was sent for which there were insufficient funds.<li>`invalid_input`: The input data was invalid.<li>`transaction_failed_to_reach_finality`: The transaction failed to reach finality state.<li>`out_of_gas`: The transaction ran out of gas.<li>`transaction_locked_objects_failure`: The transaction failed due to locked objects on validator.</ul>'
        reason:
          title: Reason
          description: The reason for the reversion (additional information).
          type: string
      type: object
      required:
      - state
      title: SuiReversion
    SolanaCompiledInstruction:
      properties:
        program_index:
          type: integer
          title: Program Index
          description: The program index.
        data:
          type: string
          title: Data
          description: The instruction data in Base64 format.
          example: SGVsbG8=
        account_indexes:
          items:
            type: integer
          type: array
          title: Account Indexes
          description: The indexes of the instruction accounts in the transaction accounts list.
        program:
          $ref: '#/components/schemas/EnrichedSolanaAddress'
          description: The address of the program account.
        base58_data:
          title: Base58 Data
          description: The instruction data encoded in Base58 format.
          type: string
          pattern: ^[a-km-zA-HJ-NP-Z1-9]+$
      type: object
      required:
      - program_index
      - data
      - account_indexes
      - program
      title: SolanaCompiledInstruction
    AptosMessage:
      properties:
        id:
          type: string
          format: uuid
          title: Id
          description: The unique identifier of the object in the Fordefi platform.
        created_at:
          type: string
          format: date-time
          title: Created At
          description: The date and time when the object was created.
        modified_at:
          type: string
          format: date-time
          title: Modified At
          description: The date and time when the object was last modified. Any change to any field of the resource is considered a modification.
        managed_transaction_data:
          description: 'Managed transaction data. Presented if the transaction was initiated from the Fordefi system itself, in contrast to unmanaged transactions (which are, for example, transfers of funds into a vault visible to Fordefi). '
          $ref: '#/components/schemas/ManagedTransactionData'
        signatures:
          items:
            $ref: '#/components/schemas/Signature'
          type: array
          title: Signatures
          description: The transaction signatures.
        note:
          title: Note
          description: An optional transaction note.
          type: string
        spam_state:
          $ref: '#/components/schemas/TransactionSpamState'
          description: '`automatically_set` if the transaction was automatically set as spam by Fordefi, `manually_set` if the transaction was manually set as spam by a user, and `unset` if the transaction was not set as spam.'
          default: unset
        direction:
          $ref: '#/components/schemas/TransactionDirection'
          description: The direction of the transaction.
        signed_externally:
          type: boolean
          title: Signed Externally
          description: Whether the transaction was signed by an external user (for example in case of imported vault).
          default: false
        interacted_vaults:
          items:
            $ref: '#/components/schemas/VaultRef'
          type: array
          title: Interacted Vaults
          description: The vaults that interacted with the transaction.
        related_transactions:
          title: Related Transactions
          description: The related transactions.
          items:
            $ref: '#/components/schemas/RelatedTransaction'
          type: array
        organization_id:
          type: string
          format: uuid
          title: Organization Id
          description: The organization that the transaction belongs to.
        state:
          $ref: '#/components/schemas/NonPushableTransactionState'
          description: The state of the message.
        state_changes:
          items:
            $ref: '#/components/schemas/NonPushableTransactionStateChange'
          type: array
          title: State Changes
          description: The state changes of the message.
        type:
          type: string
          const: aptos_message
          title: Type
          description: Aptos message type.
        aptos_message_type:
          $ref: '#/components/schemas/AptosMessageType'
          description: The type of the Aptos message.
        raw_original_message_to_sign:
          type: string
          title: Raw Original Message To Sign
          description: The original message that was requested to be signed, encoded in base64.
          example: SGVsbG8=
        string_original_message_to_sign:
          type: string
          title: String Original Message To Sign
          description: The original message that was requested to be signed.
        raw_full_message_to_sign:
          type: string
          title: Raw Full Message To Sign
          description: The full message to be signed, encoded in base64.
          example: SGVsbG8=
        string_full_message_to_sign:
          type: string
          title: String Full Message To Sign
          description: The full message to be signed.
        chain:
          $ref: '#/components/schemas/EnrichedAptosChain'
          description: The details of the chain that this message is on.
        sender:
          $ref: '#/components/schemas/EnrichedAptosAddress'
          description: The sender of the message.
      type: object
      required:
      - id
      - created_at
      - modified_at
      - signatures
      - direction
      - interacted_vaults
      - organization_id
      - state
      - state_changes
      - type
      - aptos_message_type
      - raw_original_message_to_sign
      - string_original_message_to_sign
      - raw_full_message_to_sign
      - string_full_message_to_sign
      - chain
      - sender
      title: AptosMessage
    SignerType:
      type: string
      enum:
      - initiator
      - api_signer
      - end_user
      - multiple_signers
      - api_user
      title: SignerType
    TronContractCallDetails:
      properties:
        type:
          type: string
          const: contract_call
          title: Type
          description: A TRON contract call transaction.
        sender:
          $ref: '#/components/schemas/EnrichedTronAddress'
          description: The sender of the transaction.
        recipient:
          description: The recipient of the transaction.
          $ref: '#/components/schemas/EnrichedTronAddress'
        decoded_tx_bytes:
          title: Decoded Tx Bytes
          description: The json representation of the transaction's data
          type: string
      type: object
      required:
      - type
      - sender
      title: TronContractCallDetails
    StarknetNativeAssetIdentifierRequest:
      properties:
        type:
          type: string
          const: native
          title: Type
          description: Starknet asset identifier type.
        chain:
          $ref: '#/components/schemas/StarknetChainUniqueId'
          description: The details of the chain of the native asset.
      type: object
      required:
      - type
      - chain
      title: StarknetNativeAssetIdentifierRequest
    TonTransactionResult:
      properties:
        reversion:
          $ref: '#/components/schemas/TonReversion'
          description: Details whether the transaction was reverted or not.
        address_fees:
          items:
            $ref: '#/components/schemas/TonAddressFee'
          type: array
          title: Address Fees
          description: The fees paid for this transaction by managed addresses.
        effects:
          $ref: '#/components/schemas/TonEffects'
          description: The effects of the transaction.
      type: object
      required:
      - reversion
      - address_fees
      - effects
      title: TonTransactionResult
    TonAddressFee:
      properties:
        address:
          $ref: '#/components/schemas/EnrichedTonAddress'
          description: The address that paid the fee.
        total_fee:
          type: integer
          title: Total Fee
          description: The total fee paid by this address, in nano tons.
        priced_asset:
          $ref: '#/components/schemas/PricedAsset'
          description: The information of the asset used to pay the fee and amount used.
      type: object
      required:
      - address
      - total_fee
      - priced_asset
      title: TonAddressFee
    ArchFee:
      properties:
        base_fee:
          type: string
          pattern: ^0*[1-9]\d*$
          title: Base Fee
          description: The base fee of the transaction (in lamports).
          example: '1000000000000000000'
        total_fee:
          type: string
          pattern: ^0*[1-9]\d*$
          title: Total Fee
          description: The total fee of the transaction (in lamports).
          example: '1000000000000000000'
        priced_asset:
          $ref: '#/components/schemas/PricedAsset'
          description: The information of the asset used to pay the fee and amount used.
      type: object
      required:
      - base_fee
      - total_fee
      - priced_asset
      title: ArchFee
    WebhookEventType:
      type: string
      enum:
      - enriched_transaction_state_update
      - audit_log
      title: WebhookEventType
    EvmTransactionParsedData:
      properties:
        method:
          type: string
          title: Method
          description: The method name, in case of contract call.
        method_arguments:
          items:
            $ref: '#/components/schemas/EvmTransactionMethodArgument'
          type: array
          title: Method Arguments
          description: The method arguments, in case of contract call.
      type: object
      required:
      - method
      - method_arguments
      title: EvmTransactionParsedData
    TonChain:
      properties:
        chain_type:
          type: string
          const: ton
          title: Chain Type
          description: The type of the chain.
        unique_id:
          $ref: '#/components/schemas/TonChainUniqueId'
          description: The type of the TON-based chain.
      type: object
      required:
      - chain_type
      - unique_id
      title: TonChain
    StarknetFeeDetails:
      properties:
        l1_gas_consumed:
          type: string
          pattern: ^\d+$
          title: L1 Gas Consumed
          description: L1 gas consumed by the transaction.
          example: '1000000000000000000'
        l1_gas_price:
          type: string
          pattern: ^0*[1-9]\d*$
          title: L1 Gas Price
          description: L1 gas unit price.
          example: '1000000000000000000'
        l2_gas_consumed:
          type: string
          pattern: ^\d+$
          title: L2 Gas Consumed
          description: L2 gas consumed by the transaction.
          example: '1000000000000000000'
        l2_gas_price:
          type: string
          pattern: ^0*[1-9]\d*$
          title: L2 Gas Price
          description: L2 gas unit price.
          example: '1000000000000000000'
        l1_data_gas_consumed:
          type: string
          pattern: ^\d+$
          title: L1 Data Gas Consumed
          description: L1 data gas consumed by the transaction.
          example: '1000000000000000000'
        l1_data_gas_price:
          type: string
          pattern: ^0*[1-9]\d*$
          title: L1 Data Gas Price
          description: L1 data gas unit price.
          example: '1000000000000000000'
      type: object
      required:
      - l1_gas_consumed
      - l1_gas_price
      - l2_gas_consumed
      - l2_gas_price
      - l1_data_gas_consumed
      - l1_data_gas_price
      title: StarknetFeeDetails
    RateLimitError:
      properties: {}
      type: object
      title: RateLimitError
    AddressLookupTableState:
      properties:
        addresses:
          items:
            $ref: '#/components/schemas/EnrichedSolanaAddress'
          type: array
          title: Addresses
          description: The addresses that are stored in the table.
        authority:
          description: The authority address which must sign for each modification.
          $ref: '#/components/schemas/EnrichedSolanaAddress'
        deactivation_slot:
          type: string
          pattern: ^0*[1-9]\d*$
          title: Deactivation Slot
          description: The table can be closed when the deactivation slot is no longer the recent slot.
          example: '1000000000000000000'
        last_extended_slot:
          type: string
          pattern: ^0*[1-9]\d*$
          title: Last Extended Slot
          description: The number of the last slot in which a change constitutes an extension of the table.
          example: '1000000000000000000'
        last_extended_slot_start_index:
          type: string
          pattern: ^\d+$
          title: Last Extended Slot Start Index
          description: The start index where the table was last extended from during the `last_extended_slot`.
          example: '1000000000000000000'
      type: object
      required:
      - addresses
      - deactivation_slot
      - last_extended_slot
      - last_extended_slot_start_index
      title: AddressLookupTableState
    ArchNativeAssetIdentifierRequest:
      properties:
        type:
          type: string
          const: native
          title: Type
          description: Arch asset identifier type.
        chain:
          $ref: '#/components/schemas/ArchChainUniqueId'
          description: The details of the chain of the native asset.
      type: object
      required:
      - type
      - chain
      title: ArchNativeAssetIdentifierRequest
    EnrichedStacksAddress:
      properties:
        vault:
          description: The vault corresponding to this address.
          $ref: '#/components/schemas/VaultRef'
        explorer_url:
          title: Explorer Url
          description: The URL of a blockchain explorer that provides real-time information about the address.
          type: string
          maxLength: 2083
          minLength: 1
          format: uri
        contact:
          description: The contact details of this address.
          $ref: '#/components/schemas/ContactRef'
        type:
          type: string
          const: stacks
          title: Type
        address:
          type: string
          maxLength: 171
          pattern: ^S[0-9A-Za-z._-]+$
          title: Address
          description: The Stacks address represented in hex format.
          example: SP3J4NWQXC312DK0GXVRZKSRFBZG8S5FG1D2160E9
      type: object
      required:
      - type
      - address
      title: EnrichedStacksAddress
    StellarTransaction:
      properties:
        id:
          type: string
          format: uuid
          title: Id
          description: The unique identifier of the object in the Fordefi platform.
        created_at:
          type: string
          format: date-time
          title: Created At
          description: The date and time when the object was created.
        modified_at:
          type: string
          format: date-time
          title: Modified At
          description: The date and time when the object was last modified. Any change to any field of the resource is considered a modification.
        managed_transaction_data:
[...]
