openapi: 3.1.0
info:
  title: Fordefi Address Book Batch Transactions API
  version: 0.2.0
  description: These endpoints allow you to list the contacts in your address book.<br><br>To add/remove contacts, visit the Fordefi web console. See the <a href='https://docs.fordefi.com/user-guide/address-book'>user guide</a> for more info.
servers:
- url: https://api.fordefi.com/
  description: Production
security:
- bearerAuth: []
tags:
- name: Batch Transactions
  description: "These endpoints allow you to manage batch transactions on the Fordefi platform.\n        <br><br>\n        Batch transactions are currently supported only on Solana, for the purpose\n        of supporting the `signAllTransactions` flow used by certain Solana DApps.\n        Batch transactions undergo policy evaluation as a whole:  the policy is\n        applied to a “virtual transaction” whose list of instructions is the union\n        of the instructions of the individual transactions in the batch, and whose balance\n        changes are the aggregation of balance changes of the individual transactions."
paths:
  /api/v1/batch-transactions:
    post:
      tags:
      - Batch Transactions
      summary: Create Batch Transaction
      description: 'Create a batch of transactions.

        <br>

        Batch transactions are currently supported only on Solana.'
      operationId: create_batch_transaction_api_v1_batch_transactions_post
      parameters:
      - name: x-signature
        in: header
        required: false
        schema:
          description: Signature of the body. Base64 encoded string. If the request is made programatically by an API user, signing of the request is required and is intended to protect you from malicious backends. `x_signature` is valid for 120 seconds.
          title: X-Signature
          type: string
          example: SGVsbG8=
        description: Signature of the body. Base64 encoded string. If the request is made programatically by an API user, signing of the request is required and is intended to protect you from malicious backends. `x_signature` is valid for 120 seconds.
      - name: x-timestamp
        in: header
        required: false
        schema:
          description: Timestamp of the signature. Integer. Specify an Epoch date. If the request is made programatically by an API user, the timestamp of the request is required and is intended to protect you from replay attacks.
          title: X-Timestamp
          type: integer
        description: Timestamp of the signature. Integer. Specify an Epoch date. If the request is made programatically by an API user, the timestamp of the request is required and is intended to protect you from replay attacks.
      - name: x-idempotence-id
        in: header
        required: false
        schema:
          description: Optional idempotence ID of a transaction.
          title: X-Idempotence-Id
          type: string
          format: uuid
        description: Optional idempotence ID of a transaction.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateBatchTransactionRequest'
      responses:
        '201':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateBatchTransactionResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefinedPreconditionError_CreateTransactionErrorType_'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
        '500':
          description: Unexpected Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseError'
        '401':
          description: Unauthorized User
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseError'
        '403':
          description: Forbidden User
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseError'
        '408':
          description: Request Timeout
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseError'
        '429':
          description: Rate Limit Exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RateLimitError'
  /api/v1/batch-transactions/predict:
    post:
      tags:
      - Batch Transactions
      summary: Predict Batch Transaction
      description: 'Simulate the batch of transactions and show changes in

        token balances, in addition to the fee estimation

        <br>

        Batch transactions are currently supported only on Solana.'
      operationId: predict_batch_transaction_api_v1_batch_transactions_predict_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PredictBatchTransactionRequest'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PredictBatchTransactionResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefinedPreconditionError_PredictTransactionErrorType_'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
        '500':
          description: Unexpected Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseError'
        '401':
          description: Unauthorized User
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseError'
        '403':
          description: Forbidden User
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseError'
        '408':
          description: Request Timeout
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseError'
        '429':
          description: Rate Limit Exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RateLimitError'
  /api/v1/batch-transactions/{batch_id}/abort:
    post:
      tags:
      - Batch Transactions
      summary: Abort Batch Transaction
      description: Abort a batch of transactions.
      operationId: abort_batch_transaction_api_v1_batch_transactions__batch_id__abort_post
      parameters:
      - name: batch_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
          description: Transaction ID of the last transaction in the batch (for example, transaction 2/2 in the batch).ORValue of the `managed_transaction_data.batch_data.batch_id` field of any transaction in the batch.
          title: Batch Id
        description: Transaction ID of the last transaction in the batch (for example, transaction 2/2 in the batch).ORValue of the `managed_transaction_data.batch_data.batch_id` field of any transaction in the batch.
      responses:
        '204':
          description: Successful Response
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefinedPreconditionError_AbortTransactionErrorType_'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
        '500':
          description: Unexpected Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseError'
        '401':
          description: Unauthorized User
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseError'
        '403':
          description: Forbidden User
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseError'
        '408':
          description: Request Timeout
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseError'
        '429':
          description: Rate Limit Exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RateLimitError'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceError'
  /api/v1/batch-transactions/{batch_id}/approve:
    post:
      tags:
      - Batch Transactions
      summary: Approve Batch Transaction
      description: Approve a batch of transactions.
      operationId: approve_batch_transaction_api_v1_batch_transactions__batch_id__approve_post
      parameters:
      - name: batch_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
          description: Transaction ID of the last transaction in the batch (for example, transaction 2/2 in the batch).ORValue of the `managed_transaction_data.batch_data.batch_id`field of any transaction in the batch.
          title: Batch Id
        description: Transaction ID of the last transaction in the batch (for example, transaction 2/2 in the batch).ORValue of the `managed_transaction_data.batch_data.batch_id`field of any transaction in the batch.
      responses:
        '204':
          description: Successful Response
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefinedPreconditionError_ApproveTransactionErrorType_'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
        '500':
          description: Unexpected Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseError'
        '401':
          description: Unauthorized User
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseError'
        '403':
          description: Forbidden User
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseError'
        '408':
          description: Request Timeout
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseError'
        '429':
          description: Rate Limit Exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RateLimitError'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceError'
components:
  schemas:
    SolanaPriorityFeeRequest:
      properties:
        type:
          type: string
          const: priority
          title: Type
        priority_level:
          $ref: '#/components/schemas/FeePriorityLevelRequest'
          description: 'Using the Fee Priority option, you allocate the range of fee you are willing to add: low, medium, or high. Fordefi then does its best to achieve success, based on these parameters.'
      type: object
      required:
      - type
      - priority_level
      title: SolanaPriorityFeeRequest
    StacksAssetIdentifier:
      properties:
        type:
          type: string
          const: stacks
          title: Type
          description: Stacks asset identifier type.
        details:
          oneOf:
          - $ref: '#/components/schemas/StacksNativeAssetIdentifierRequest'
          - $ref: '#/components/schemas/StacksSip10AssetIdentifierRequest'
          discriminator:
            propertyName: type
            mapping:
              native: '#/components/schemas/StacksNativeAssetIdentifierRequest'
              sip10: '#/components/schemas/StacksSip10AssetIdentifierRequest'
        chain:
          $ref: '#/components/schemas/EnrichedStacksChain'
      type: object
      required:
      - type
      - details
      - chain
      title: StacksAssetIdentifier
    EnrichedUtxoChain:
      properties:
        chain_type:
          type: string
          const: utxo
          title: Chain Type
          description: The type of the chain.
        unique_id:
          $ref: '#/components/schemas/UtxoChainUniqueId'
          description: The UTXO chain unique ID.
        name:
          type: string
          minLength: 1
          title: Name
          description: The full blockchain name.
        native_currency_symbol:
          type: string
          minLength: 1
          title: Native Currency Symbol
          description: The native currency symbol.
          example: ETH
        native_currency_name:
          type: string
          minLength: 1
          title: Native Currency Name
          description: The native currency name.
          example: Ether
        blockchain_explorer:
          $ref: '#/components/schemas/BlockchainExplorer'
        logo_url:
          type: string
          maxLength: 2083
          minLength: 1
          format: uri
          title: Logo Url
          description: The logo URL of the chain.
        is_testnet:
          type: boolean
          title: Is Testnet
          description: Whether the chain is on a testnet.
        is_enabled:
          type: boolean
          title: Is Enabled
          description: Whether the chain is enabled.
      type: object
      required:
      - chain_type
      - unique_id
      - name
      - native_currency_symbol
      - native_currency_name
      - logo_url
      - is_testnet
      - is_enabled
      title: EnrichedUtxoChain
    EnrichedUtxoAddress:
      properties:
        vault:
          description: The vault corresponding to this address.
          $ref: '#/components/schemas/VaultRef'
        explorer_url:
          title: Explorer Url
          description: The URL of a blockchain explorer that provides real-time information about the address.
          type: string
          maxLength: 2083
          minLength: 1
          format: uri
        contact:
          description: The contact details of this address.
          $ref: '#/components/schemas/ContactRef'
        type:
          type: string
          const: utxo
          title: Type
        address:
          $ref: '#/components/schemas/UtxoAddress'
          description: The UTXO address.
        vault_address:
          description: The vault address corresponding to this address.
          $ref: '#/components/schemas/VaultAddressRef'
      type: object
      required:
      - type
      - address
      title: EnrichedUtxoAddress
    SolanaTokenTransferDetails:
      properties:
        type:
          type: string
          const: token_transfer
          title: Type
          description: 'A transaction involving the transfer of native currency from one address to another. '
        sender:
          $ref: '#/components/schemas/EnrichedSolanaAddress'
          description: The sender of the tokens.
        recipient:
          $ref: '#/components/schemas/EnrichedSolanaAddress'
          description: The recipient of the tokens.
        is_internal:
          title: Is Internal
          description: Is this transfer an internal transfer between two vaults. None if the transaction is incoming.
          type: boolean
      type: object
      required:
      - type
      - sender
      - recipient
      title: SolanaTokenTransferDetails
    SolanaCustomFeeRequest:
      properties:
        type:
          type: string
          const: custom
          title: Type
        priority_fee:
          title: Priority Fee
          description: The priority fee to use in the transaction (In lamports).
          type: string
          pattern: ^0*[1-9]\d*$
          example: '1000000000000000000'
        unit_price:
          title: Unit Price
          description: The unit price to use in the transaction (In microlamports).
          type: string
          pattern: ^\d+$
          example: '1000000000000000000'
      type: object
      required:
      - type
      title: SolanaCustomFeeRequest
    TronChain:
      properties:
        chain_type:
          type: string
          const: tron
          title: Chain Type
          description: The type of the chain.
        unique_id:
          $ref: '#/components/schemas/TronChainUniqueId'
          description: The type of the Tron-based chain.
      type: object
      required:
      - chain_type
      - unique_id
      title: TronChain
    PrioritySolanaSuggestedFees:
      properties:
        type:
          type: string
          const: solana
          title: Type
          description: The type of the chain.
        chain_unique_id:
          $ref: '#/components/schemas/SolanaChainUniqueId'
          description: The Solana chain unique id.
        base_fee:
          type: string
          pattern: ^\d+$
          title: Base Fee
          description: The base fee paid for the signatures in the transaction, denominated in lamports.
          example: '1000000000000000000'
        low:
          type: string
          pattern: ^\d+$
          title: Low
          description: The low suggested fee per byte, denominated in lamports.
          example: '1000000000000000000'
        medium:
          type: string
          pattern: ^\d+$
          title: Medium
          description: The medium suggested fee per byte, denominated in lamports.
          example: '1000000000000000000'
        high:
          type: string
          pattern: ^\d+$
          title: High
          description: The high suggested fee per byte, denominated in lamports.
          example: '1000000000000000000'
        fee_type:
          type: string
          const: priority_fee
          title: Fee Type
          description: The type of the fee.
        unit_prices:
          $ref: '#/components/schemas/SolanaUnitPrices'
          description: The unit prices for the suggested fees.
      type: object
      required:
      - type
      - chain_unique_id
      - base_fee
      - low
      - medium
      - high
      - fee_type
      - unit_prices
      title: PrioritySolanaSuggestedFees
    SolanaMessageVersion:
      type: string
      enum:
      - legacy
      - v0
      title: SolanaMessageVersion
    SolanaTransactionSignaturesRequest:
      properties:
        data:
          title: Data
          description: Signature on the data, encoded in base64 format.
          type: string
          example: SGVsbG8=
      type: object
      title: SolanaTransactionSignaturesRequest
    TronChainUniqueId:
      type: string
      enum:
      - tron_mainnet
      - tron_shasta
      title: TronChainUniqueId
    RiskRating:
      type: string
      enum:
      - low
      - medium
      - high
      - severe
      title: RiskRating
    DlcDataResponse:
      properties:
        dlc_transaction_type:
          $ref: '#/components/schemas/UtxoDlcTransactionType'
        funding_transaction_id:
          type: string
          format: uuid
          title: Funding Transaction Id
        refund_transaction_id:
          type: string
          format: uuid
          title: Refund Transaction Id
        cet_transaction_ids:
          items:
            type: string
            format: uuid
          type: array
          title: Cet Transaction Ids
        adaptor_point:
          title: Adaptor Point
          type: string
          pattern: ^0[xX][a-fA-F0-9]+$
      type: object
      required:
      - dlc_transaction_type
      - funding_transaction_id
      - refund_transaction_id
      - cet_transaction_ids
      title: DlcDataResponse
    StarknetChainUniqueId:
      type: string
      enum:
      - starknet_mainnet
      title: StarknetChainUniqueId
    StacksAddressBookContactAddressRef:
      properties:
        chain_type:
          type: string
          const: stacks
          title: Chain Type
          description: The type of the chain.
        address:
          type: string
          maxLength: 171
          pattern: ^S[0-9A-Za-z._-]+$
          title: Address
          description: The address on the Stacks chain.
          example: SP3J4NWQXC312DK0GXVRZKSRFBZG8S5FG1D2160E9
        chains:
          items:
            $ref: '#/components/schemas/StacksChain'
          type: array
          title: Chains
          description: The chains the contact belongs to.
        memo:
          title: Memo
          description: Memo is an additional address feature used for identifying a recipient.
          type: string
      type: object
      required:
      - chain_type
      - address
      - chains
      title: StacksAddressBookContactAddressRef
    DefinedPreconditionError_ApproveTransactionErrorType_:
      properties:
        title:
          type: string
          title: Title
          description: Human-readable error message.
        detail:
          type: string
          title: Detail
          description: Detailed error message.
        full_detail:
          title: Full Detail
          description: Full error message with additional details, if available.
          type: string
        request_id:
          title: Request Id
          description: Request ID - for debugging purposes.
          type: string
        system_error_code:
          title: System Error Code
          description: An additional system error code in Fordefi.
          type: string
        error_type:
          $ref: '#/components/schemas/ApproveTransactionErrorType'
      type: object
      required:
      - title
      - detail
      title: DefinedPreconditionError[ApproveTransactionErrorType]
    CreateBatchTransactionInstanceDetails:
      properties:
        version:
          $ref: '#/components/schemas/SolanaMessageVersion'
          description: The version of the transaction message.
        instructions:
          items:
            $ref: '#/components/schemas/SolanaCompiledInstructionRequest'
          type: array
          minItems: 1
          title: Instructions
          description: The instructions of the transaction.
        accounts:
          items:
            $ref: '#/components/schemas/SolanaTransactionAccountRequest'
          type: array
          minItems: 1
          title: Accounts
          description: Accounts used in the transaction.
        address_table_lookups:
          title: Address Table Lookups
          description: Lookup tables of accounts used in the transaction.
          items:
            $ref: '#/components/schemas/SolanaMessageAddressTableLookupRequest'
          type: array
        signatures:
          title: Signatures
          description: Any partial signatures on the transaction.
          items:
            $ref: '#/components/schemas/SolanaTransactionSignaturesRequest'
          type: array
        recent_blockhash:
          title: Recent Blockhash
          description: The transaction nonce (a recently processed blockhash).
          type: string
          maxLength: 44
          minLength: 32
          pattern: ^[a-km-zA-HJ-NP-Z1-9]+$
          example: 4sGjMW1sUnHzSxGspuhpqLDx6wiyjNtZAMdL4VZHirAn
      type: object
      required:
      - version
      - instructions
      - accounts
      - address_table_lookups
      title: CreateBatchTransactionInstanceDetails
    TonNativeAssetIdentifierRequest:
      properties:
        type:
          type: string
          const: native
          title: Type
          description: TON asset identifier type.
        chain:
          $ref: '#/components/schemas/TonChainUniqueId'
          description: The details of the chain of the native asset.
      type: object
      required:
      - type
      - chain
      title: TonNativeAssetIdentifierRequest
    SuiAddressBookContactAddressRef:
      properties:
        chain_type:
          type: string
          const: sui
          title: Chain Type
          description: The type of the chain.
        address:
          type: string
          maxLength: 66
          minLength: 66
          pattern: ^0[xX][a-fA-F0-9]+$
          title: Address
          description: The address on the Sui chain.
          example: '0x3300c18e7b931bdfc73dccf3e2d043ad1c9d120c777fff5aeeb9956224e5247a'
        chains:
          items:
            $ref: '#/components/schemas/SuiChain'
          type: array
          title: Chains
          description: The chains the contact belongs to.
      type: object
      required:
      - chain_type
      - address
      - chains
      title: SuiAddressBookContactAddressRef
    ChainalysisAlert:
      properties:
        category:
          $ref: '#/components/schemas/Category'
          description: The category of the AML rule.
        risk_rating:
          $ref: '#/components/schemas/RiskRating'
          description: Defines the alert's risk as SEVERE, HIGH, MEDIUM, or LOW.
        exposure_type:
          $ref: '#/components/schemas/ExposureType'
          description: Defines the exposure direction as DIRECT. Currently, we don't provide indirect exposure for withdrawal attempt alerts.
        service:
          title: Service
          description: The name of the service as defined by Chainalysis. If null returns, Chainalysis has not yet identified the service's name.
          type: string
      type: object
      required:
      - category
      - risk_rating
      - exposure_type
      title: ChainalysisAlert
    StarknetErc20AssetIdentifierRequest:
      properties:
        type:
          type: string
          const: erc20
          title: Type
          description: Erc20 asset identifier type.
        erc20:
          $ref: '#/components/schemas/StarknetAddressRequest'
          description: The Erc20 details.
      type: object
      required:
      - type
      - erc20
      title: StarknetErc20AssetIdentifierRequest
    UtxoDlcTransactionType:
      type: string
      enum:
      - FUNDING_TRANSACTION
      - REFUND_TRANSACTION
      - CET_TRANSACTION
      title: UtxoDlcTransactionType
    TronTrc20AssetIdentifierRequest:
      properties:
        type:
          type: string
          const: trc20
          title: Type
          description: Trc20 asset identifier type.
        trc20:
          $ref: '#/components/schemas/TronAddressRequest'
          description: The Trc20 details.
      type: object
      required:
      - type
      - trc20
      title: TronTrc20AssetIdentifierRequest
    ApprovalRequestState:
      type: string
      enum:
      - created
      - approved
      - insufficient_approvers
      - auto_approved
      - failed
      title: ApprovalRequestState
      description: Represents the whole approval request state
    PredictTransactionErrorType:
      type: string
      enum:
      - vault_not_found
      - invalid_evm_message
      - invalid_evm_transaction_data
      - reverted_transaction
      - transaction_to_non_contract
      - vault_type_mismatch
      - dust_not_allowed
      - insecure_key_derivation
      - missing_secret_key_or_recent_blockhash
      - missing_secret_key_or_signature
      - revoke_allowance_gas_limit_too_high
      - priority_fee_already_set
      - quote_not_found
      - transaction_uses_secure_node
      title: PredictTransactionErrorType
    SolanaUnitPrices:
      properties:
        limit:
          type: string
          pattern: ^\d+$
          title: Limit
          description: The compute unit limit.
          example: '1000000000000000000'
        low:
          type: string
          pattern: ^\d+$
          title: Low
          description: The low suggested fee per byte, denominated in microlamports.
          example: '1000000000000000000'
        medium:
          type: string
          pattern: ^\d+$
          title: Medium
          description: The medium suggested fee per byte, denominated in microlamports.
          example: '1000000000000000000'
        high:
          type: string
          pattern: ^\d+$
          title: High
          description: The high suggested fee per byte, denominated in microlamports.
          example: '1000000000000000000'
      type: object
      required:
      - limit
      - low
      - medium
      - high
      title: SolanaUnitPrices
    JitoSolanaSuggestedFees:
      properties:
        type:
          type: string
          const: solana
          title: Type
          description: The type of the chain.
        chain_unique_id:
          $ref: '#/components/schemas/SolanaChainUniqueId'
          description: The Solana chain unique id.
        base_fee:
          type: string
          pattern: ^\d+$
          title: Base Fee
          description: The base fee paid for the signatures in the transaction, denominated in lamports.
          example: '1000000000000000000'
        low:
          type: string
          pattern: ^\d+$
          title: Low
          description: The low suggested fee per byte, denominated in lamports.
          example: '1000000000000000000'
        medium:
          type: string
          pattern: ^\d+$
          title: Medium
          description: The medium suggested fee per byte, denominated in lamports.
          example: '1000000000000000000'
        high:
          type: string
          pattern: ^\d+$
          title: High
          description: The high suggested fee per byte, denominated in lamports.
          example: '1000000000000000000'
        fee_type:
          type: string
          const: jito
          title: Fee Type
          description: The type of the fee.
      type: object
      required:
      - type
      - chain_unique_id
      - base_fee
      - low
      - medium
      - high
      - fee_type
      title: JitoSolanaSuggestedFees
    ExchangeChainUniqueId:
      type: string
      enum:
      - exchange_binance
      - exchange_bybit
      - exchange_coinbase_international
      - exchange_coinbase_us
      - exchange_okx
      - exchange_kraken
      title: ExchangeChainUniqueId
    PolicyMatch:
      properties:
        is_default:
          type: boolean
          title: Is Default
          description: '`True` if this is the default rule, `False` otherwise.'
        rule_id:
          type: string
          format: uuid
          title: Rule Id
          description: The unique identifier of the rule.
        rule_name:
          type: string
          title: Rule Name
          description: The name of the rule.
        action_type:
          $ref: '#/components/schemas/TransactionPolicyMatchActionType'
          description: 'The action taken in the event of a policy match. Can be: <ul><li> Allow automatically<li> Block<li> Require express approval</ul>'
      type: object
      required:
      - is_default
      - rule_id
      - rule_name
      - action_type
      title: PolicyMatch
    ArchAddressBookContactAddressRef:
      properties:
        chain_type:
          type: string
          const: arch
          title: Chain Type
          description: The type of the chain.
        address:
          type: string
          maxLength: 44
          minLength: 32
          pattern: ^[a-km-zA-HJ-NP-Z1-9]+$
          title: Address
          description: The address on the Arch chain.
          example: 4fYNw3dojWmQ4dXtSGE9epjRGy9pFSx62YypT7avPYvA
        chains:
          items:
            $ref: '#/components/schemas/ArchChain'
          type: array
          title: Chains
          description: The chains the contact belongs to.
      type: object
      required:
      - chain_type
      - address
      - chains
      title: ArchAddressBookContactAddressRef
    UtxoAddressBookContactAddressRef:
      properties:
        chain_type:
          type: string
          const: utxo
          title: Chain Type
          description: The type of the chain.
        address:
          type: string
          maxLength: 74
          minLength: 14
          title: Address
          description: The address on the utxo chain.
          example: bc1qar0srrr7xfkvy5l643lydnw9re59gtzzwf5mdq
        chain:
          $ref: '#/components/schemas/UtxoChain'
          description: The chain the contact belongs to.
      type: object
      required:
      - chain_type
      - address
      - chain
      title: UtxoAddressBookContactAddressRef
    UtxoPsbtDetails:
      properties:
        type:
          type: string
          const: partially_signed_bitcoin_transaction
          title: Type
          description: A partially signed bitcoin transaction (PSBT).
        psbt_raw_data:
          type: string
          pattern: ^0[xX][a-fA-F0-9]+$
          title: Psbt Raw Data
          description: Partially signed bitcoin transaction data encoded as a hex string.
        signed_psbt_raw_data:
          title: Signed Psbt Raw Data
          description: Partially signed bitcoin transaction data encoded as a hex string.
          type: string
          pattern: ^0[xX][a-fA-F0-9]+$
        sender:
          $ref: '#/components/schemas/EnrichedUtxoAddress'
          description: The address that signed the inputs.
        json_representation:
          title: Json Representation
          description: Json representation of the PSBT.
          type: string
      type: object
      required:
      - type
      - psbt_raw_data
      - sender
      title: UtxoPsbtDetails
    TransactionDetailsUtxoCetRequest:
      properties:
        psbt_raw_data:
          type: string
          pattern: ^0[xX][a-fA-F0-9]+$
          title: Psbt Raw Data
          description: Partially signed bitcoin transaction data encoded as a hex string.
        sender:
          description: The signer on the inputs.
          deprecated: true
          $ref: '#/components/schemas/UtxoAddress'
        signer:
          title: Signer
          description: The signer on the inputs.
          type: string
          maxLength: 74
          minLength: 14
          example: bc1qar0srrr7xfkvy5l643lydnw9re59gtzzwf5mdq
        adaptor_point:
          type: string
          pattern: ^0[xX][a-fA-F0-9]+$
          title: Adaptor Point
          description: The adaptor point for the DLC CET transaction.
      type: object
      required:
      - psbt_raw_data
      - adaptor_point
      title: TransactionDetailsUtxoCetRequest
    SolanaTransactionAccount:
      properties:
        address:
          $ref: '#/components/schemas/EnrichedSolanaAddress'
          description: The address of the account.
        writable:
          type: boolean
          title: Writable
          description: Indicates if this account is writable in the context of the transaction.
        signer:
          type: boolean
          title: Signer
          description: Indicates if this account is a signer of the transaction.
      type: object
      required:
      - address
      - writable
      - signer
      title: SolanaTransactionAccount
    UtxoEffects:
      properties:
        inputs:
          items:
            $ref: '#/components/schemas/UtxoInput'
          type: array
          title: Inputs
          description: The inputs of the transaction.
        outputs:
          items:
            $ref: '#/components/schemas/UtxoOutput'
          type: array
          title: Outputs
          description: The outputs of the transaction.
        balance_changes:
          items:
            $ref: '#/components/schemas/UtxoBalanceChangeEffect'
          type: array
          title: Balance Changes
          description: The aggregated balance changes of vaults.
        total_value:
          type: string
          pattern: ^\d+$
          title: Total Value
          description: The total value of the transaction.
          example: '1000000000000000000'
        priced_asset:
          $ref: '#/components/schemas/PricedAsset'
          description: The asset information.
      type: object
      required:
      - inputs
      - outputs
      - balance_changes
      - total_value
      - priced_asset
      title: UtxoEffects
    DefinedPreconditionError_CreateTransactionErrorType_:
      properties:
        title:
          type: string
          title: Title
          description: Human-readable error message.
        detail:
          type: string
          title: Detail
          description: Detailed error message.
        full_detail:
          title: Full Detail
          description: Full error message with additional details, if available.
          type: string
        request_id:
          title: Request Id
          description: Request ID - for debugging purposes.
          type: string
        system_error_code:
          title: System Error Code
          description: An additional system error code in Fordefi.
          type: string
        error_type:
          $ref: '#/components/schemas/CreateTransactionErrorType'
      type: object
      required:
      - title
      - detail
      title: DefinedPreconditionError[CreateTransactionErrorType]
    SolanaNativeTransferDetails:
      properties:
        type:
          type: string
          const: native_transfer
          title: Type
          description: 'A transaction involving the transfer of native currency from one address to another. '
        sender:
          $ref: '#/components/schemas/EnrichedSolanaAddress'
          description: The sender of the tokens.
        recipient:
          $ref: '#/components/schemas/EnrichedSolanaAddress'
          description: The recipient of the tokens.
        is_internal:
          title: Is Internal
          description: Is this transfer an internal transfer between two vaults. None if the transaction is incoming.
          type: boolean
      type: object
      required:
      - type
      - sender
      - recipient
      title: SolanaNativeTransferDetails
    SolanaSplTokenAssetIdentifierRequest:
      properties:
        type:
          type: string
          const: spl_token
          title: Type
          description: SPL token asset identifier type.
        token:
          $ref: '#/components/schemas/SolanaAddressRequest'
          description: The SPL token details.
      type: object
      required:
      - type
      - token
      title: SolanaSplTokenAssetIdentifierRequest
    SolanaReversion:
      properties:
        state:
          $ref: '#/components/schemas/SolanaReversionState'
          description: 'The state of the reversion. Is one of the following:<ul><li>`not_reverted`: No reversion, meaning, completed successfully.<li>`unknown_revert`: Fordefi does not know the reason for the reversion.<li>`contract_asserted`: The smart contract originally made an assertion that was later rejected and the transaction was halted. <li>`insufficient_funds_gas_and_value`: A transaction was sent for which there were insufficient funds.<li>`insufficient_funds_for_rent`: There is not enough SOL in the account to pay for the rent.</ul>'
        reason:
          title: Reason
          description: The reason for the reversion (additional information).
          type: string
      type: object
      required:
      - state
      title: SolanaReversion
    VaultType:
      type: string
      enum:
      - aptos
      - arch
      - black_box
      - canton
      - cosmos
      - evm
      - safe
      - solana
      - stacks
      - starknet
      - stellar
      - sui
      - ton
      - tron
      - utxo
      - exchange
      title: VaultType
    SplToken:
      properties:
        type:
          type: string
          const: spl_token
          title: Type
          description: The type of the token
        address:
          $ref: '#/components/schemas/SolanaAddress'
          description: The token address
        name:
          type: string
          title: Name
          description: The token name
        symbol:
          type: string
          title: Symbol
          description: The token symbol or ticker
        decimals:
          type: integer
          title: Decimals
          description: The token decimals
        logo_url:
          title: Logo Url
          description: The token logo url
          type: string
          maxLength: 2083
          minLength: 1
          format: uri
      type: object
      required:
      - type
      - address
      - name
      - symbol
      - decimals
      title: SplToken
    SimulationStatus:
      type: string
      enum:
      - success
      - failed
      - reverted
      - skipped
      title: SimulationStatus
    AptosAddressBookContactAddressRef:
      properties:
        chain_type:
          type: string
          const: aptos
          title: Chain Type
          description: The type of the chain.
        address:
          type: string
          maxLength: 66
          minLength: 66
          pattern: ^0[xX][a-fA-F0-9]+$
          title: Address
          description: The address on the Aptos chain.
          example: '0x3300c18e7b931bdfc73dccf3e2d043ad1c9d120c777fff5aeeb9956224e5247a'
        chains:
          items:
            $ref: '#/components/schemas/AptosChain'
          type: array
          title: Chains
          description: The chains the contact belongs to.
      type: object
      required:
      - chain_type
      - address
      - chains
      title: AptosAddressBookContactAddressRef
    UtxoBalanceChangeEffect:
      properties:
        type:
          type: string
          const: native
          title: Type
          description: The type of the balance change.
        vault:
          $ref: '#/components/schemas/VaultRef'
          description: The vault affected by the balance change.
        diff:
          type: string
          pattern: ^-?\d+$
          title: Diff
          description: The amount of native currency that was added to or deducted from the owner's balance. If the amount was deducted, the value is negative; if the amount was added, the value is positive.
          example: '1000000000000000000'
        priced_asset:
          $ref: '#/components/schemas/PricedAsset'
          description: The asset information.
      type: object
      required:
      - type
      - vault
      - diff
      - priced_asset
      title: UtxoBalanceChangeEffect
    CantonChain:
      properties:
        chain_type:
          type: string
          const: canton
          title: Chain Type
          description: The type of the chain.
        unique_id:
          $ref: '#/components/schemas/CantonChainUniqueId'
          description: The type of the Canton chain.
      type: object
      required:
      - chain_type
      - unique_id
      title: CantonChain
    TransactionPolicyMatchActionType:
      type: string
      enum:
      - allow
      - block
      - require_approval
      title: TransactionPolicyMatchActionType
    EnrichedChain:
      oneOf:
      - $ref: '#/components/schemas/EnrichedAptosChain'
      - $ref: '#/components/schemas/EnrichedArchChain'
      - $ref: '#/components/schemas/EnrichedCantonChain'
      - $ref: '#/components/schemas/EnrichedCosmosChain'
      - $ref: '#/components/schemas/EnrichedEvmChain'
      - $ref: '#/components/schemas/EnrichedExchangeChain'
      - $ref: '#/components/schemas/EnrichedSolanaChain'
      - $ref: '#/components/schemas/EnrichedStacksChain'
      - $ref: '#/components/schemas/EnrichedStarknetChain'
      - $ref: '#/components/schemas/EnrichedStellarChain'
      - $ref: '#/components/schemas/EnrichedSuiChain'
      - $ref: '#/components/schemas/EnrichedTonChain'
      - $ref: '#/components/schemas/EnrichedTronChain'
      - $ref: '#/components/schemas/EnrichedUtxoChain'
      description: A blockchain with metadata.
      discriminator:
        propertyName: chain_type
        mapping:
          aptos: '#/components/schemas/EnrichedAptosChain'
          arch: '#/components/schemas/EnrichedArchChain'
          canton: '#/components/schemas/EnrichedCantonChain'
          cosmos: '#/components/schemas/EnrichedCosmosChain'
          evm: '#/components/schemas/EnrichedEvmChain'
          exchange: '#/components/schemas/EnrichedExchangeChain'
          solana: '#/components/schemas/EnrichedSolanaChain'
          stacks: '#/components/schemas/EnrichedStacksChain'
          starknet: '#/components/schemas/EnrichedStarknetChain'
          stellar: '#/components/schemas/EnrichedStellarChain'
          sui: '#/components/schemas/EnrichedSuiChain'
          ton: '#/components/schemas/EnrichedTonChain'
          tron: '#/components/schemas/EnrichedTronChain'
          utxo: '#/components/schemas/EnrichedUtxoChain'
    SolanaTransactionAccountRequest:
      properties:
        address:
          type: string
          maxLength: 44
          minLength: 32
          pattern: ^[a-km-zA-HJ-NP-Z1-9]+$
          title: Address
          description: The address of the account.
          example: 4fYNw3dojWmQ4dXtSGE9epjRGy9pFSx62YypT7avPYvA
        writable:
          type: boolean
          title: Writable
          description: Indicates if this account is writable in the context of the transaction.
        signer:
          type: boolean
          title: Signer
          description: Indicates if this account is a signer of the transaction.
        ephemeral_key:
          title: Ephemeral Key
          description: A 64-byte Solana secret key of the account, encoded in base-64.
          type: string
          maxLength: 88
          minLength: 88
          example: lnNyP8kFPEaVpvUo/SIlhdZlzhPU8r7yT/h0gG5ajzQ=
      type: object
      required:
      - address
      - writable
      - signer
      title: SolanaTransactionAccountRequest
    CreateBatchTransactionInstanceResponse:
      oneOf:
      - $ref: '#/components/schemas/SolanaTransaction'
      - $ref: '#/components/schemas/UtxoTransaction'
      discriminator:
        propertyName: type
        mapping:
          solana_transaction: '#/components/schemas/SolanaTransaction'
          utxo_transaction: '#/components/schemas/UtxoTransaction'
    UtxoTransactionResult:
      properties:
        fees:
          description: The fees of the transaction.
          $ref: '#/components/schemas/UtxoFees'
        effects:
          $ref: '#/components/schemas/UtxoEffects'
          description: The effects of the transaction.
        is_coinbase:
          type: boolean
          title: Is Coinbase
          description: True when this transaction is a coinbase (block-reward) transaction.
          default: false
      type: object
      required:
      - effects
      title: UtxoTransactionResult
    TronAddressRequest:
      properties:
        chain:
          $ref: '#/components/schemas/TronChainUniqueId'
          description: The chain details this address is of.
        base58_repr:
          type: string
          maxLength: 34
          minLength: 34
          pattern: ^T[a-km-zA-HJ-NP-Z1-9]+$
          title: Base58 Repr
          description: Base58 representation of the address in the chain.
          example: TJCnKsPa7y5okkXvQAidZBzqx3QyQ6sxMW
      type: object
      required:
      - chain
      - base58_repr
      title: TronAddressRequest
      description: Address represents a blockchain address.
    SuiAssetIdentifier:
      properties:
        type:
          type: string
          const: sui
          title: Type
          description: Sui asset identifier type.
        details:
          oneOf:
          - $ref: '#/components/schemas/SuiNativeAssetIdentifierRequest'
          - $ref: '#/components/schemas/SuiCoinAssetIdentifierRequest'
          discriminator:
            propertyName: type
            mapping:
              coin: '#/components/schemas/SuiCoinAssetIdentifierRequest'
              native: '#/components/schemas/SuiNativeAssetIdentifierRequest'
        chain:
          $ref: '#/components/schemas/EnrichedSuiChain'
      type: object
      required:
      - type
      - details
      - chain
      title: SuiAssetIdentifier
    SolanaSpotSwapBroadcastMode:
      type: string
      enum:
      - priority_fee
      - jito
      title: SolanaSpotSwapBroadcastMode
    DefinedPreconditionError_AbortTransactionErrorType_:
      properties:
        title:
          type: string
          title: Title
          description: Human-readable error message.
        detail:
          type: string
          title: Detail
          description: Detailed error message.
        full_detail:
          title: Full Detail
          description: Full error message with additional details, if available.
          type: string
        request_id:
          title: Request Id
          description: Request ID - for debugging purposes.
          type: string
        system_error_code:
          title: System Error Code
          description: An additional system error code in Fordefi.
          type: string
        error_type:
          $ref: '#/components/schemas/AbortTransactionErrorType'
      type: object
      required:
      - title
      - detail
      title: DefinedPreconditionError[AbortTransactionErrorType]
    TronAssetIdentifier:
      properties:
        type:
          type: string
          const: tron
          title: Type
          description: TRON asset identifier type.
        details:
          oneOf:
          - $ref: '#/components/schemas/TronNativeAssetIdentifierRequest'
          - $ref: '#/components/schemas/TronTrc20AssetIdentifierRequest'
          discriminator:
            propertyName: type
            mapping:
              native: '#/components/schemas/TronNativeAssetIdentifierRequest'
              trc20: '#/components/schemas/TronTrc20AssetIdentifierRequest'
        chain:
          $ref: '#/components/schemas/EnrichedTronChain'
      type: object
      required:
      - type
      - details
      - chain
      title: TronAssetIdentifier
    CantonNativeAssetIdentifierRequest:
      properties:
        type:
          type: string
          const: native
          title: Type
          description: Canton asset identifier type.
        chain:
          $ref: '#/components/schemas/CantonChainUniqueId'
          description: The details of the chain of the native asset.
      type: object
      required:
      - type
      - chain
      title: CantonNativeAssetIdentifierRequest
    SolanaNativeAssetIdentifierRequest:
      properties:
        type:
          type: string
          const: native
          title: Type
          description: Solana asset identifier type.
        chain:
          $ref: '#/components/schemas/SolanaChainUniqueId'
          description: The details of the chain of the native asset.
      type: object
      required:
      - type
      - chain
      title: SolanaNativeAssetIdentifierRequest
    SolanaChain:
      properties:
        chain_type:
          type: string
          const: solana
          title: Chain Type
          description: The type of the chain.
        unique_id:
          $ref: '#/components/schemas/SolanaChainUniqueId'
          description: The type of the Solana-based chain.
      type: object
      required:
      - chain_type
      - unique_id
      title: SolanaChain
    AptosChain:
      properties:
        chain_type:
          type: string
          const: aptos
          title: Chain Type
          description: The type of the chain.
        unique_id:
          $ref: '#/components/schemas/AptosChainUniqueId'
          description: The type of the Aptos-based chain.
      type: object
      required:
      - chain_type
      - unique_id
      title: AptosChain
    EnrichedStarknetChain:
      properties:
        chain_type:
          type: string
          const: starknet
          title: Chain Type
          description: The type of the chain.
        unique_id:
          $ref: '#/components/schemas/StarknetChainUniqueId'
          description: The type of the Starknet-based chain.
        name:
          type: string
          minLength: 1
          title: Name
          description: The full blockchain name.
        native_currency_symbol:
          type: string
          minLength: 1
          title: Native Currency Symbol
          description: The native currency symbol.
          example: ETH
        native_currency_name:
          type: string
          minLength: 1
          title: Native Currency Name
          description: The native currency name.
          example: Ether
        blockchain_explorer:
          $ref: '#/components/schemas/BlockchainExplorer'
        logo_url:
          type: string
          maxLength: 2083
          minLength: 1
          format: uri
          title: Logo Url
          description: The logo URL of the chain.
        is_testnet:
          type: boolean
          title: Is Testnet
          description: Whether the chain is on a testnet.
        is_enabled:
          type: boolean
          title: Is Enabled
          description: Whether the chain is enabled.
      type: object
      required:
      - chain_type
      - unique_id
      - name
      - native_currency_symbol
      - native_currency_name
      - logo_url
      - is_testnet
      - is_enabled
      title: EnrichedStarknetChain
    ActionSigner:
      properties:
        user:
          $ref: '#/components/schemas/UserRef'
          description: Possible signer user
        modified_at:
          type: string
          format: date-time
          title: Modified At
          description: When the signer received/signed the action
        has_signed:
          type: boolean
          title: Has Signed
          description: Whether the signer signed the action
      type: object
      required:
      - user
      - modified_at
      - has_signed
      title: ActionSigner
      description: Represents a single signer in an action
    CreateBatchSolanaTransactionRequest:
      properties:
        vault_id:
          type: string
          format: uuid
          title: Vault Id
          description: The unique identifier of the vault.
        note:
          title: Note
          description: An optional transaction note.
          type: string
        signer_type:
          $ref: '#/components/schemas/SignerType'
          description: 'The signer of the transaction. Can be: <ul><li>`initiator`: The creator of the transaction (default).<li>`api_signer`: A service that you run on your own network or cloud environment. <li>`end_user`: A mobile device using Fordefi''s SDK.</ul>'
          default: initiator
        sign_mode:
          $ref: '#/components/schemas/SignMode'
          description: 'The sign mode of the transaction determines when the transaction will transition to the signing phase. It can be one of the following:<ul><li>`auto`: The transaction will move to signing automatically after approval.<li>`triggered`: The transaction will be in the `waiting_for_signing_trigger` state until "Trigger Transaction Signing" is called. Currently supported only for API Signer signer type.</ul>'
          default: auto
        dapp_info:
          description: The DApp information.
          $ref: '#/components/schemas/DappInfo'
        type:
          type: string
          const: solana_transaction
          title: Type
          description: Solana transaction type.
        details:
          $ref: '#/components/schemas/CreateBatchTransactionRequestDetails'
      type: object
      required:
      - vault_id
      - type
      - details
      title: CreateBatchSolanaTransactionRequest
    PersonRef:
      properties:
        id:
          type: string
          format: uuid
          title: Id
          description: The unique identifier of the user in the Fordefi platform.
        user_type:
          type: string
          const: person
          title: User Type
          description: The type of user. Can be a person, or (in programmatic scenarios) an API user or API Signer.
        name:
          title: Name
          description: The name of the user.
          example: John Doe
          type: string
        email:
          type: string
          title: Email
          description: The email of the user.
        state:
          $ref: '#/components/schemas/UserState'
          description: The state of the user in the organization.
        role:
          $ref: '#/components/schemas/UserRole'
          description: The role of the user.
      type: object
      required:
      - id
      - user_type
      - email
      - state
      - role
      title: PersonRef
    TransactionRiskType:
      type: string
      enum:
      - transfer_to_erc20_contract
      - organization_not_interacted_with_address
      - vault_not_interacted_with_address
      - allowance_to_eoa
      - unlimited_allowance
      - contract_not_verified
      - bridge_dest_differ_from_sender
      - nft_approve_for_all
      - missing_simulation
      - unsupported_simulation
      - post_conditions_allow_mode
      - safe_sensitive_operation
      title: TransactionRiskType
    EvmChain:
      properties:
        chain_type:
          type: string
          const: evm
          title: Chain Type
          description: The type of the chain.
        named_chain_id:
          title: EvmChainName
          description: The EVM chain name can be either one of those supported by the default chains below or a custom chain name if one was added to your organization. <ul><li>`arbitrum_mainnet`</li><li>`arbitrum_sepolia`</li><li>`aster_mainnet`</li><li>`avalanche_chain`</li><li>`avalanche_fuji`</li><li>`base_mainnet`</li><li>`berachain_mainnet`</li><li>`blast_mainnet`</li><li>`bsc_mainnet`</li><li>`canto_mainnet`</li><li>`clink_mainnet`</li><li>`clink_testnet`</li><li>`conflux_mainnet`</li><li>`dymension_mainnet`</li><li>`ethereum_goerli`</li><li>`ethereum_holesky`</li><li>`ethereum_mainnet`</li><li>`ethereum_sepolia`</li><li>`fantom_mainnet`</li><li>`flare_mainnet`</li><li>`flare_testnet`</li><li>`gnosis_mainnet`</li><li>`hypercore_mainnet`</li><li>`hyperevm_mainnet`</li><li>`ink_mainnet`</li><li>`kava_mainnet`</li><li>`katana_mainnet`</li><li>`linea_mainnet`</li><li>`optimism_mainnet`</li><li>`pharos_mainnet`</li><li>`plasma_mainnet`</li><li>`manta_pacific_mainnet`</li><li>`mantle_mainnet`</li><li>`merlin_mainnet`</li><li>`monad_mainnet`</li><li>`polygon_mainnet`</li><li>`polygon_mumbai`</li><li>`polygon_zkevm_mainnet`</li><li>`reya_mainnet`</li><li>`robinhood_mainnet`</li><li>`rootstock_mainnet`</li><li>`scroll_mainnet`</li><li>`sei_mainnet`</li><li>`sonic_mainnet`</li><li>`tempo_mainnet`</li><li>`unichain_mainnet`</li><li>`xai_mainnet`</li><li>`x_layer_mainnet`</li><li>`zero_gravity_mainnet`</li><li>`zeta_mainnet`</li><li>`zklink_nova_mainnet`</li><li>`zksync_era_mainnet`</li></ul>
          type: string
          minLength: 1
        chain_id:
          type: integer
          minimum: 1.0
          title: EvmChainId
          description: The EVM chain ID can be either one of those supported by the default chains below or a custom chain ID if one was added to your organization. <ul><li>1=`ethereum_mainnet`</li><li>5=`ethereum_goerli`</li><li>10=`optimism_mainnet`</li><li>14=`flare_mainnet`</li><li>16=`flare_testnet`</li><li>30=`rootstock_mainnet`</li><li>56=`bsc_mainnet`</li><li>100=`gnosis_mainnet`</li><li>130=`unichain_mainnet`</li><li>137=`polygon_mainnet`</li><li>143=`monad_mainnet`</li><li>146=`sonic_mainnet`</li><li>169=`manta_pacific_mainnet`</li><li>196=`x_layer_mainnet`</li><li>250=`fantom_mainnet`</li><li>324=`zksync_era_mainnet`</li><li>999=`hyperevm_mainnet`</li><li>1030=`conflux_mainnet`</li><li>1100=`dymension_mainnet`</li><li>1101=`polygon_zkevm_mainnet`</li><li>1329=`sei_mainnet`</li><li>1337=`hypercore_mainnet`</li><li>1666=`aster_mainnet`</li><li>1672=`pharos_mainnet`</li><li>1729=`reya_mainnet`</li><li>2222=`kava_mainnet`</li><li>4200=`merlin_mainnet`</li><li>4217=`tempo_mainnet`</li><li>4663=`robinhood_mainnet`</li><li>5000=`mantle_mainnet`</li><li>7000=`zeta_mainnet`</li><li>7700=`canto_mainnet`</li><li>8453=`base_mainnet`</li><li>8818=`clink_mainnet`</li><li>8819=`clink_testnet`</li><li>9745=`plasma_mainnet`</li><li>16661=`zero_gravity_mainnet`</li><li>17000=`ethereum_holesky`</li><li>80001=`polygon_mumbai`</li><li>80094=`berachain_mainnet`</li><li>42161=`arbitrum_mainnet`</li><li>43113=`avalanche_fuji`</li><li>43114=`avalanche_chain`</li><li>57073=`ink_mainnet`</li><li>59144=`linea_mainnet`</li><li>81457=`blast_mainnet`</li><li>421614=`arbitrum_sepolia`</li><li>534352=`scroll_mainnet`</li><li>660279=`xai_mainnet`</li><li>747474=`katana_mainnet`</li><li>810180=`zklink_nova_mainnet`</li><li>11155111=`ethereum_sepolia`</li></ul>
        unique_id:
          type: string
          minLength: 1
          title: EvmChainUniqueId
          description: The unique EVM chain ID. </br>Can be either one of those supported by the default chains below or a custom numeric chain ID `evm_<numeric_chain_id>` if one was added to your organization. <ul><li>`"evm_1"`</li><li>`"evm_5"`</li><li>`"evm_10"`</li><li>`"evm_14"`</li><li>`"evm_16"`</li><li>`"evm_30"`</li><li>`"evm_56"`</li><li>`"evm_100"`</li><li>`"evm_130"`</li><li>`"evm_137"`</li><li>`"evm_143"`</li><li>`"evm_146"`</li><li>`"evm_169"`</li><li>`"evm_196"`</li><li>`"evm_250"`</li><li>`"evm_324"`</li><li>`"evm_999"`</li><li>`"evm_1030"`</li><li>`"evm_1100"`</li><li>`"evm_1101"`</li><li>`"evm_1329"`</li><li>`"evm_1337"`</li><li>`"evm_1666"`</li><li>`"evm_1672"`</li><li>`"evm_1729"`</li><li>`"evm_2222"`</li><li>`"evm_4200"`</li><li>`"evm_4217"`</li><li>`"evm_4663"`</li><li>`"evm_5000"`</li><li>`"evm_7000"`</li><li>`"evm_7700"`</li><li>`"evm_8453"`</li><li>`"evm_8818"`</li><li>`"evm_8819"`</li><li>`"evm_9745"`</li><li>`"evm_16661"`</li><li>`"evm_17000"`</li><li>`"evm_80001"`</li><li>`"evm_80094"`</li><li>`"evm_42161"`</li><li>`"evm_43113"`</li><li>`"evm_43114"`</li><li>`"evm_57073"`</li><li>`"evm_59144"`</li><li>`"evm_81457"`</li><li>`"evm_421614"`</li><li>`"evm_534352"`</li><li>`"evm_660279"`</li><li>`"evm_747474"`</li><li>`"evm_810180"`</li><li>`"evm_11155111"`</li><li>`"evm_ethereum_mainnet"`</li><li>`"evm_ethereum_goerli"`</li><li>`"evm_optimism_mainnet"`</li><li>`"evm_flare_mainnet"`</li><li>`"evm_flare_testnet"`</li><li>`"evm_rootstock_mainnet"`</li><li>`"evm_bsc_mainnet"`</li><li>`"evm_gnosis_mainnet"`</li><li>`"evm_unichain_mainnet"`</li><li>`"evm_polygon_mainnet"`</li><li>`"evm_monad_mainnet"`</li><li>`"evm_sonic_mainnet"`</li><li>`"evm_manta_pacific_mainnet"`</li><li>`"evm_x_layer_mainnet"`</li><li>`"evm_fantom_mainnet"`</li><li>`"evm_zksync_era_mainnet"`</li><li>`"evm_hyperevm_mainnet"`</li><li>`"evm_conflux_mainnet"`</li><li>`"evm_dymension_mainnet"`</li><li>`"evm_polygon_zkevm_mainnet"`</li><li>`"evm_sei_mainnet"`</li><li>`"evm_hypercore_mainnet"`</li><li>`"evm_aster_mainnet"`</li><li>`"evm_pharos_mainnet"`</li><li>`"evm_reya_mainnet"`</li><li>`"evm_kava_mainnet"`</li><li>`"evm_merlin_mainnet"`</li><li>`"evm_tempo_mainnet"`</li><li>`"evm_robinhood_mainnet"`</li><li>`"evm_mantle_mainnet"`</li><li>`"evm_zeta_mainnet"`</li><li>`"evm_canto_mainnet"`</li><li>`"evm_base_mainnet"`</li><li>`"evm_clink_mainnet"`</li><li>`"evm_clink_testnet"`</li><li>`"evm_plasma_mainnet"`</li><li>`"evm_zero_gravity_mainnet"`</li><li>`"evm_ethereum_holesky"`</li><li>`"evm_polygon_mumbai"`</li><li>`"evm_berachain_mainnet"`</li><li>`"evm_arbitrum_mainnet"`</li><li>`"evm_avalanche_fuji"`</li><li>`"evm_avalanche_chain"`</li><li>`"evm_ink_mainnet"`</li><li>`"evm_linea_mainnet"`</li><li>`"evm_blast_mainnet"`</li><li>`"evm_arbitrum_sepolia"`</li><li>`"evm_scroll_mainnet"`</li><li>`"evm_xai_mainnet"`</li><li>`"evm_katana_mainnet"`</li><li>`"evm_zklink_nova_mainnet"`</li><li>`"evm_ethereum_sepolia"`</li></ul>
      type: object
      required:
      - chain_type
      - chain_id
      - unique_id
      title: EvmChain
    SuiChainUniqueId:
      type: string
      enum:
      - sui_mainnet
      - sui_testnet
      title: SuiChainUniqueId
    StarknetAssetIdentifier:
      properties:
        type:
          type: string
          const: starknet
          title: Type
          description: Starknet asset identifier type.
        details:
          oneOf:
          - $ref: '#/components/schemas/StarknetNativeAssetIdentifierRequest'
          - $ref: '#/components/schemas/StarknetErc20AssetIdentifierRequest'
          discriminator:
            propertyName: type
            mapping:
              erc20: '#/components/schemas/StarknetErc20AssetIdentifierRequest'
              native: '#/components/schemas/StarknetNativeAssetIdentifierRequest'
        chain:
          $ref: '#/components/schemas/EnrichedStarknetChain'
      type: object
      required:
      - type
      - details
      - chain
      title: StarknetAssetIdentifier
    ArchAssetIdentifier:
      properties:
        type:
          type: string
          const: arch
          title: Type
          description: Arch asset identifier type.
        details:
          oneOf:
          - $ref: '#/components/schemas/ArchNativeAssetIdentifierRequest'
          - $ref: '#/components/schemas/ArchAplTokenAssetIdentifierRequest'
          discriminator:
            propertyName: type
            mapping:
              apl_token: '#/components/schemas/ArchAplTokenAssetIdentifierRequest'
              native: '#/components/schemas/ArchNativeAssetIdentifierRequest'
        chain:
          $ref: '#/components/schemas/EnrichedArchChain'
      type: object
      required:
      - type
      - details
      - chain
      title: ArchAssetIdentifier
    EvmNativeAssetIdentifierRequest:
      properties:
        type:
          type: string
          const: native
          title: Type
          description: EVM asset identifier type.
        chain:
          type: string
          minLength: 1
          title: EvmChainUniqueId
          description: The details of the chain of the native asset.
      type: object
      required:
      - type
      - chain
      title: EvmNativeAssetIdentifierRequest
    UtxoNativeAssetIdentifierRequest:
      properties:
        type:
          type: string
          const: native
          title: Type
          description: Utxo asset identifier type.
        chain:
          $ref: '#/components/schemas/UtxoChainUniqueId'
          description: The unique id of the chain of the asset.
      type: object
      required:
      - type
      - chain
      title: UtxoNativeAssetIdentifierRequest
    SolanaAddressBookContactAddressRef:
      properties:
        chain_type:
          type: string
          const: solana
          title: Chain Type
          description: The type of the chain.
        address:
          type: string
          maxLength: 44
          minLength: 32
          pattern: ^[a-km-zA-HJ-NP-Z1-9]+$
          title: Address
          description: The address on the Solana chain.
          example: 4fYNw3dojWmQ4dXtSGE9epjRGy9pFSx62YypT7avPYvA
        chains:
          items:
            $ref: '#/components/schemas/SolanaChain'
          type: array
          title: Chains
          description: The chains the contact belongs to.
      type: object
      required:
      - chain_type
      - address
      - chains
      title: SolanaAddressBookContactAddressRef
    CosmosNativeAssetIdentifierRequest:
      properties:
        type:
          type: string
          const: native
          title: Type
          description: Cosmos asset identifier type.
        chain:
          $ref: '#/components/schemas/CosmosChainUniqueId'
          description: The unique id of the chain of the asset.
      type: object
      required:
      - type
      - chain
      title: CosmosNativeAssetIdentifierRequest
    BatchData:
      properties:
        batch_id:
          type: string
          format: uuid
          title: Batch Id
          description: The unique identifier of the batch.
        index_in_batch:
          type: integer
          title: Index In Batch
          description: Index of transaction in the batch.
        batch_size:
          type: integer
          title: Batch Size
          description: The number of transactions in the batch.
        matched_policies:
          items:
            $ref: '#/components/schemas/PolicyMatch'
          type: array
          title: Matched Policies
          description: List of policies matched by this message.
      type: object
      required:
      - batch_id
      - index_in_batch
      - batch_size
      - matched_policies
      title: BatchData
    ValidationError:
      properties:
        title:
          type: string
          title: Title
          description: Human-readable error message.
        detail:
          items:
            $ref: '#/components/schemas/ValidationErrorDetail'
          type: array
          title: Detail
        full_detail:
          title: Full Detail
          description: Full error message with additional details, if available.
          type: string
        request_id:
          title: Request Id
          description: Request ID - for debugging purposes.
          type: string
      type: object
      required:
      - title
      - detail
      title: ValidationError
    EvmAssetIdentifier:
      properties:
        type:
          type: string
          const: evm
          title: Type
          description: Asset identifier type.
        details:
          oneOf:
          - $ref: '#/components/schemas/EvmNativeAssetIdentifierRequest'
          - $ref: '#/components/schemas/EvmErc20AssetIdentifierRequest'
          - $ref: '#/components/schemas/EvmErc721AssetIdentifierRequest'
          - $ref: '#/components/schemas/EvmErc1155AssetIdentifierRequest'
          - $ref: '#/components/schemas/EvmHyperLiquidAssetIdentifierRequest'
          discriminator:
            propertyName: type
            mapping:
              erc1155: '#/components/schemas/EvmErc1155AssetIdentifierRequest'
              erc20: '#/components/schemas/EvmErc20AssetIdentifierRequest'
              erc721: '#/components/schemas/EvmErc721AssetIdentifierRequest'
              hyperliquid: '#/components/schemas/EvmHyperLiquidAssetIdentifierRequest'
              native: '#/components/schemas/EvmNativeAssetIdentifierRequest'
        chain:
          $ref: '#/components/schemas/EnrichedEvmChain'
      type: object
      required:
      - type
      - details
      - chain
      title: EvmAssetIdentifier
    EndUserRef:
      properties:
        id:
          type: string
          format: uuid
          title: Id
          description: The unique identifier of the user in the Fordefi platform.
        user_type:
          type: string
          const: end_user
          title: User Type
          description: The type of the user.
        external_id:
          type: string
          title: External Id
          description: External id of the user.
          example: user|1234
        state:
          type: string
          enum:
          - active
          - deleted
          title: State
          description: The state of the user.
      type: object
      required:
      - id
      - user_type
      - external_id
      - state
      title: EndUserRef
    DappInfo:
      properties:
        url:
          type: string
          title: Url
          description: The URL of the dapp.
        name:
          type: string
          title: Name
          description: The name of the dapp.
      type: object
      required:
      - url
      - name
      title: DappInfo
    PsbtInput:
      properties:
        index:
          type: integer
          title: Index
          description: The input index to sign on.
        signer_identity:
          oneOf:
          - $ref: '#/components/schemas/PsbtSignerIdentityAddress'
          - $ref: '#/components/schemas/PsbtSignerIdentityPublicKey'
          discriminator:
            propertyName: type
            mapping:
              address: '#/components/schemas/PsbtSignerIdentityAddress'
              public_key: '#/components/schemas/PsbtSignerIdentityPublicKey'
        sighash_types:
          title: Sighash Types
          description: Flags that describe how to sign.
          items:
            type: integer
          type: array
        disable_tweak_signer:
          title: Disable Tweak Signer
          description: Disable tweaking of taproot public key.
          type: boolean
      type: object
      required:
      - index
      - signer_identity
      title: PsbtInput
    FeePaidByVault:
      properties:
        type:
          type: string
          const: vault
          title: Type
          description: The type of fee payer.
        vault:
          $ref: '#/components/schemas/VaultRef'
          description: The vault that paid the fee for this transaction.
      type: object
      required:
      - type
      - vault
      title: FeePaidByVault
    AptosCoinAssetIdentifierRequest:
      properties:
        type:
          type: string
          const: coin
          title: Type
          description: Legacy coin asset identifier type.
        coin_type:
          $ref: '#/components/schemas/AptosCoinTypeRequest'
          description: The legacy coin details.
      type: object
      required:
      - type
      - coin_type
      title: AptosCoinAssetIdentifierRequest
    Resource:
      type: string
      enum:
      - user
      - user_change_proposals
      - user_group
      - user_group_change_proposal
      - vault
      - vault_address
      - vault_group
      - address_group
      - transaction
      - batch_transaction
      - path
      - keyset
      - auth_token
      - access_token
      - asset
      - asset_info
      - vault_derivation_path
      - blockchain
      - export
      - quote
      - import_keys_request
      - vault_address_account
      - exchange_asset_mapping
      - dapp_group
      - safe_address
      - audit_log
      title: Resource
    Signature:
      properties:
        data:
          type: string
          title: Data
          description: Signature on the transaction, encoded in base64 format.
          example: SGVsbG8=
        signed_by:
          description: The user who created this signature, `null` if the signature wasn't created by a Fordefi user.
          oneOf:
          - $ref: '#/components/schemas/PersonRef'
          - $ref: '#/components/schemas/ApiSignerRef'
          - $ref: '#/components/schemas/EndUserRef'
          - $ref: '#/components/schemas/ApiUserRef'
          discriminator:
            propertyName: user_type
            mapping:
              api_signer: '#/components/schemas/ApiSignerRef'
              api_user: '#/components/schemas/ApiUserRef'
              end_user: '#/components/schemas/EndUserRef'
              person: '#/components/schemas/PersonRef'
      type: object
      required:
      - data
      title: Signature
    TransactionDetailsUtxoDlcRequest:
      properties:
        psbt_raw_data:
          type: string
          pattern: ^0[xX][a-fA-F0-9]+$
          title: Psbt Raw Data
          description: Partially signed bitcoin transaction data encoded as a hex string.
        sender:
          description: The signer on the inputs.
          deprecated: true
          $ref: '#/components/schemas/UtxoAddress'
        signer:
          title: Signer
          description: The signer on the inputs.
          type: string
          maxLength: 74
          minLength: 14
          example: bc1qar0srrr7xfkvy5l643lydnw9re59gtzzwf5mdq
        inputs:
          title: Inputs
          description: Describes how to sign each input.
          items:
            $ref: '#/components/schemas/PsbtInput'
          type: array
      type: object
      required:
      - psbt_raw_data
      title: TransactionDetailsUtxoDlcRequest
    EnrichedSolanaChain:
      properties:
        chain_type:
          type: string
          const: solana
          title: Chain Type
          description: The type of the chain.
        unique_id:
          $ref: '#/components/schemas/SolanaChainUniqueId'
          description: The type of the Solana-based chain.
        name:
          type: string
          minLength: 1
          title: Name
          description: The full blockchain name.
        native_currency_symbol:
          type: string
          minLength: 1
          title: Native Currency Symbol
          description: The native currency symbol.
          example: ETH
        native_currency_name:
          type: string
          minLength: 1
          title: Native Currency Name
          description: The native currency name.
          example: Ether
        blockchain_explorer:
          $ref: '#/components/schemas/BlockchainExplorer'
        logo_url:
          type: string
          maxLength: 2083
          minLength: 1
          format: uri
          title: Logo Url
          description: The logo URL of the chain.
        is_testnet:
          type: boolean
          title: Is Testnet
          description: Whether the chain is on a testnet.
        is_enabled:
          type: boolean
          title: Is Enabled
          description: Whether the chain is enabled.
      type: object
      required:
      - chain_type
      - unique_id
      - name
      - native_currency_symbol
      - native_currency_name
      - logo_url
      - is_testnet
      - is_enabled
      title: EnrichedSolanaChain
    Dapp:
      properties:
        id:
          type: string
          format: uuid
          title: Id
          description: The unique identifier of this DApp.
        name:
          type: string
          title: Name
          description: The name of the DApp.
        url:
          title: Url
          description: The URL of the DApp.
          type: string
          minLength: 1
          format: uri
        logo_url:
          title: Logo Url
          description: The logo URL of the DApp.
          type: string
          minLength: 1
          format: uri
        contracts_count:
          type: integer
          title: Contracts Count
          description: The number of contracts associated with this DApp.
          default: 0
      type: object
      required:
      - id
      - name
      title: Dapp
    StellarChain:
      properties:
        chain_type:
          type: string
          const: stellar
          title: Chain Type
          description: The type of the chain.
        unique_id:
          $ref: '#/components/schemas/StellarChainUniqueId'
          description: The type of the Stellar chain.
      type: object
      required:
      - chain_type
      - unique_id
      title: StellarChain
    TonJettonAssetIdentifierRequest:
      properties:
        type:
          type: string
          const: jetton
          title: Type
          description: Jetton asset identifier type.
        jetton:
          $ref: '#/components/schemas/TonAddressRequest'
          description: The Jetton details.
      type: object
      required:
      - type
      - jetton
      title: TonJettonAssetIdentifierRequest
    SolanaChainUniqueId:
      type: string
      enum:
      - solana_mainnet
      - solana_devnet
      - solana_eclipse_mainnet
      - solana_fogo_mainnet
      - solana_fogo_testnet
      title: SolanaChainUniqueId
    SolanaMessageAddressTableLookupRequest:
      properties:
        account_key:
          type: string
          maxLength: 44
          minLength: 32
          pattern: ^[a-km-zA-HJ-NP-Z1-9]+$
          title: Account Key
          description: The address of the lookup table.
          example: 4fYNw3dojWmQ4dXtSGE9epjRGy9pFSx62YypT7avPYvA
        writable_indexes:
          items:
            type: integer
          type: array
          title: Writable Indexes
          description: Indexes of writable accounts in the lookup table.
        readonly_indexes:
          items:
            type: integer
          type: array
          title: Readonly Indexes
          description: Indexes of read-only accounts in the lookup table.
      type: object
      required:
      - account_key
      - writable_indexes
      - readonly_indexes
      title: SolanaMessageAddressTableLookupRequest
    VaultRef:
      properties:
        id:
          type: string
          format: uuid
          title: Id
          description: The unique identifier of the vault in the Fordefi platform.
        vault_group_id:
          title: Vault Group Id
          description: The unique identifier of the vault group this vault belongs to.
          deprecated: true
          type: string
          format: uuid
        vault_group_ids:
          items:
            type: string
            format: uuid
          type: array
          title: Vault Group Ids
          description: The unique identifiers of the vault groups this vault belongs to.
        name:
          type: string
          title: Name
          description: The name of the vault.
        address:
          title: Address
          description: The address of the vault.
          type: string
        state:
          $ref: '#/components/schemas/VaultState'
          description: The state of the vault.
        type:
          $ref: '#/components/schemas/VaultType'
          description: The vault type.
        logo_url:
          title: Logo Url
          description: The logo of the vault. Supported for exchange and Safe vaults.
          type: string
          maxLength: 2083
          minLength: 1
          format: uri
        end_user:
          description: The end user that owns this vault if it is in a Consumer Wallet organization. `None` otherwise.
          $ref: '#/components/schemas/EndUserRef'
        is_external_signer:
          type: boolean
          title: Is External Signer
          description: Whether the vault uses an externally imported key (external signer).
          default: false
      type: object
      required:
      - id
      - vault_group_ids
      - name
      - state
      - type
      title: VaultRef
      description: Represents a reference to a vault in the Fordefi platform
    ChainSource:
      type: string
      enum:
      - default
      - custom
      title: ChainSource
    CosmosAssetIdentifier:
      properties:
        type:
          type: string
          const: cosmos
          title: Type
          description: Cosmos asset identifier type.
        details:
          oneOf:
          - $ref: '#/components/schemas/CosmosNativeAssetIdentifierRequest'
          - $ref: '#/components/schemas/CosmosTokenAssetIdentifierRequest'
          discriminator:
            propertyName: type
            mapping:
              native: '#/components/schemas/CosmosNativeAssetIdentifierRequest'
              token: '#/components/schemas/CosmosTokenAssetIdentifierRequest'
        chain:
          $ref: '#/components/schemas/EnrichedCosmosChain'
      type: object
      required:
      - type
      - details
      - chain
      title: CosmosAssetIdentifier
    ValidationErrorDetail:
      properties:
        loc:
          items:
            anyOf:
            - type: integer
            - type: string
          type: array
          title: Location
        msg:
          type: string
          title: Message
        type:
          type: string
          title: Error Type
      type: object
      required:
      - loc
      - msg
      - type
      title: ValidationErrorDetail
    AmlPolicyMatchIncoming:
      properties:
        is_default:
          type: boolean
          title: Is Default
          description: '`True` if this is the default rule, `False` otherwise.'
        rule_id:
          type: string
          format: uuid
          title: Rule Id
          description: The unique identifier of the rule.
        rule_name:
          type: string
          title: Rule Name
          description: The name of the rule.
        action_type:
          $ref: '#/components/schemas/AmlPolicyMatchIncomingActionType'
          description: 'The action taken in the event of a policy match. Can be: <ul><li> Allow automatically<li> Freeze<li> Skip</ul>'
      type: object
      required:
      - is_default
      - rule_id
      - rule_name
      - action_type
      title: AmlPolicyMatchIncoming
    UtxoChain:
      properties:
        chain_type:
          type: string
          const: utxo
          title: Chain Type
          description: The type of the chain.
        unique_id:
          $ref: '#/components/schemas/UtxoChainUniqueId'
          description: The UTXO chain unique ID.
      type: object
      required:
      - chain_type
      - unique_id
      title: UtxoChain
    EnrichedEvmChain:
      properties:
        chain_type:
          type: string
          const: evm
          title: Chain Type
          description: The type of the chain.
        named_chain_id:
          title: EvmChainName
          description: The EVM chain name can be either one of those supported by the default chains below or a custom chain name if one was added to your organization. <ul><li>`arbitrum_mainnet`</li><li>`arbitrum_sepolia`</li><li>`aster_mainnet`</li><li>`avalanche_chain`</li><li>`avalanche_fuji`</li><li>`base_mainnet`</li><li>`berachain_mainnet`</li><li>`blast_mainnet`</li><li>`bsc_mainnet`</li><li>`canto_mainnet`</li><li>`clink_mainnet`</li><li>`clink_testnet`</li><li>`conflux_mainnet`</li><li>`dymension_mainnet`</li><li>`ethereum_goerli`</li><li>`ethereum_holesky`</li><li>`ethereum_mainnet`</li><li>`ethereum_sepolia`</li><li>`fantom_mainnet`</li><li>`flare_mainnet`</li><li>`flare_testnet`</li><li>`gnosis_mainnet`</li><li>`hypercore_mainnet`</li><li>`hyperevm_mainnet`</li><li>`ink_mainnet`</li><li>`kava_mainnet`</li><li>`katana_mainnet`</li><li>`linea_mainnet`</li><li>`optimism_mainnet`</li><li>`pharos_mainnet`</li><li>`plasma_mainnet`</li><li>`manta_pacific_mainnet`</li><li>`mantle_mainnet`</li><li>`merlin_mainnet`</li><li>`monad_mainnet`</li><li>`polygon_mainnet`</li><li>`polygon_mumbai`</li><li>`polygon_zkevm_mainnet`</li><li>`reya_mainnet`</li><li>`robinhood_mainnet`</li><li>`rootstock_mainnet`</li><li>`scroll_mainnet`</li><li>`sei_mainnet`</li><li>`sonic_mainnet`</li><li>`tempo_mainnet`</li><li>`unichain_mainnet`</li><li>`xai_mainnet`</li><li>`x_layer_mainnet`</li><li>`zero_gravity_mainnet`</li><li>`zeta_mainnet`</li><li>`zklink_nova_mainnet`</li><li>`zksync_era_mainnet`</li></ul>
          type: string
          minLength: 1
        chain_id:
          type: integer
          minimum: 1.0
          title: EvmChainId
          description: The EVM chain ID can be either one of those supported by the default chains below or a custom chain ID if one was added to your organization. <ul><li>1=`ethereum_mainnet`</li><li>5=`ethereum_goerli`</li><li>10=`optimism_mainnet`</li><li>14=`flare_mainnet`</li><li>16=`flare_testnet`</li><li>30=`rootstock_mainnet`</li><li>56=`bsc_mainnet`</li><li>100=`gnosis_mainnet`</li><li>130=`unichain_mainnet`</li><li>137=`polygon_mainnet`</li><li>143=`monad_mainnet`</li><li>146=`sonic_mainnet`</li><li>169=`manta_pacific_mainnet`</li><li>196=`x_layer_mainnet`</li><li>250=`fantom_mainnet`</li><li>324=`zksync_era_mainnet`</li><li>999=`hyperevm_mainnet`</li><li>1030=`conflux_mainnet`</li><li>1100=`dymension_mainnet`</li><li>1101=`polygon_zkevm_mainnet`</li><li>1329=`sei_mainnet`</li><li>1337=`hypercore_mainnet`</li><li>1666=`aster_mainnet`</li><li>1672=`pharos_mainnet`</li><li>1729=`reya_mainnet`</li><li>2222=`kava_mainnet`</li><li>4200=`merlin_mainnet`</li><li>4217=`tempo_mainnet`</li><li>4663=`robinhood_mainnet`</li><li>5000=`mantle_mainnet`</li><li>7000=`zeta_mainnet`</li><li>7700=`canto_mainnet`</li><li>8453=`base_mainnet`</li><li>8818=`clink_mainnet`</li><li>8819=`clink_testnet`</li><li>9745=`plasma_mainnet`</li><li>16661=`zero_gravity_mainnet`</li><li>17000=`ethereum_holesky`</li><li>80001=`polygon_mumbai`</li><li>80094=`berachain_mainnet`</li><li>42161=`arbitrum_mainnet`</li><li>43113=`avalanche_fuji`</li><li>43114=`avalanche_chain`</li><li>57073=`ink_mainnet`</li><li>59144=`linea_mainnet`</li><li>81457=`blast_mainnet`</li><li>421614=`arbitrum_sepolia`</li><li>534352=`scroll_mainnet`</li><li>660279=`xai_mainnet`</li><li>747474=`katana_mainnet`</li><li>810180=`zklink_nova_mainnet`</li><li>11155111=`ethereum_sepolia`</li></ul>
        unique_id:
          type: string
          minLength: 1
          title: EvmChainUniqueId
          description: The unique EVM chain ID. </br>Can be either one of those supported by the default chains below or a custom numeric chain ID `evm_<numeric_chain_id>` if one was added to your organization. <ul><li>`"evm_1"`</li><li>`"evm_5"`</li><li>`"evm_10"`</li><li>`"evm_14"`</li><li>`"evm_16"`</li><li>`"evm_30"`</li><li>`"evm_56"`</li><li>`"evm_100"`</li><li>`"evm_130"`</li><li>`"evm_137"`</li><li>`"evm_143"`</li><li>`"evm_146"`</li><li>`"evm_169"`</li><li>`"evm_196"`</li><li>`"evm_250"`</li><li>`"evm_324"`</li><li>`"evm_999"`</li><li>`"evm_1030"`</li><li>`"evm_1100"`</li><li>`"evm_1101"`</li><li>`"evm_1329"`</li><li>`"evm_1337"`</li><li>`"evm_1666"`</li><li>`"evm_1672"`</li><li>`"evm_1729"`</li><li>`"evm_2222"`</li><li>`"evm_4200"`</li><li>`"evm_4217"`</li><li>`"evm_4663"`</li><li>`"evm_5000"`</li><li>`"evm_7000"`</li><li>`"evm_7700"`</li><li>`"evm_8453"`</li><li>`"evm_8818"`</li><li>`"evm_8819"`</li><li>`"evm_9745"`</li><li>`"evm_16661"`</li><li>`"evm_17000"`</li><li>`"evm_80001"`</li><li>`"evm_80094"`</li><li>`"evm_42161"`</li><li>`"evm_43113"`</li><li>`"evm_43114"`</li><li>`"evm_57073"`</li><li>`"evm_59144"`</li><li>`"evm_81457"`</li><li>`"evm_421614"`</li><li>`"evm_534352"`</li><li>`"evm_660279"`</li><li>`"evm_747474"`</li><li>`"evm_810180"`</li><li>`"evm_11155111"`</li><li>`"evm_ethereum_mainnet"`</li><li>`"evm_ethereum_goerli"`</li><li>`"evm_optimism_mainnet"`</li><li>`"evm_flare_mainnet"`</li><li>`"evm_flare_testnet"`</li><li>`"evm_rootstock_mainnet"`</li><li>`"evm_bsc_mainnet"`</li><li>`"evm_gnosis_mainnet"`</li><li>`"evm_unichain_mainnet"`</li><li>`"evm_polygon_mainnet"`</li><li>`"evm_monad_mainnet"`</li><li>`"evm_sonic_mainnet"`</li><li>`"evm_manta_pacific_mainnet"`</li><li>`"evm_x_layer_mainnet"`</li><li>`"evm_fantom_mainnet"`</li><li>`"evm_zksync_era_mainnet"`</li><li>`"evm_hyperevm_mainnet"`</li><li>`"evm_conflux_mainnet"`</li><li>`"evm_dymension_mainnet"`</li><li>`"evm_polygon_zkevm_mainnet"`</li><li>`"evm_sei_mainnet"`</li><li>`"evm_hypercore_mainnet"`</li><li>`"evm_aster_mainnet"`</li><li>`"evm_pharos_mainnet"`</li><li>`"evm_reya_mainnet"`</li><li>`"evm_kava_mainnet"`</li><li>`"evm_merlin_mainnet"`</li><li>`"evm_tempo_mainnet"`</li><li>`"evm_robinhood_mainnet"`</li><li>`"evm_mantle_mainnet"`</li><li>`"evm_zeta_mainnet"`</li><li>`"evm_canto_mainnet"`</li><li>`"evm_base_mainnet"`</li><li>`"evm_clink_mainnet"`</li><li>`"evm_clink_testnet"`</li><li>`"evm_plasma_mainnet"`</li><li>`"evm_zero_gravity_mainnet"`</li><li>`"evm_ethereum_holesky"`</li><li>`"evm_polygon_mumbai"`</li><li>`"evm_berachain_mainnet"`</li><li>`"evm_arbitrum_mainnet"`</li><li>`"evm_avalanche_fuji"`</li><li>`"evm_avalanche_chain"`</li><li>`"evm_ink_mainnet"`</li><li>`"evm_linea_mainnet"`</li><li>`"evm_blast_mainnet"`</li><li>`"evm_arbitrum_sepolia"`</li><li>`"evm_scroll_mainnet"`</li><li>`"evm_xai_mainnet"`</li><li>`"evm_katana_mainnet"`</li><li>`"evm_zklink_nova_mainnet"`</li><li>`"evm_ethereum_sepolia"`</li></ul>
        name:
          type: string
          minLength: 1
          title: Name
          description: The full blockchain name.
        native_currency_symbol:
          type: string
          minLength: 1
          title: Native Currency Symbol
          description: The native currency symbol.
          example: ETH
        native_currency_name:
          type: string
          minLength: 1
          title: Native Currency Name
          description: The native currency name.
          example: Ether
        blockchain_explorer:
          $ref: '#/components/schemas/BlockchainExplorer'
        logo_url:
          type: string
          maxLength: 2083
          minLength: 1
          format: uri
          title: Logo Url
          description: The logo URL of the chain.
        is_testnet:
          type: boolean
          title: Is Testnet
          description: Whether the chain is on a testnet.
        is_enabled:
          type: boolean
          title: Is Enabled
          description: Whether the chain is enabled.
        gas_type:
          $ref: '#/components/schemas/GasType'
          description: The type of gas used by the chain.
        supports_secure_node:
          title: Supports Secure Node
          description: '`True` if the chain supports secure nodes, `False` otherwise.'
          deprecated: true
          type: boolean
        supports_mev_protected_node:
          type: boolean
          title: Supports Mev Protected Node
          description: '`True` if the chain supports MEV protected nodes, `False` otherwise.'
          default: false
        rpc_url:
          title: Rpc Url
          description: The URL of the chain's RPC. Exists only for custom chains.
          type: string
        source:
          $ref: '#/components/schemas/ChainSource'
          description: 'The source of the chain. Can be:<ul><li>`default`: Chains with built-in support on Fordefi''s platform.<li>`custom`: User-added chains with support on Fordefi''s platform.</ul>'
        supports_7702:
          type: boolean
          title: Supports 7702
          description: '`True` if the chain supports 7702, `False` otherwise.'
          default: false
      type: object
      required:
      - chain_type
      - chain_id
      - unique_id
      - name
      - native_currency_symbol
      - native_currency_name
      - logo_url
      - is_testnet
      - is_enabled
      - gas_type
      - source
      title: EnrichedEvmChain
    SuiNativeAssetIdentifierRequest:
      properties:
        type:
          type: string
          const: native
          title: Type
          description: Sui asset identifier type.
        chain:
          $ref: '#/components/schemas/SuiChainUniqueId'
          description: The details of the chain of the native asset.
      type: object
      required:
      - type
      - chain
      title: SuiNativeAssetIdentifierRequest
    StellarAddressBookContactAddressRef:
      properties:
        chain_type:
          type: string
          const: stellar
          title: Chain Type
          description: The type of the chain.
        address:
          type: string
          maxLength: 56
          minLength: 56
          pattern: ^[GCL][A-Z2-7]{55}$
          title: Address
          description: The address on the Stellar chain.
          example: GBRPYHIL2CI3FNQ4BXLFMNDLFJHO7W3B6FSHLTAVM2A4P45SHO4ZB7I2
        chains:
          items:
            $ref: '#/components/schemas/StellarChain'
          type: array
          title: Chains
          description: The chains the contact belongs to.
        memo:
          title: Memo
          description: Memo is an additional address feature used for identifying a recipient.
          type: string
      type: object
      required:
      - chain_type
      - address
      - chains
      title: StellarAddressBookContactAddressRef
    UtxoAddress:
      properties:
        type:
          type: string
          const: utxo
          title: Type
        address:
          type: string
          maxLength: 74
          minLength: 14
          title: Address
          description: The UTXO string address.
          example: bc1qar0srrr7xfkvy5l643lydnw9re59gtzzwf5mdq
        address_type:
          $ref: '#/components/schemas/UtxoAddressType'
          description: The type of the address.
        chain:
          $ref: '#/components/schemas/UtxoChain'
          description: The UTXO chain unique ID.
      type: object
      required:
      - type
      - address
      - address_type
      - chain
      title: UtxoAddress
    SolanaAddress:
      properties:
        type:
          type: string
          const: solana
          title: Type
        chain:
          $ref: '#/components/schemas/SolanaChain'
          description: The chain details this address is of.
        base58_repr:
          type: string
          maxLength: 44
          minLength: 32
          pattern: ^[a-km-zA-HJ-NP-Z1-9]+$
          title: Base58 Repr
          description: Base58 representation of the address in the chain.
          example: 4fYNw3dojWmQ4dXtSGE9epjRGy9pFSx62YypT7avPYvA
      type: object
      required:
      - type
      - chain
      - base58_repr
      title: SolanaAddress
      description: Address represents an EVM blockchain address.
    UserState:
      type: string
      enum:
      - active
      - onboarding_pending_code_generation
      - onboarding_pending_activation
      - reset_device_pending_code_generation
      - reset_device_pending_activation
      - pending_approval
      - deleted
      title: UserState
    SolanaBalanceChangeEffect:
      properties:
        priced_asset:
          $ref: '#/components/schemas/PricedAsset'
          description: The asset information.
        diff:
          type: string
          pattern: ^-?\d+$
          title: Diff
          description: The amount of that was added to or deducted from the owner's balance. If the amount was deducted, the value is negative; if the amount was added, the value is positive.
          example: '1000000000000000000'
        address:
          $ref: '#/components/schemas/EnrichedSolanaAddress'
          description: The address affected by the balance change.
      type: object
      required:
      - priced_asset
      - diff
      - address
      title: SolanaBalanceChangeEffect
    ArchAplTokenAssetIdentifierRequest:
      properties:
        type:
          type: string
          const: apl_token
          title: Type
          description: APL token asset identifier type.
        token:
          $ref: '#/components/schemas/ArchAddressRequest'
          description: The APL token details.
      type: object
      required:
      - type
      - token
      title: ArchAplTokenAssetIdentifierRequest
    RelatedTransaction:
      properties:
        type:
          $ref: '#/components/schemas/RelatedTransactionType'
          description: The type of the related transaction.
        hash:
          title: Hash
          description: The hash of the related transaction.
          type: string
        id:
          title: Id
          description: The id of the related transaction.
          type: string
          format: uuid
        chain:
          $ref: '#/components/schemas/EnrichedChain'
          description: The chain identifier of the related transaction.
        explorer_url:
          title: Explorer Url
          description: The URL of the related transaction in a blockchain explorer.
          type: string
          maxLength: 2083
          minLength: 1
          format: uri
      type: object
      required:
      - type
      - chain
      title: RelatedTransaction
    TonAddressBookContactAddressRef:
      properties:
        chain_type:
          type: string
          const: ton
          title: Chain Type
          description: The type of the chain.
        address:
          type: string
[...]
