openapi: 3.1.0
info:
  title: Fordefi Address Book Vaults API
  version: 0.2.0
  description: These endpoints allow you to list the contacts in your address book.<br><br>To add/remove contacts, visit the Fordefi web console. See the <a href='https://docs.fordefi.com/user-guide/address-book'>user guide</a> for more info.
servers:
- url: https://api.fordefi.com/
  description: Production
security:
- bearerAuth: []
tags:
- name: Vaults
  description: "These endpoints allow you to manage vaults.\n        <br><br>\n        A vault is the basic unit to manage funds.\n        Each vault supports a single \"chain family\", such as EVM, Bitcoin, Solana, Cosmos, etc.,\n        determined by the vault's type. A vault supports all the chains within the chain family\n        (e.g., an EVM vault supports all EVM chains)."
paths:
  /api/v1/vaults:
    get:
      tags:
      - Vaults
      summary: List Vaults
      description: Get a list of all vaults in an organization.
      operationId: list_vaults_api_v1_vaults_get
      parameters:
      - name: sort_by
        in: query
        required: false
        schema:
          type: array
          items:
            $ref: '#/components/schemas/ListVaultsSortableFields'
          title: Sort By
      - name: page
        in: query
        required: false
        schema:
          type: integer
          minimum: 1
          description: The page number to fetch.
          default: 1
          title: Page
        description: The page number to fetch.
      - name: size
        in: query
        required: false
        schema:
          type: integer
          maximum: 100
          minimum: 0
          description: The number of items per page.
          default: 50
          title: Size
        description: The number of items per page.
      - name: skip_count
        in: query
        required: false
        schema:
          type: boolean
          description: Whether to skip counting the total number of items.
          default: false
          title: Skip Count
        description: Whether to skip counting the total number of items.
      - name: vault_ids
        in: query
        required: false
        schema:
          description: Vault IDs to filter on.
          title: Vault Ids
          type: array
          items:
            type: string
            format: uuid
        description: Vault IDs to filter on.
      - name: names
        in: query
        required: false
        schema:
          description: List of full names to filter on.
          title: Names
          type: array
          items:
            type: string
        description: List of full names to filter on.
      - name: vault_types
        in: query
        required: false
        schema:
          description: Vault types to filter on.
          title: Vault Types
          type: array
          items:
            $ref: '#/components/schemas/VaultType'
        description: Vault types to filter on.
      - name: vault_states
        in: query
        required: false
        schema:
          description: Vault states to filter on.
          title: Vault States
          type: array
          items:
            $ref: '#/components/schemas/VaultState'
        description: Vault states to filter on.
      - name: key_holder_ids
        in: query
        required: false
        schema:
          description: List of key holder IDs to filter on.
          title: Key Holder Ids
          type: array
          items:
            type: string
            format: uuid
        description: List of key holder IDs to filter on.
      - name: vault_group_ids
        in: query
        required: false
        schema:
          description: List of vault group IDs to filter on. Filter applies to current and pending vault groups.
          title: Vault Group Ids
          type: array
          items:
            type: string
            format: uuid
        description: List of vault group IDs to filter on. Filter applies to current and pending vault groups.
      - name: exclude_vault_group_ids
        in: query
        required: false
        schema:
          description: List of vault group IDs to exclude.
          title: Exclude Vault Group Ids
          type: array
          items:
            type: string
            format: uuid
        description: List of vault group IDs to exclude.
      - name: exclude_vault_ids
        in: query
        required: false
        schema:
          description: Vault IDs to exclude.
          title: Exclude Vault Ids
          type: array
          items:
            type: string
            format: uuid
        description: Vault IDs to exclude.
      - name: origin_type
        in: query
        required: false
        schema:
          description: Origin type to filter on.
          title: Origin Type
          $ref: '#/components/schemas/VaultOriginType'
        description: Origin type to filter on.
      - name: account_addresses
        in: query
        required: false
        schema:
          description: List of account addresses to filter on.
          title: Account Addresses
          type: array
          items:
            type: string
        description: List of account addresses to filter on.
      - name: positive_native_balance_chain_ids
        in: query
        required: false
        schema:
          description: List of chain IDs to fetch native assets for. Only vaults with positive native balance in any of these chains will be included in native_assets response.
          title: Positive Native Balance Chain Ids
          type: array
          items:
            type: string
            minLength: 1
            description: The unique chain ID. </br>Can be either one of those supported by the default chains below or a custom numeric EVM chain ID `evm_<chain_id>` if one was added to your organization. <ul><li>`"aptos_mainnet"`</li><li>`"aptos_testnet"`</li><li>`"aptos_movement_mainnet"`</li><li>`"aptos_movement_testnet"`</li><li>`"arch_mainnet"`</li><li>`"arch_testnet"`</li><li>`"canton_mainnet"`</li><li>`"cosmos_agoric-3"`</li><li>`"cosmos_akashnet-2"`</li><li>`"cosmos_archway-1"`</li><li>`"cosmos_axelar-dojo-1"`</li><li>`"cosmos_bbn-1"`</li><li>`"cosmos_celestia"`</li><li>`"cosmos_cosmoshub-4"`</li><li>`"cosmos_dydx-mainnet-1"`</li><li>`"cosmos_dydx-testnet-4"`</li><li>`"cosmos_dymension_1100-1"`</li><li>`"cosmos_injective-1"`</li><li>`"cosmos_neutron-1"`</li><li>`"cosmos_nillion-1"`</li><li>`"cosmos_noble-1"`</li><li>`"cosmos_osmosis-1"`</li><li>`"cosmos_provider"`</li><li>`"cosmos_ssc-1"`</li><li>`"cosmos_pacific-1"`</li><li>`"cosmos_stride-1"`</li><li>`"cosmos_thorchain-1"`</li><li>`"cosmos_mantra-1"`</li><li>`"exchange_binance"`</li><li>`"exchange_bybit"`</li><li>`"exchange_coinbase_international"`</li><li>`"exchange_coinbase_us"`</li><li>`"exchange_okx"`</li><li>`"exchange_kraken"`</li><li>`"ripple_mainnet"`</li><li>`"solana_mainnet"`</li><li>`"solana_devnet"`</li><li>`"solana_eclipse_mainnet"`</li><li>`"solana_fogo_mainnet"`</li><li>`"solana_fogo_testnet"`</li><li>`"stacks_mainnet"`</li><li>`"starknet_mainnet"`</li><li>`"stellar_mainnet"`</li><li>`"sui_mainnet"`</li><li>`"sui_testnet"`</li><li>`"ton_mainnet"`</li><li>`"tron_mainnet"`</li><li>`"tron_shasta"`</li><li>`"bitcoin_mainnet"`</li><li>`"bitcoin_testnet"`</li><li>`"bitcoin_testnet_v4"`</li><li>`"dogecoin_mainnet"`</li><li>`"bitcoin_cash_mainnet"`</li><li>`"pearl_testnet"`</li><li>`"pearl_mainnet"`</li><li>`"evm_1"`</li><li>`"evm_5"`</li><li>`"evm_10"`</li><li>`"evm_14"`</li><li>`"evm_16"`</li><li>`"evm_30"`</li><li>`"evm_56"`</li><li>`"evm_100"`</li><li>`"evm_130"`</li><li>`"evm_137"`</li><li>`"evm_143"`</li><li>`"evm_146"`</li><li>`"evm_169"`</li><li>`"evm_196"`</li><li>`"evm_250"`</li><li>`"evm_324"`</li><li>`"evm_999"`</li><li>`"evm_1030"`</li><li>`"evm_1100"`</li><li>`"evm_1101"`</li><li>`"evm_1329"`</li><li>`"evm_1337"`</li><li>`"evm_1666"`</li><li>`"evm_1672"`</li><li>`"evm_1729"`</li><li>`"evm_2222"`</li><li>`"evm_4200"`</li><li>`"evm_4217"`</li><li>`"evm_4663"`</li><li>`"evm_5000"`</li><li>`"evm_7000"`</li><li>`"evm_7700"`</li><li>`"evm_8453"`</li><li>`"evm_8818"`</li><li>`"evm_8819"`</li><li>`"evm_9745"`</li><li>`"evm_16661"`</li><li>`"evm_17000"`</li><li>`"evm_80001"`</li><li>`"evm_80094"`</li><li>`"evm_42161"`</li><li>`"evm_43113"`</li><li>`"evm_43114"`</li><li>`"evm_57073"`</li><li>`"evm_59144"`</li><li>`"evm_81457"`</li><li>`"evm_421614"`</li><li>`"evm_534352"`</li><li>`"evm_660279"`</li><li>`"evm_747474"`</li><li>`"evm_810180"`</li><li>`"evm_11155111"`</li><li>`"evm_ethereum_mainnet"`</li><li>`"evm_ethereum_goerli"`</li><li>`"evm_optimism_mainnet"`</li><li>`"evm_flare_mainnet"`</li><li>`"evm_flare_testnet"`</li><li>`"evm_rootstock_mainnet"`</li><li>`"evm_bsc_mainnet"`</li><li>`"evm_gnosis_mainnet"`</li><li>`"evm_unichain_mainnet"`</li><li>`"evm_polygon_mainnet"`</li><li>`"evm_monad_mainnet"`</li><li>`"evm_sonic_mainnet"`</li><li>`"evm_manta_pacific_mainnet"`</li><li>`"evm_x_layer_mainnet"`</li><li>`"evm_fantom_mainnet"`</li><li>`"evm_zksync_era_mainnet"`</li><li>`"evm_hyperevm_mainnet"`</li><li>`"evm_conflux_mainnet"`</li><li>`"evm_dymension_mainnet"`</li><li>`"evm_polygon_zkevm_mainnet"`</li><li>`"evm_sei_mainnet"`</li><li>`"evm_hypercore_mainnet"`</li><li>`"evm_aster_mainnet"`</li><li>`"evm_pharos_mainnet"`</li><li>`"evm_reya_mainnet"`</li><li>`"evm_kava_mainnet"`</li><li>`"evm_merlin_mainnet"`</li><li>`"evm_tempo_mainnet"`</li><li>`"evm_robinhood_mainnet"`</li><li>`"evm_mantle_mainnet"`</li><li>`"evm_zeta_mainnet"`</li><li>`"evm_canto_mainnet"`</li><li>`"evm_base_mainnet"`</li><li>`"evm_clink_mainnet"`</li><li>`"evm_clink_testnet"`</li><li>`"evm_plasma_mainnet"`</li><li>`"evm_zero_gravity_mainnet"`</li><li>`"evm_ethereum_holesky"`</li><li>`"evm_polygon_mumbai"`</li><li>`"evm_berachain_mainnet"`</li><li>`"evm_arbitrum_mainnet"`</li><li>`"evm_avalanche_fuji"`</li><li>`"evm_avalanche_chain"`</li><li>`"evm_ink_mainnet"`</li><li>`"evm_linea_mainnet"`</li><li>`"evm_blast_mainnet"`</li><li>`"evm_arbitrum_sepolia"`</li><li>`"evm_scroll_mainnet"`</li><li>`"evm_xai_mainnet"`</li><li>`"evm_katana_mainnet"`</li><li>`"evm_zklink_nova_mainnet"`</li><li>`"evm_ethereum_sepolia"`</li></ul>
            title: ChainUniqueId
        description: List of chain IDs to fetch native assets for. Only vaults with positive native balance in any of these chains will be included in native_assets response.
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListVaultsResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PreconditionFailedError'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
        '500':
          description: Unexpected Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseError'
        '401':
          description: Unauthorized User
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseError'
        '403':
          description: Forbidden User
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseError'
        '408':
          description: Request Timeout
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseError'
        '429':
          description: Rate Limit Exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RateLimitError'
    post:
      tags:
      - Vaults
      summary: Create Vault
      description: Create a new vault.
      operationId: create_vault_api_v1_vaults_post
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateVaultRequest'
      responses:
        '201':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateVaultResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefinedPreconditionError_CreateVaultErrorType_'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
        '500':
          description: Unexpected Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseError'
        '401':
          description: Unauthorized User
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseError'
        '403':
          description: Forbidden User
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseError'
        '408':
          description: Request Timeout
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseError'
        '429':
          description: Rate Limit Exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RateLimitError'
        '409':
          description: Already Exists
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceError'
  /api/v1/vaults/export_async:
    get:
      tags:
      - Vaults
      summary: Export Vaults With Assets Async
      description: Get a CSV-format list of balances of all vaults and their assets.
      operationId: export_vaults_with_assets_async_api_v1_vaults_export_async_get
      parameters:
      - name: limit
        in: query
        required: false
        schema:
          description: The number of vault/asset pairs to export, unlimited if not set.
          title: Limit
          type: integer
        description: The number of vault/asset pairs to export, unlimited if not set.
      - name: vaults_ids
        in: query
        required: false
        schema:
          description: Vault IDs to filter on.
          title: Vaults Ids
          type: array
          items:
            type: string
            format: uuid
        description: Vault IDs to filter on.
      - name: vault_types
        in: query
        required: false
        schema:
          description: Vault types to filter on.
          title: Vault Types
          type: array
          items:
            $ref: '#/components/schemas/VaultType'
        description: Vault types to filter on.
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                title: Response Export Vaults With Assets Async Api V1 Vaults Export Async Get
                $ref: '#/components/schemas/Export'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PreconditionFailedError'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
        '500':
          description: Unexpected Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseError'
        '401':
          description: Unauthorized User
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseError'
        '403':
          description: Forbidden User
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseError'
        '408':
          description: Request Timeout
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseError'
        '429':
          description: Rate Limit Exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RateLimitError'
        '204':
          description: No Content
  /api/v1/vaults/{id}:
    get:
      tags:
      - Vaults
      summary: Get Vault
      description: Retrieve vault details.
      operationId: get_vault_api_v1_vaults__id__get
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
          description: ID of the vault to retrieve.
          title: Id
        description: ID of the vault to retrieve.
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetVaultResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PreconditionFailedError'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
        '500':
          description: Unexpected Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseError'
        '401':
          description: Unauthorized User
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseError'
        '403':
          description: Forbidden User
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseError'
        '408':
          description: Request Timeout
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseError'
        '429':
          description: Rate Limit Exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RateLimitError'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceError'
  /api/v1/vaults/{id}/assets/{asset_id}:
    get:
      tags:
      - Vaults
      summary: Get Vault Asset
      description: Get a specific asset in a vault.
      operationId: get_vault_asset_api_v1_vaults__id__assets__asset_id__get
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
          description: ID of the vault to retrieve.
          title: Id
        description: ID of the vault to retrieve.
      - name: asset_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
          description: ID of the asset to retrieve.
          title: Asset Id
        description: ID of the asset to retrieve.
      - name: page
        in: query
        required: false
        schema:
          type: integer
          minimum: 1
          description: The page number to fetch.
          default: 1
          title: Page
        description: The page number to fetch.
      - name: size
        in: query
        required: false
        schema:
          type: integer
          maximum: 100
          minimum: 0
          description: The number of items per page.
          default: 50
          title: Size
        description: The number of items per page.
      - name: skip_count
        in: query
        required: false
        schema:
          type: boolean
          description: Whether to skip counting the total number of items.
          default: false
          title: Skip Count
        description: Whether to skip counting the total number of items.
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetOwnedAssetResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PreconditionFailedError'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
        '500':
          description: Unexpected Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseError'
        '401':
          description: Unauthorized User
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseError'
        '403':
          description: Forbidden User
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseError'
        '408':
          description: Request Timeout
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseError'
        '429':
          description: Rate Limit Exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RateLimitError'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceError'
  /api/v1/vaults/{id}/assets:
    get:
      tags:
      - Vaults
      summary: Get Vault Assets
      description: Get a list of all assets in a vault.
      operationId: get_vault_assets_api_v1_vaults__id__assets_get
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
          description: ID of the vault to retrieve.
          title: Id
        description: ID of the vault to retrieve.
      - name: page
        in: query
        required: false
        schema:
          type: integer
          minimum: 1
          description: The page number to fetch.
          default: 1
          title: Page
        description: The page number to fetch.
      - name: size
        in: query
        required: false
        schema:
          type: integer
          maximum: 100
          minimum: 0
          description: The number of items per page.
          default: 50
          title: Size
        description: The number of items per page.
      - name: skip_count
        in: query
        required: false
        schema:
          type: boolean
          description: Whether to skip counting the total number of items.
          default: false
          title: Skip Count
        description: Whether to skip counting the total number of items.
      - name: chains
        in: query
        required: false
        schema:
          title: Chains
          type: array
          items:
            type: string
            minLength: 1
            description: The unique chain ID. </br>Can be either one of those supported by the default chains below or a custom numeric EVM chain ID `evm_<chain_id>` if one was added to your organization. <ul><li>`"aptos_mainnet"`</li><li>`"aptos_testnet"`</li><li>`"aptos_movement_mainnet"`</li><li>`"aptos_movement_testnet"`</li><li>`"arch_mainnet"`</li><li>`"arch_testnet"`</li><li>`"canton_mainnet"`</li><li>`"cosmos_agoric-3"`</li><li>`"cosmos_akashnet-2"`</li><li>`"cosmos_archway-1"`</li><li>`"cosmos_axelar-dojo-1"`</li><li>`"cosmos_bbn-1"`</li><li>`"cosmos_celestia"`</li><li>`"cosmos_cosmoshub-4"`</li><li>`"cosmos_dydx-mainnet-1"`</li><li>`"cosmos_dydx-testnet-4"`</li><li>`"cosmos_dymension_1100-1"`</li><li>`"cosmos_injective-1"`</li><li>`"cosmos_neutron-1"`</li><li>`"cosmos_nillion-1"`</li><li>`"cosmos_noble-1"`</li><li>`"cosmos_osmosis-1"`</li><li>`"cosmos_provider"`</li><li>`"cosmos_ssc-1"`</li><li>`"cosmos_pacific-1"`</li><li>`"cosmos_stride-1"`</li><li>`"cosmos_thorchain-1"`</li><li>`"cosmos_mantra-1"`</li><li>`"exchange_binance"`</li><li>`"exchange_bybit"`</li><li>`"exchange_coinbase_international"`</li><li>`"exchange_coinbase_us"`</li><li>`"exchange_okx"`</li><li>`"exchange_kraken"`</li><li>`"ripple_mainnet"`</li><li>`"solana_mainnet"`</li><li>`"solana_devnet"`</li><li>`"solana_eclipse_mainnet"`</li><li>`"solana_fogo_mainnet"`</li><li>`"solana_fogo_testnet"`</li><li>`"stacks_mainnet"`</li><li>`"starknet_mainnet"`</li><li>`"stellar_mainnet"`</li><li>`"sui_mainnet"`</li><li>`"sui_testnet"`</li><li>`"ton_mainnet"`</li><li>`"tron_mainnet"`</li><li>`"tron_shasta"`</li><li>`"bitcoin_mainnet"`</li><li>`"bitcoin_testnet"`</li><li>`"bitcoin_testnet_v4"`</li><li>`"dogecoin_mainnet"`</li><li>`"bitcoin_cash_mainnet"`</li><li>`"pearl_testnet"`</li><li>`"pearl_mainnet"`</li><li>`"evm_1"`</li><li>`"evm_5"`</li><li>`"evm_10"`</li><li>`"evm_14"`</li><li>`"evm_16"`</li><li>`"evm_30"`</li><li>`"evm_56"`</li><li>`"evm_100"`</li><li>`"evm_130"`</li><li>`"evm_137"`</li><li>`"evm_143"`</li><li>`"evm_146"`</li><li>`"evm_169"`</li><li>`"evm_196"`</li><li>`"evm_250"`</li><li>`"evm_324"`</li><li>`"evm_999"`</li><li>`"evm_1030"`</li><li>`"evm_1100"`</li><li>`"evm_1101"`</li><li>`"evm_1329"`</li><li>`"evm_1337"`</li><li>`"evm_1666"`</li><li>`"evm_1672"`</li><li>`"evm_1729"`</li><li>`"evm_2222"`</li><li>`"evm_4200"`</li><li>`"evm_4217"`</li><li>`"evm_4663"`</li><li>`"evm_5000"`</li><li>`"evm_7000"`</li><li>`"evm_7700"`</li><li>`"evm_8453"`</li><li>`"evm_8818"`</li><li>`"evm_8819"`</li><li>`"evm_9745"`</li><li>`"evm_16661"`</li><li>`"evm_17000"`</li><li>`"evm_80001"`</li><li>`"evm_80094"`</li><li>`"evm_42161"`</li><li>`"evm_43113"`</li><li>`"evm_43114"`</li><li>`"evm_57073"`</li><li>`"evm_59144"`</li><li>`"evm_81457"`</li><li>`"evm_421614"`</li><li>`"evm_534352"`</li><li>`"evm_660279"`</li><li>`"evm_747474"`</li><li>`"evm_810180"`</li><li>`"evm_11155111"`</li><li>`"evm_ethereum_mainnet"`</li><li>`"evm_ethereum_goerli"`</li><li>`"evm_optimism_mainnet"`</li><li>`"evm_flare_mainnet"`</li><li>`"evm_flare_testnet"`</li><li>`"evm_rootstock_mainnet"`</li><li>`"evm_bsc_mainnet"`</li><li>`"evm_gnosis_mainnet"`</li><li>`"evm_unichain_mainnet"`</li><li>`"evm_polygon_mainnet"`</li><li>`"evm_monad_mainnet"`</li><li>`"evm_sonic_mainnet"`</li><li>`"evm_manta_pacific_mainnet"`</li><li>`"evm_x_layer_mainnet"`</li><li>`"evm_fantom_mainnet"`</li><li>`"evm_zksync_era_mainnet"`</li><li>`"evm_hyperevm_mainnet"`</li><li>`"evm_conflux_mainnet"`</li><li>`"evm_dymension_mainnet"`</li><li>`"evm_polygon_zkevm_mainnet"`</li><li>`"evm_sei_mainnet"`</li><li>`"evm_hypercore_mainnet"`</li><li>`"evm_aster_mainnet"`</li><li>`"evm_pharos_mainnet"`</li><li>`"evm_reya_mainnet"`</li><li>`"evm_kava_mainnet"`</li><li>`"evm_merlin_mainnet"`</li><li>`"evm_tempo_mainnet"`</li><li>`"evm_robinhood_mainnet"`</li><li>`"evm_mantle_mainnet"`</li><li>`"evm_zeta_mainnet"`</li><li>`"evm_canto_mainnet"`</li><li>`"evm_base_mainnet"`</li><li>`"evm_clink_mainnet"`</li><li>`"evm_clink_testnet"`</li><li>`"evm_plasma_mainnet"`</li><li>`"evm_zero_gravity_mainnet"`</li><li>`"evm_ethereum_holesky"`</li><li>`"evm_polygon_mumbai"`</li><li>`"evm_berachain_mainnet"`</li><li>`"evm_arbitrum_mainnet"`</li><li>`"evm_avalanche_fuji"`</li><li>`"evm_avalanche_chain"`</li><li>`"evm_ink_mainnet"`</li><li>`"evm_linea_mainnet"`</li><li>`"evm_blast_mainnet"`</li><li>`"evm_arbitrum_sepolia"`</li><li>`"evm_scroll_mainnet"`</li><li>`"evm_xai_mainnet"`</li><li>`"evm_katana_mainnet"`</li><li>`"evm_zklink_nova_mainnet"`</li><li>`"evm_ethereum_sepolia"`</li></ul>
            title: ChainUniqueId
      - name: asset_ids
        in: query
        required: false
        schema:
          title: Asset Ids
          type: array
          items:
            type: string
            format: uuid
      - name: is_hidden
        in: query
        required: false
        schema:
          title: Is Hidden
          type: boolean
      - name: search
        in: query
        required: false
        schema:
          title: Search
          type: string
      - name: sort_by
        in: query
        required: false
        schema:
          title: Sort By
          type: array
          items:
            $ref: '#/components/schemas/OwnedAssetsSortableFields'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListOwnedAssetsResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PreconditionFailedError'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
        '500':
          description: Unexpected Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseError'
        '401':
          description: Unauthorized User
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseError'
        '403':
          description: Forbidden User
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseError'
        '408':
          description: Request Timeout
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseError'
        '429':
          description: Rate Limit Exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RateLimitError'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceError'
  /api/v1/vaults/{id}/proposals:
    post:
      tags:
      - Vaults
      summary: Submit Update Vault Change Proposal
      description: Submit an update vault change proposal. Verify, approve, and abort are handled via the user-actions API.
      operationId: submit_update_vault_change_proposal_api_v1_vaults__id__proposals_post
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
          description: ID of the vault to submit a change proposal for.
          title: Id
        description: ID of the vault to submit a change proposal for.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SubmitUpdateVaultChangeProposalRequest'
      responses:
        '204':
          description: Successful Response
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PreconditionFailedError'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
        '500':
          description: Unexpected Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseError'
        '401':
          description: Unauthorized User
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseError'
        '403':
          description: Forbidden User
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseError'
        '408':
          description: Request Timeout
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseError'
        '429':
          description: Rate Limit Exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RateLimitError'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceError'
  /api/v1/vaults/{id}/archive:
    post:
      tags:
      - Vaults
      summary: Archive Vault
      description: Archive an existing vault.
      operationId: archive_vault_api_v1_vaults__id__archive_post
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
          description: ID of the vault to archive.
          title: Id
        description: ID of the vault to archive.
      responses:
        '204':
          description: Successful Response
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PreconditionFailedError'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
        '500':
          description: Unexpected Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseError'
        '401':
          description: Unauthorized User
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseError'
        '403':
          description: Forbidden User
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseError'
        '408':
          description: Request Timeout
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseError'
        '429':
          description: Rate Limit Exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RateLimitError'
  /api/v1/vaults/{id}/restore:
    post:
      tags:
      - Vaults
      summary: Restore Vault
      description: Restore an archived vault.
      operationId: restore_vault_api_v1_vaults__id__restore_post
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
          description: ID of the vault to restore.
          title: Id
        description: ID of the vault to restore.
      responses:
        '204':
          description: Successful Response
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PreconditionFailedError'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
        '500':
          description: Unexpected Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseError'
        '401':
          description: Unauthorized User
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseError'
        '403':
          description: Forbidden User
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseError'
        '408':
          description: Request Timeout
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseError'
        '429':
          description: Rate Limit Exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RateLimitError'
  /api/v1/vaults/{id}/name:
    put:
      tags:
      - Vaults
      summary: Rename Vault
      description: Rename an existing vault.
      operationId: rename_vault_api_v1_vaults__id__name_put
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
          description: ID of the vault to rename.
          title: Id
        description: ID of the vault to rename.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RenameVaultRequest'
      responses:
        '204':
          description: Successful Response
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PreconditionFailedError'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
        '500':
          description: Unexpected Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseError'
        '401':
          description: Unauthorized User
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseError'
        '403':
          description: Forbidden User
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseError'
        '408':
          description: Request Timeout
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseError'
        '429':
          description: Rate Limit Exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RateLimitError'
        '409':
          description: Already Exists
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceError'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceError'
  /api/v1/vaults/{id}/addresses:
    post:
      tags:
      - Vaults
      summary: Create Address
      description: Create a new address.
      operationId: create_address_api_v1_vaults__id__addresses_post
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
          description: ID of the vault to create address in.
          title: Id
        description: ID of the vault to create address in.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateVaultAddressRequest'
      responses:
        '201':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateVaultAddressResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefinedPreconditionError_CreateVaultAddressErrorType_'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
        '500':
          description: Unexpected Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseError'
        '401':
          description: Unauthorized User
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseError'
        '403':
          description: Forbidden User
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseError'
        '408':
          description: Request Timeout
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseError'
        '429':
          description: Rate Limit Exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RateLimitError'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceError'
    get:
      tags:
      - Vaults
      summary: List Vault Addresses
      description: Get a list of all addresses in a vault.
      operationId: list_vault_addresses_api_v1_vaults__id__addresses_get
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
          description: ID of the vault.
          title: Id
        description: ID of the vault.
      - name: sort_by
        in: query
        required: false
        schema:
          type: array
          items:
            $ref: '#/components/schemas/VaultAddressSortableFields'
          title: Sort By
      - name: page
        in: query
        required: false
        schema:
          type: integer
          minimum: 1
          description: The page number to fetch.
          default: 1
          title: Page
        description: The page number to fetch.
      - name: size
        in: query
        required: false
        schema:
          type: integer
          maximum: 100
          minimum: 0
          description: The number of items per page.
          default: 50
          title: Size
        description: The number of items per page.
      - name: skip_count
        in: query
        required: false
        schema:
          type: boolean
          description: Whether to skip counting the total number of items.
          default: false
          title: Skip Count
        description: Whether to skip counting the total number of items.
      - name: search
        in: query
        required: false
        schema:
          title: Search
          type: string
      - name: addresses
        in: query
        required: false
        schema:
          description: List of addresses to filter on.
          title: Addresses
          type: array
          items:
            type: string
        description: List of addresses to filter on.
      - name: address_types
        in: query
        required: false
        schema:
          description: List of address types to filter on.
          title: Address Types
          type: array
          items:
            $ref: '#/components/schemas/UtxoAddressType'
        description: List of address types to filter on.
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListVaultAddressesResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PreconditionFailedError'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
        '500':
          description: Unexpected Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseError'
        '401':
          description: Unauthorized User
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseError'
        '403':
          description: Forbidden User
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseError'
        '408':
          description: Request Timeout
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseError'
        '429':
          description: Rate Limit Exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RateLimitError'
  /api/v1/vaults/addresses/{id}/name:
    put:
      tags:
      - Vaults
      summary: Rename Vault Address
      description: Rename an existing vault address.
      operationId: rename_vault_address_api_v1_vaults_addresses__id__name_put
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
          description: ID of the vault address to rename.
          title: Id
        description: ID of the vault address to rename.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RenameVaultRequest'
      responses:
        '204':
          description: Successful Response
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PreconditionFailedError'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
        '500':
          description: Unexpected Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseError'
        '401':
          description: Unauthorized User
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseError'
        '403':
          description: Forbidden User
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseError'
        '408':
          description: Request Timeout
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseError'
        '429':
          description: Rate Limit Exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RateLimitError'
        '409':
          description: Already Exists
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceError'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceError'
components:
  schemas:
    StacksAssetIdentifier:
      properties:
        type:
          type: string
          const: stacks
          title: Type
          description: Stacks asset identifier type.
        details:
          oneOf:
          - $ref: '#/components/schemas/StacksNativeAssetIdentifierRequest'
          - $ref: '#/components/schemas/StacksSip10AssetIdentifierRequest'
          discriminator:
            propertyName: type
            mapping:
              native: '#/components/schemas/StacksNativeAssetIdentifierRequest'
              sip10: '#/components/schemas/StacksSip10AssetIdentifierRequest'
        chain:
          $ref: '#/components/schemas/EnrichedStacksChain'
      type: object
      required:
      - type
      - details
      - chain
      title: StacksAssetIdentifier
    EnrichedUtxoChain:
      properties:
        chain_type:
          type: string
          const: utxo
          title: Chain Type
          description: The type of the chain.
        unique_id:
          $ref: '#/components/schemas/UtxoChainUniqueId'
          description: The UTXO chain unique ID.
        name:
          type: string
          minLength: 1
          title: Name
          description: The full blockchain name.
        native_currency_symbol:
          type: string
          minLength: 1
          title: Native Currency Symbol
          description: The native currency symbol.
          example: ETH
        native_currency_name:
          type: string
          minLength: 1
          title: Native Currency Name
          description: The native currency name.
          example: Ether
        blockchain_explorer:
          $ref: '#/components/schemas/BlockchainExplorer'
        logo_url:
          type: string
          maxLength: 2083
          minLength: 1
          format: uri
          title: Logo Url
          description: The logo URL of the chain.
        is_testnet:
          type: boolean
          title: Is Testnet
          description: Whether the chain is on a testnet.
        is_enabled:
          type: boolean
          title: Is Enabled
          description: Whether the chain is enabled.
      type: object
      required:
      - chain_type
      - unique_id
      - name
      - native_currency_symbol
      - native_currency_name
      - logo_url
      - is_testnet
      - is_enabled
      title: EnrichedUtxoChain
    CreateVaultResponse:
      oneOf:
      - $ref: '#/components/schemas/AptosVault'
      - $ref: '#/components/schemas/ArchVault'
      - $ref: '#/components/schemas/BlackBoxVault'
      - $ref: '#/components/schemas/CantonVault'
      - $ref: '#/components/schemas/CosmosVault'
      - $ref: '#/components/schemas/EvmVault'
      - $ref: '#/components/schemas/SolanaVault'
      - $ref: '#/components/schemas/StacksVault'
      - $ref: '#/components/schemas/StarknetVault'
      - $ref: '#/components/schemas/StellarVault'
      - $ref: '#/components/schemas/SuiVault'
      - $ref: '#/components/schemas/TonVault'
      - $ref: '#/components/schemas/TronVault'
      - $ref: '#/components/schemas/UtxoVault'
      - $ref: '#/components/schemas/ExchangeVault'
      - $ref: '#/components/schemas/SafeVault'
      discriminator:
        propertyName: type
        mapping:
          aptos: '#/components/schemas/AptosVault'
          arch: '#/components/schemas/ArchVault'
          black_box: '#/components/schemas/BlackBoxVault'
          canton: '#/components/schemas/CantonVault'
          cosmos: '#/components/schemas/CosmosVault'
          evm: '#/components/schemas/EvmVault'
          exchange: '#/components/schemas/ExchangeVault'
          safe: '#/components/schemas/SafeVault'
          solana: '#/components/schemas/SolanaVault'
          stacks: '#/components/schemas/StacksVault'
          starknet: '#/components/schemas/StarknetVault'
          stellar: '#/components/schemas/StellarVault'
          sui: '#/components/schemas/SuiVault'
          ton: '#/components/schemas/TonVault'
          tron: '#/components/schemas/TronVault'
          utxo: '#/components/schemas/UtxoVault'
    TonVault:
      properties:
        id:
          type: string
          format: uuid
          title: Id
          description: The unique identifier of the object in the Fordefi platform.
        created_at:
          type: string
          format: date-time
          title: Created At
          description: The date and time when the object was created.
        modified_at:
          type: string
          format: date-time
          title: Modified At
          description: The date and time when the object was last modified. Any change to any field of the resource is considered a modification.
        metadata:
          title: Metadata
          description: 'Metadata in a form: <str, bool | str | int | array[str]>.'
          additionalProperties:
            anyOf:
            - items:
                type: string
              type: array
            - type: string
            - type: integer
            - type: boolean
          type: object
        name:
          type: string
          title: Name
          description: The name of the vault.
        created_by:
          $ref: '#/components/schemas/UserRef'
          description: Details of the vault creator.
        vault_group:
          description: The vault group this vault belongs to.
          deprecated: true
          $ref: '#/components/schemas/VaultGroupRef'
        vault_groups:
          items:
            $ref: '#/components/schemas/VaultGroupRef'
          type: array
          title: Vault Groups
          description: The vault groups this vault belongs to.
        skip_indexing_reason:
          description: Reason why the vault is not being indexed.
          $ref: '#/components/schemas/SkipIndexingReason'
        is_external_signer:
          type: boolean
          title: Is External Signer
          description: Whether the vault uses an externally imported key (external signer).
          default: false
        native_assets:
          title: Native Assets
          description: List of native asset information for requested chains. Chain info is in asset_identifier.
          items:
            $ref: '#/components/schemas/OwnedAsset'
          type: array
        derivation_path:
          title: Derivation Path
          description: The BIP 44 derivation path of the vault.
          deprecated: true
          example: m/44/60/0/0/0
          type: string
        public_key_compressed:
          type: string
          title: Public Key Compressed
          description: 'The public key of the vault in its compressed form: <ul> <li>For ECDSA and Schnorr keys, the public key is represented as 33 bytes (0x02 or 0x03 followed by the x-coordinate) according to the [SEC1 standard](https://www.secg.org/SEC1-Ver-1.0.pdf). <li>For EdDSA, the public key is represented as a 32-byte value, as defined by [RFC 8032](https://datatracker.ietf.org/doc/html/rfc8032). </ul>'
          example: SGVsbG8=
        derivation_info:
          $ref: '#/components/schemas/VaultDerivationInfo'
          description: The derivation info of the vault.
        key_holder:
          description: The user who owns the keyset of the vault. If not provided, the vault is owned by the organization.
          $ref: '#/components/schemas/EndUserRef'
        origin_type:
          $ref: '#/components/schemas/VaultOriginType'
          description: The origin type of the vault.
        state:
          $ref: '#/components/schemas/MpcVaultState'
          description: New state of the vault.
        type:
          type: string
          const: ton
          title: Type
          description: TON vault type.
        raw_account:
          type: string
          maxLength: 67
          pattern: ^[-0-9]+:[A-Fa-f0-9]{64}$
          title: Raw Account
          description: The address TON contract in a raw format.
        base64_url_bounceable_account:
          type: string
          maxLength: 48
          minLength: 48
          title: Base64 Url Bounceable Account
          description: The bounceable address of the contract in base64 url format
          example: UQBxs5hnTxjzvzsnDofRfbJeXsylUcxR8OSW7UUv317csHZ1
        base64_url_non_bounceable_account:
          type: string
          maxLength: 48
          minLength: 48
          title: Base64 Url Non Bounceable Account
          description: The non-bounceable address of the contract in base64 url format
          example: UQBxs5hnTxjzvzsnDofRfbJeXsylUcxR8OSW7UUv317csHZ1
        state_init:
          type: string
          title: State Init
          description: The wallet contract state init.
      type: object
      required:
      - id
      - created_at
      - modified_at
      - name
      - created_by
      - vault_groups
      - are_all_chains_disabled
      - derivation_path
      - public_key_compressed
      - derivation_info
      - origin_type
      - state
      - type
      - raw_account
      - base64_url_bounceable_account
      - base64_url_non_bounceable_account
      - state_init
      title: TonVault
      description: Represents an TON vault in the Fordefi platform
    TronChainUniqueId:
      type: string
      enum:
      - tron_mainnet
      - tron_shasta
      title: TronChainUniqueId
    StarknetChainUniqueId:
      type: string
      enum:
      - starknet_mainnet
      title: StarknetChainUniqueId
    TonNativeAssetIdentifierRequest:
      properties:
        type:
          type: string
          const: native
          title: Type
          description: TON asset identifier type.
        chain:
          $ref: '#/components/schemas/TonChainUniqueId'
          description: The details of the chain of the native asset.
      type: object
      required:
      - type
      - chain
      title: TonNativeAssetIdentifierRequest
    ImportVaultUtxoOptions:
      properties:
        default_address_derivation_path:
          title: Default Address Derivation Path
          description: The BIP-32 derivation path of the default address.
          example: m/44/60/0/0/0
          type: string
          pattern: ^(m/44/[0-9]+/[0-9]+/[0-9]+/[0-9]+|m)$
        default_address_name:
          type: string
          title: Default Address Name
          description: The name of the default address.
        key_id:
          type: string
          format: uuid
          title: Key Id
          description: The ID of the imported key to use for the default address.
      type: object
      required:
      - default_address_name
      - key_id
      title: ImportVaultUtxoOptions
    ExternalVaultImportOptions:
      properties:
        origin:
          type: string
          const: external_signer
          title: Origin
          description: Discriminator for external signer vault creation.
        public_key_compressed:
          type: string
          title: Public Key Compressed
          description: Base64-encoded compressed public key.
        chain_code:
          title: Chain Code
          description: Base64-encoded 32-byte BIP32 chain code.
          type: string
      type: object
      required:
      - origin
      - public_key_compressed
      title: ExternalVaultImportOptions
    OwnedAsset:
      properties:
        priced_asset:
          $ref: '#/components/schemas/PricedAsset'
        balances:
          $ref: '#/components/schemas/Balances'
        balance:
          title: Balance
          deprecated: true
          type: string
          pattern: ^\d+$
          example: '1000000000000000000'
      type: object
      required:
      - priced_asset
      - balances
      title: OwnedAsset
    StarknetErc20AssetIdentifierRequest:
      properties:
        type:
          type: string
          const: erc20
          title: Type
          description: Erc20 asset identifier type.
        erc20:
          $ref: '#/components/schemas/StarknetAddressRequest'
          description: The Erc20 details.
      type: object
      required:
      - type
      - erc20
      title: StarknetErc20AssetIdentifierRequest
    ExchangeVaultState:
      type: string
      enum:
      - active
      - pending
      title: ExchangeVaultState
    TronTrc20AssetIdentifierRequest:
      properties:
        type:
          type: string
          const: trc20
          title: Type
          description: Trc20 asset identifier type.
        trc20:
          $ref: '#/components/schemas/TronAddressRequest'
          description: The Trc20 details.
      type: object
      required:
      - type
      - trc20
      title: TronTrc20AssetIdentifierRequest
    ExchangeChainUniqueId:
      type: string
      enum:
      - exchange_binance
      - exchange_bybit
      - exchange_coinbase_international
      - exchange_coinbase_us
      - exchange_okx
      - exchange_kraken
      title: ExchangeChainUniqueId
    ExchangePortfolio:
      properties:
        portfolio_id:
          type: string
          title: Portfolio Id
          description: The ID of the exchange portfolio.
        portfolio_name:
          type: string
          title: Portfolio Name
          description: The name of the exchange portfolio.
      type: object
      required:
      - portfolio_id
      - portfolio_name
      title: ExchangePortfolio
    CreateTronVaultRequest:
      properties:
        name:
          type: string
          minLength: 1
          title: Name
          description: The name of the vault.
        end_user_id:
          title: End User Id
          description: The end user id to create a vault for.This field is required for end-user vault creation, otherwise, it's optional. If not provided, the organization's default keyset will be used.
          type: string
          format: uuid
        vault_group_id:
          title: Vault Group Id
          description: The group to add this vault to. If not provided, the vault will be created in the Default vault group.
          type: string
          format: uuid
        import_options:
          description: 'Import options: use <VaultImportOrigin.IMPORTED_KEYS: ''imported_keys''> for organizations with imported keys, <VaultImportOrigin.EXTERNAL_SIGNER: ''external_signer''> to create a vault from an external public key and chain code.'
          oneOf:
          - $ref: '#/components/schemas/ImportVaultDefaultOptions'
          - $ref: '#/components/schemas/ExternalVaultImportOptions'
          discriminator:
            propertyName: origin
            mapping:
              external_signer: '#/components/schemas/ExternalVaultImportOptions'
              imported_keys: '#/components/schemas/ImportVaultDefaultOptions'
        import_vault:
          description: 'Additional information when creating a vault from an imported key. This field is relevant only for organizations using imported keys. Deprecated: use import_options with origin=imported_keys instead.'
          $ref: '#/components/schemas/ImportVaultDefaultOptions'
        type:
          type: string
          const: tron
          title: Type
          description: TRON vault type.
      type: object
      required:
      - name
      - type
      title: CreateTronVaultRequest
    CreateVaultAddressErrorType:
      type: string
      enum:
      - invalid_vault_type
      title: CreateVaultAddressErrorType
    SolanaSplTokenAssetIdentifierRequest:
      properties:
        type:
          type: string
          const: spl_token
          title: Type
          description: SPL token asset identifier type.
        token:
          $ref: '#/components/schemas/SolanaAddressRequest'
          description: The SPL token details.
      type: object
      required:
      - type
      - token
      title: SolanaSplTokenAssetIdentifierRequest
    CreateArchVaultRequest:
      properties:
        name:
          type: string
          minLength: 1
          title: Name
          description: The name of the vault.
        end_user_id:
          title: End User Id
          description: The end user id to create a vault for.This field is required for end-user vault creation, otherwise, it's optional. If not provided, the organization's default keyset will be used.
          type: string
          format: uuid
        vault_group_id:
          title: Vault Group Id
          description: The group to add this vault to. If not provided, the vault will be created in the Default vault group.
          type: string
          format: uuid
        type:
          type: string
          const: arch
          title: Type
          description: Arch vault type.
      type: object
      required:
      - name
      - type
      title: CreateArchVaultRequest
    VaultType:
      type: string
      enum:
      - aptos
      - arch
      - black_box
      - canton
      - cosmos
      - evm
      - safe
      - solana
      - stacks
      - starknet
      - stellar
      - sui
      - ton
      - tron
      - utxo
      - exchange
      title: VaultType
    CreateTonVaultRequest:
      properties:
        name:
          type: string
          minLength: 1
          title: Name
          description: The name of the vault.
        end_user_id:
          title: End User Id
          description: The end user id to create a vault for.This field is required for end-user vault creation, otherwise, it's optional. If not provided, the organization's default keyset will be used.
          type: string
          format: uuid
        vault_group_id:
          title: Vault Group Id
          description: The group to add this vault to. If not provided, the vault will be created in the Default vault group.
          type: string
          format: uuid
        import_options:
          description: 'Import options: use <VaultImportOrigin.IMPORTED_KEYS: ''imported_keys''> for organizations with imported keys, <VaultImportOrigin.EXTERNAL_SIGNER: ''external_signer''> to create a vault from an external public key and chain code.'
          oneOf:
          - $ref: '#/components/schemas/ImportVaultDefaultOptions'
          - $ref: '#/components/schemas/ExternalVaultImportOptions'
          discriminator:
            propertyName: origin
            mapping:
              external_signer: '#/components/schemas/ExternalVaultImportOptions'
              imported_keys: '#/components/schemas/ImportVaultDefaultOptions'
        import_vault:
          description: 'Additional information when creating a vault from an imported key. This field is relevant only for organizations using imported keys. Deprecated: use import_options with origin=imported_keys instead.'
          $ref: '#/components/schemas/ImportVaultDefaultOptions'
        type:
          type: string
          const: ton
          title: Type
          description: TON vault type.
      type: object
      required:
      - name
      - type
      title: CreateTonVaultRequest
    StarknetVaultState:
      type: string
      enum:
      - inactive
      - activating
      - active
      title: StarknetVaultState
    MpcVaultState:
      type: string
      enum:
      - active
      - archived
      title: MpcVaultState
    TronAddressRequest:
      properties:
        chain:
          $ref: '#/components/schemas/TronChainUniqueId'
          description: The chain details this address is of.
        base58_repr:
          type: string
          maxLength: 34
          minLength: 34
          pattern: ^T[a-km-zA-HJ-NP-Z1-9]+$
          title: Base58 Repr
          description: Base58 representation of the address in the chain.
          example: TJCnKsPa7y5okkXvQAidZBzqx3QyQ6sxMW
      type: object
      required:
      - chain
      - base58_repr
      title: TronAddressRequest
      description: Address represents a blockchain address.
    MasterAccount:
      properties:
        type:
          type: string
          const: master
          title: Type
          description: Exchange vault for a master account.
        api_key:
          type: string
          title: Api Key
          description: The API-key of this exchange account.
      type: object
      required:
      - type
      - api_key
      title: MasterAccount
    SuiAssetIdentifier:
      properties:
        type:
          type: string
          const: sui
          title: Type
          description: Sui asset identifier type.
        details:
          oneOf:
          - $ref: '#/components/schemas/SuiNativeAssetIdentifierRequest'
          - $ref: '#/components/schemas/SuiCoinAssetIdentifierRequest'
          discriminator:
            propertyName: type
            mapping:
              coin: '#/components/schemas/SuiCoinAssetIdentifierRequest'
              native: '#/components/schemas/SuiNativeAssetIdentifierRequest'
        chain:
          $ref: '#/components/schemas/EnrichedSuiChain'
      type: object
      required:
      - type
      - details
      - chain
      title: SuiAssetIdentifier
    ListVaultAddressesResponse:
      properties:
        total:
          type: integer
          title: Total
        page:
          type: integer
          title: Page
        size:
          type: integer
          title: Size
        addresses:
          items:
            $ref: '#/components/schemas/UtxoVaultAddress'
          type: array
          title: Addresses
      type: object
      required:
      - total
      - page
      - size
      - addresses
      title: ListVaultAddressesResponse
    CantonNativeAssetIdentifierRequest:
      properties:
        type:
          type: string
          const: native
          title: Type
          description: Canton asset identifier type.
        chain:
          $ref: '#/components/schemas/CantonChainUniqueId'
          description: The details of the chain of the native asset.
      type: object
      required:
      - type
      - chain
      title: CantonNativeAssetIdentifierRequest
    TronAssetIdentifier:
      properties:
        type:
          type: string
          const: tron
          title: Type
          description: TRON asset identifier type.
        details:
          oneOf:
          - $ref: '#/components/schemas/TronNativeAssetIdentifierRequest'
          - $ref: '#/components/schemas/TronTrc20AssetIdentifierRequest'
          discriminator:
            propertyName: type
            mapping:
              native: '#/components/schemas/TronNativeAssetIdentifierRequest'
              trc20: '#/components/schemas/TronTrc20AssetIdentifierRequest'
        chain:
          $ref: '#/components/schemas/EnrichedTronChain'
      type: object
      required:
      - type
      - details
      - chain
      title: TronAssetIdentifier
    SolanaNativeAssetIdentifierRequest:
      properties:
        type:
          type: string
          const: native
          title: Type
          description: Solana asset identifier type.
        chain:
          $ref: '#/components/schemas/SolanaChainUniqueId'
          description: The details of the chain of the native asset.
      type: object
      required:
      - type
      - chain
      title: SolanaNativeAssetIdentifierRequest
    EnrichedStarknetChain:
      properties:
        chain_type:
          type: string
          const: starknet
          title: Chain Type
          description: The type of the chain.
        unique_id:
          $ref: '#/components/schemas/StarknetChainUniqueId'
          description: The type of the Starknet-based chain.
        name:
          type: string
          minLength: 1
          title: Name
          description: The full blockchain name.
        native_currency_symbol:
          type: string
          minLength: 1
          title: Native Currency Symbol
          description: The native currency symbol.
          example: ETH
        native_currency_name:
          type: string
          minLength: 1
          title: Native Currency Name
          description: The native currency name.
          example: Ether
        blockchain_explorer:
          $ref: '#/components/schemas/BlockchainExplorer'
        logo_url:
          type: string
          maxLength: 2083
          minLength: 1
          format: uri
          title: Logo Url
          description: The logo URL of the chain.
        is_testnet:
          type: boolean
          title: Is Testnet
          description: Whether the chain is on a testnet.
        is_enabled:
          type: boolean
          title: Is Enabled
          description: Whether the chain is enabled.
      type: object
      required:
      - chain_type
      - unique_id
      - name
      - native_currency_symbol
      - native_currency_name
      - logo_url
      - is_testnet
      - is_enabled
      title: EnrichedStarknetChain
    CreateAptosVaultRequest:
      properties:
        name:
          type: string
          minLength: 1
          title: Name
          description: The name of the vault.
        end_user_id:
          title: End User Id
          description: The end user id to create a vault for.This field is required for end-user vault creation, otherwise, it's optional. If not provided, the organization's default keyset will be used.
          type: string
          format: uuid
        vault_group_id:
          title: Vault Group Id
          description: The group to add this vault to. If not provided, the vault will be created in the Default vault group.
          type: string
          format: uuid
        import_options:
          description: 'Import options: use <VaultImportOrigin.IMPORTED_KEYS: ''imported_keys''> for organizations with imported keys, <VaultImportOrigin.EXTERNAL_SIGNER: ''external_signer''> to create a vault from an external public key and chain code.'
          oneOf:
          - $ref: '#/components/schemas/ImportVaultDefaultOptions'
          - $ref: '#/components/schemas/ExternalVaultImportOptions'
          discriminator:
            propertyName: origin
            mapping:
              external_signer: '#/components/schemas/ExternalVaultImportOptions'
              imported_keys: '#/components/schemas/ImportVaultDefaultOptions'
        import_vault:
          description: 'Additional information when creating a vault from an imported key. This field is relevant only for organizations using imported keys. Deprecated: use import_options with origin=imported_keys instead.'
          $ref: '#/components/schemas/ImportVaultDefaultOptions'
        type:
          type: string
          const: aptos
          title: Type
          description: Aptos vault type.
      type: object
      required:
      - name
      - type
      title: CreateAptosVaultRequest
    PersonRef:
      properties:
        id:
          type: string
          format: uuid
          title: Id
          description: The unique identifier of the user in the Fordefi platform.
        user_type:
          type: string
          const: person
          title: User Type
          description: The type of user. Can be a person, or (in programmatic scenarios) an API user or API Signer.
        name:
          title: Name
          description: The name of the user.
          example: John Doe
          type: string
        email:
          type: string
          title: Email
          description: The email of the user.
        state:
          $ref: '#/components/schemas/UserState'
          description: The state of the user in the organization.
        role:
          $ref: '#/components/schemas/UserRole'
          description: The role of the user.
      type: object
      required:
      - id
      - user_type
      - email
      - state
      - role
      title: PersonRef
    SuiChainUniqueId:
      type: string
      enum:
      - sui_mainnet
      - sui_testnet
      title: SuiChainUniqueId
    StarknetAssetIdentifier:
      properties:
        type:
          type: string
          const: starknet
          title: Type
          description: Starknet asset identifier type.
        details:
          oneOf:
          - $ref: '#/components/schemas/StarknetNativeAssetIdentifierRequest'
          - $ref: '#/components/schemas/StarknetErc20AssetIdentifierRequest'
          discriminator:
            propertyName: type
            mapping:
              erc20: '#/components/schemas/StarknetErc20AssetIdentifierRequest'
              native: '#/components/schemas/StarknetNativeAssetIdentifierRequest'
        chain:
          $ref: '#/components/schemas/EnrichedStarknetChain'
      type: object
      required:
      - type
      - details
      - chain
      title: StarknetAssetIdentifier
    ArchAssetIdentifier:
      properties:
        type:
          type: string
          const: arch
          title: Type
          description: Arch asset identifier type.
        details:
          oneOf:
          - $ref: '#/components/schemas/ArchNativeAssetIdentifierRequest'
          - $ref: '#/components/schemas/ArchAplTokenAssetIdentifierRequest'
          discriminator:
            propertyName: type
            mapping:
              apl_token: '#/components/schemas/ArchAplTokenAssetIdentifierRequest'
              native: '#/components/schemas/ArchNativeAssetIdentifierRequest'
        chain:
          $ref: '#/components/schemas/EnrichedArchChain'
      type: object
      required:
      - type
      - details
      - chain
      title: ArchAssetIdentifier
    EvmNativeAssetIdentifierRequest:
      properties:
        type:
          type: string
          const: native
          title: Type
          description: EVM asset identifier type.
        chain:
          type: string
          minLength: 1
          title: EvmChainUniqueId
          description: The details of the chain of the native asset.
      type: object
      required:
      - type
      - chain
      title: EvmNativeAssetIdentifierRequest
    UtxoNativeAssetIdentifierRequest:
      properties:
        type:
          type: string
          const: native
          title: Type
          description: Utxo asset identifier type.
        chain:
          $ref: '#/components/schemas/UtxoChainUniqueId'
          description: The unique id of the chain of the asset.
      type: object
      required:
      - type
      - chain
      title: UtxoNativeAssetIdentifierRequest
    SolanaVault:
      properties:
        id:
          type: string
          format: uuid
          title: Id
          description: The unique identifier of the object in the Fordefi platform.
        created_at:
          type: string
          format: date-time
          title: Created At
          description: The date and time when the object was created.
        modified_at:
          type: string
          format: date-time
          title: Modified At
          description: The date and time when the object was last modified. Any change to any field of the resource is considered a modification.
        metadata:
          title: Metadata
          description: 'Metadata in a form: <str, bool | str | int | array[str]>.'
          additionalProperties:
            anyOf:
            - items:
                type: string
              type: array
            - type: string
            - type: integer
            - type: boolean
          type: object
        name:
          type: string
          title: Name
          description: The name of the vault.
        created_by:
          $ref: '#/components/schemas/UserRef'
          description: Details of the vault creator.
        vault_group:
          description: The vault group this vault belongs to.
          deprecated: true
          $ref: '#/components/schemas/VaultGroupRef'
        vault_groups:
          items:
            $ref: '#/components/schemas/VaultGroupRef'
          type: array
          title: Vault Groups
          description: The vault groups this vault belongs to.
        skip_indexing_reason:
          description: Reason why the vault is not being indexed.
          $ref: '#/components/schemas/SkipIndexingReason'
        is_external_signer:
          type: boolean
          title: Is External Signer
          description: Whether the vault uses an externally imported key (external signer).
          default: false
        native_assets:
          title: Native Assets
          description: List of native asset information for requested chains. Chain info is in asset_identifier.
          items:
            $ref: '#/components/schemas/OwnedAsset'
          type: array
        derivation_path:
          title: Derivation Path
          description: The BIP 44 derivation path of the vault.
          deprecated: true
          example: m/44/60/0/0/0
          type: string
        public_key_compressed:
          type: string
          title: Public Key Compressed
          description: 'The public key of the vault in its compressed form: <ul> <li>For ECDSA and Schnorr keys, the public key is represented as 33 bytes (0x02 or 0x03 followed by the x-coordinate) according to the [SEC1 standard](https://www.secg.org/SEC1-Ver-1.0.pdf). <li>For EdDSA, the public key is represented as a 32-byte value, as defined by [RFC 8032](https://datatracker.ietf.org/doc/html/rfc8032). </ul>'
          example: SGVsbG8=
        derivation_info:
          $ref: '#/components/schemas/VaultDerivationInfo'
          description: The derivation info of the vault.
        key_holder:
          description: The user who owns the keyset of the vault. If not provided, the vault is owned by the organization.
          $ref: '#/components/schemas/EndUserRef'
        origin_type:
          $ref: '#/components/schemas/VaultOriginType'
          description: The origin type of the vault.
        state:
          $ref: '#/components/schemas/MpcVaultState'
          description: New state of the vault.
        type:
          type: string
          const: solana
          title: Type
          description: Solana vault type.
        address:
          type: string
          maxLength: 44
          minLength: 32
          pattern: ^[a-km-zA-HJ-NP-Z1-9]+$
          title: Address
          description: The address of the vault in the Solana blockchain.
          example: 4fYNw3dojWmQ4dXtSGE9epjRGy9pFSx62YypT7avPYvA
      type: object
      required:
      - id
      - created_at
      - modified_at
      - name
      - created_by
      - vault_groups
      - are_all_chains_disabled
      - derivation_path
      - public_key_compressed
      - derivation_info
      - origin_type
      - state
      - type
      - address
      title: SolanaVault
      description: Represents a Solana vault in the Fordefi platform
    CosmosNativeAssetIdentifierRequest:
      properties:
        type:
          type: string
          const: native
          title: Type
          description: Cosmos asset identifier type.
        chain:
          $ref: '#/components/schemas/CosmosChainUniqueId'
          description: The unique id of the chain of the asset.
      type: object
      required:
      - type
      - chain
      title: CosmosNativeAssetIdentifierRequest
    Export:
      properties:
        id:
          type: string
          format: uuid
          title: Id
          description: ID of the export.
        creation_time:
          type: string
          format: date-time
          title: Creation Time
          description: The date and time when the object was created.
        type:
          $ref: '#/components/schemas/ExportType'
          description: Type of the export.
        state:
          $ref: '#/components/schemas/ExportState'
          description: The current state of the export.
        organization_id:
          type: string
          format: uuid
          title: Organization Id
          description: The id of the organization.
        user_id:
          type: string
          title: User Id
          description: The id of the user.
        resource_type:
          $ref: '#/components/schemas/ExportedResource'
          description: The type of the resource being exported.
        successful_items_count:
          type: integer
          title: Successful Items Count
          description: The number of items that were successfully exported.
        failed_items_count:
          type: integer
          title: Failed Items Count
          description: The number of items that failed to be exported.
        total_items_count:
          type: integer
          title: Total Items Count
          description: The total number of items to be exported.
        request_id:
          type: string
          title: Request Id
          description: The request id of the export.
        download_url:
          type: string
          title: Download Url
          description: The download url of the export.
        expiration_time:
          type: string
          format: date-time
          title: Expiration Time
          description: The date and time when the object will expire.
      type: object
      required:
      - id
      - creation_time
      - type
      - state
      - organization_id
      - user_id
      - resource_type
      - successful_items_count
      - failed_items_count
      - total_items_count
      - request_id
      - download_url
      - expiration_time
      title: Export
    ValidationError:
      properties:
        title:
          type: string
          title: Title
          description: Human-readable error message.
        detail:
          items:
            $ref: '#/components/schemas/ValidationErrorDetail'
          type: array
          title: Detail
        full_detail:
          title: Full Detail
          description: Full error message with additional details, if available.
          type: string
        request_id:
          title: Request Id
          description: Request ID - for debugging purposes.
          type: string
      type: object
      required:
      - title
      - detail
      title: ValidationError
    EvmAssetIdentifier:
      properties:
        type:
          type: string
          const: evm
          title: Type
          description: Asset identifier type.
        details:
          oneOf:
          - $ref: '#/components/schemas/EvmNativeAssetIdentifierRequest'
          - $ref: '#/components/schemas/EvmErc20AssetIdentifierRequest'
          - $ref: '#/components/schemas/EvmErc721AssetIdentifierRequest'
          - $ref: '#/components/schemas/EvmErc1155AssetIdentifierRequest'
          - $ref: '#/components/schemas/EvmHyperLiquidAssetIdentifierRequest'
          discriminator:
            propertyName: type
            mapping:
              erc1155: '#/components/schemas/EvmErc1155AssetIdentifierRequest'
              erc20: '#/components/schemas/EvmErc20AssetIdentifierRequest'
              erc721: '#/components/schemas/EvmErc721AssetIdentifierRequest'
              hyperliquid: '#/components/schemas/EvmHyperLiquidAssetIdentifierRequest'
              native: '#/components/schemas/EvmNativeAssetIdentifierRequest'
        chain:
          $ref: '#/components/schemas/EnrichedEvmChain'
      type: object
      required:
      - type
      - details
      - chain
      title: EvmAssetIdentifier
    EndUserRef:
      properties:
        id:
          type: string
          format: uuid
          title: Id
          description: The unique identifier of the user in the Fordefi platform.
        user_type:
          type: string
          const: end_user
          title: User Type
          description: The type of the user.
        external_id:
          type: string
          title: External Id
          description: External id of the user.
          example: user|1234
        state:
          type: string
          enum:
          - active
          - deleted
          title: State
          description: The state of the user.
      type: object
      required:
      - id
      - user_type
      - external_id
      - state
      title: EndUserRef
    AptosCoinAssetIdentifierRequest:
      properties:
        type:
          type: string
          const: coin
          title: Type
          description: Legacy coin asset identifier type.
        coin_type:
          $ref: '#/components/schemas/AptosCoinTypeRequest'
          description: The legacy coin details.
      type: object
      required:
      - type
      - coin_type
      title: AptosCoinAssetIdentifierRequest
    EnrichedSolanaChain:
      properties:
        chain_type:
          type: string
          const: solana
          title: Chain Type
          description: The type of the chain.
        unique_id:
          $ref: '#/components/schemas/SolanaChainUniqueId'
          description: The type of the Solana-based chain.
        name:
          type: string
          minLength: 1
          title: Name
          description: The full blockchain name.
        native_currency_symbol:
          type: string
          minLength: 1
          title: Native Currency Symbol
          description: The native currency symbol.
          example: ETH
        native_currency_name:
          type: string
          minLength: 1
          title: Native Currency Name
          description: The native currency name.
          example: Ether
        blockchain_explorer:
          $ref: '#/components/schemas/BlockchainExplorer'
        logo_url:
          type: string
          maxLength: 2083
          minLength: 1
          format: uri
          title: Logo Url
          description: The logo URL of the chain.
        is_testnet:
          type: boolean
          title: Is Testnet
          description: Whether the chain is on a testnet.
        is_enabled:
          type: boolean
          title: Is Enabled
          description: Whether the chain is enabled.
      type: object
      required:
      - chain_type
      - unique_id
      - name
      - native_currency_symbol
      - native_currency_name
      - logo_url
      - is_testnet
      - is_enabled
      title: EnrichedSolanaChain
    CreateStarknetVaultRequest:
      properties:
        name:
          type: string
          minLength: 1
          title: Name
          description: The name of the vault.
        end_user_id:
          title: End User Id
          description: The end user id to create a vault for.This field is required for end-user vault creation, otherwise, it's optional. If not provided, the organization's default keyset will be used.
          type: string
          format: uuid
        vault_group_id:
          title: Vault Group Id
          description: The group to add this vault to. If not provided, the vault will be created in the Default vault group.
          type: string
          format: uuid
        import_options:
          description: 'Import options: use <VaultImportOrigin.IMPORTED_KEYS: ''imported_keys''> for organizations with imported keys, <VaultImportOrigin.EXTERNAL_SIGNER: ''external_signer''> to create a vault from an external public key and chain code.'
          oneOf:
          - $ref: '#/components/schemas/ImportVaultDefaultOptions'
          - $ref: '#/components/schemas/ExternalVaultImportOptions'
          discriminator:
            propertyName: origin
            mapping:
              external_signer: '#/components/schemas/ExternalVaultImportOptions'
              imported_keys: '#/components/schemas/ImportVaultDefaultOptions'
        import_vault:
          description: 'Additional information when creating a vault from an imported key. This field is relevant only for organizations using imported keys. Deprecated: use import_options with origin=imported_keys instead.'
          $ref: '#/components/schemas/ImportVaultDefaultOptions'
        type:
          type: string
          const: starknet
          title: Type
          description: Starknet vault type.
      type: object
      required:
      - name
      - type
      title: CreateStarknetVaultRequest
    EcdsaSecp256k1BlackBoxVault:
      properties:
        type:
          type: string
          const: ecdsa_secp256k1
          title: Type
          description: ECDSA over the secp256k1 curve signing scheme.
      type: object
      required:
      - type
      title: EcdsaSecp256k1BlackBoxVault
    TonJettonAssetIdentifierRequest:
      properties:
        type:
          type: string
          const: jetton
          title: Type
          description: Jetton asset identifier type.
        jetton:
          $ref: '#/components/schemas/TonAddressRequest'
          description: The Jetton details.
      type: object
      required:
      - type
      - jetton
      title: TonJettonAssetIdentifierRequest
    ExportState:
      type: string
      enum:
      - created
      - in_progress
      - aborted
      - ready
      - error
      title: ExportState
    AptosVault:
      properties:
        id:
          type: string
          format: uuid
          title: Id
          description: The unique identifier of the object in the Fordefi platform.
        created_at:
          type: string
          format: date-time
          title: Created At
          description: The date and time when the object was created.
        modified_at:
          type: string
          format: date-time
          title: Modified At
          description: The date and time when the object was last modified. Any change to any field of the resource is considered a modification.
        metadata:
          title: Metadata
          description: 'Metadata in a form: <str, bool | str | int | array[str]>.'
          additionalProperties:
            anyOf:
            - items:
                type: string
              type: array
            - type: string
            - type: integer
            - type: boolean
          type: object
        name:
          type: string
          title: Name
          description: The name of the vault.
        created_by:
          $ref: '#/components/schemas/UserRef'
          description: Details of the vault creator.
        vault_group:
          description: The vault group this vault belongs to.
          deprecated: true
          $ref: '#/components/schemas/VaultGroupRef'
        vault_groups:
          items:
            $ref: '#/components/schemas/VaultGroupRef'
          type: array
          title: Vault Groups
          description: The vault groups this vault belongs to.
        skip_indexing_reason:
          description: Reason why the vault is not being indexed.
          $ref: '#/components/schemas/SkipIndexingReason'
        is_external_signer:
          type: boolean
          title: Is External Signer
          description: Whether the vault uses an externally imported key (external signer).
          default: false
        native_assets:
          title: Native Assets
          description: List of native asset information for requested chains. Chain info is in asset_identifier.
          items:
            $ref: '#/components/schemas/OwnedAsset'
          type: array
        derivation_path:
          title: Derivation Path
          description: The BIP 44 derivation path of the vault.
          deprecated: true
          example: m/44/60/0/0/0
          type: string
        public_key_compressed:
          type: string
          title: Public Key Compressed
          description: 'The public key of the vault in its compressed form: <ul> <li>For ECDSA and Schnorr keys, the public key is represented as 33 bytes (0x02 or 0x03 followed by the x-coordinate) according to the [SEC1 standard](https://www.secg.org/SEC1-Ver-1.0.pdf). <li>For EdDSA, the public key is represented as a 32-byte value, as defined by [RFC 8032](https://datatracker.ietf.org/doc/html/rfc8032). </ul>'
          example: SGVsbG8=
        derivation_info:
          $ref: '#/components/schemas/VaultDerivationInfo'
          description: The derivation info of the vault.
        key_holder:
          description: The user who owns the keyset of the vault. If not provided, the vault is owned by the organization.
          $ref: '#/components/schemas/EndUserRef'
        origin_type:
          $ref: '#/components/schemas/VaultOriginType'
          description: The origin type of the vault.
        state:
          $ref: '#/components/schemas/MpcVaultState'
          description: New state of the vault.
        type:
          type: string
          const: aptos
          title: Type
          description: Aptos vault type.
        address:
          type: string
          maxLength: 66
          minLength: 66
          pattern: ^0[xX][a-fA-F0-9]+$
          title: Address
          description: The address of the vault on Aptos chain types.
          example: '0x3300c18e7b931bdfc73dccf3e2d043ad1c9d120c777fff5aeeb9956224e5247a'
      type: object
      required:
      - id
      - created_at
      - modified_at
      - name
      - created_by
      - vault_groups
      - are_all_chains_disabled
      - derivation_path
      - public_key_compressed
      - derivation_info
      - origin_type
      - state
      - type
      - address
      title: AptosVault
      description: Represents an Aptos vault in the Fordefi platform
    VaultDerivationInfo:
      properties:
        derivation_path:
          type: string
          pattern: ^(m/44/[0-9]+/[0-9]+/[0-9]+/[0-9]+|m)$
          title: Derivation Path
          description: The BIP 44 derivation path of the vault.
          example: m/44/60/0/0/0
        master_public_key:
          $ref: '#/components/schemas/MasterPublicKey'
          description: The public key of the vault.
      type: object
      required:
      - derivation_path
      - master_public_key
      title: VaultDerivationInfo
    SolanaChainUniqueId:
      type: string
      enum:
      - solana_mainnet
      - solana_devnet
      - solana_eclipse_mainnet
      - solana_fogo_mainnet
      - solana_fogo_testnet
      title: SolanaChainUniqueId
    UtxoAddressBalance:
      properties:
        address:
          $ref: '#/components/schemas/UtxoAddress'
          description: The address of the vault on the utxo chain.
        balances:
          $ref: '#/components/schemas/Balances'
          description: The balances of the address.
        priced_asset:
          $ref: '#/components/schemas/PricedAsset'
          description: The priced asset of the address.
      type: object
      required:
      - address
      - balances
      - priced_asset
      title: UtxoAddressBalance
    CreateSafeVaultRequest:
      properties:
        name:
          type: string
          minLength: 1
          title: Name
          description: The name of the vault.
        end_user_id:
          title: End User Id
          description: The end user id to create a vault for.This field is required for end-user vault creation, otherwise, it's optional. If not provided, the organization's default keyset will be used.
          type: string
          format: uuid
        vault_group_id:
          title: Vault Group Id
          description: The group to add this vault to. If not provided, the vault will be created in the Default vault group.
          type: string
          format: uuid
        type:
          type: string
          const: safe
          title: Type
          description: Safe vault type.
        address:
          type: string
          pattern: ^0x[a-fA-F0-9]{40}$
          title: Address
          description: The address of the Safe multisig wallet to import.
      type: object
      required:
      - name
      - type
      - address
      title: CreateSafeVaultRequest
      description: Request to create a Safe vault via POST /api/v1/vaults.
    VaultRef:
      properties:
        id:
          type: string
          format: uuid
          title: Id
          description: The unique identifier of the vault in the Fordefi platform.
        vault_group_id:
          title: Vault Group Id
          description: The unique identifier of the vault group this vault belongs to.
          deprecated: true
          type: string
          format: uuid
        vault_group_ids:
          items:
            type: string
            format: uuid
          type: array
          title: Vault Group Ids
          description: The unique identifiers of the vault groups this vault belongs to.
        name:
          type: string
          title: Name
          description: The name of the vault.
        address:
          title: Address
          description: The address of the vault.
          type: string
        state:
          $ref: '#/components/schemas/VaultState'
          description: The state of the vault.
[...]
